<div class="clock">
  <span>Local time</span>
  <div id="current-time"></div>
  <div class="server-time-wrapper">
    <select id="timezone-select"></select>
  </div>
</div>

<style>
  .clock {
    margin-inline-start: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 300px;

    font-size: 1.5rem;
    text-align: center;

    color: hsl(var(--header));
  }

  .clock span {
    color: hsl(var(--white));
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    bottom: -.25rem;
  }

  #current-time {
    /* margin-inline-start: auto; */
  }

  .server-time-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
  }

  #timezone-select {
    border-radius: 0.25rem;
    font-family: inherit;
    padding-block: 0.25rem;
    padding-inline-start: 0.5rem;
    border: none;
    font-size: 0.9rem;
  }

  #timezone-select:is(:hover, :focus-visible) {
    border: none;
    outline: 2px solid hsl(var(--important));
    outline-offset: 2px;
  }
</style>

<script lang="js">
  document.addEventListener("DOMContentLoaded", () => {
    const select = document.querySelector("#timezone-select");
    for (let i = -12; i <= 14; i++) {
      const date = new Date();
      const offset = i * 60;
      date.setUTCMinutes(date.getUTCMinutes() + offset);
      const timeString = date.toUTCString().split(" ")[4];
      const hoursAndMinutes = timeString.slice(0, 5);

      const option = document.createElement("option");
      option.value = i;
      option.textContent = `GMT${i >= 0 ? "+" : ""}${i} (${hoursAndMinutes})`;
      select.appendChild(option);
    }

    const savedTimezone = localStorage.getItem("timezone");
    if (savedTimezone !== null) {
      select.value = savedTimezone;
    } else {
      const date = new Date();
      const offset = date.getTimezoneOffset();
      const gmtOffset = -offset / 60;
      select.value = gmtOffset;
    }

    select.addEventListener("change", () => {
      localStorage.setItem("timezone", select.value);
    });

    function clock() {
      const currentTimeElement = document.querySelector("#current-time");
      const date = new Date();
      const offset = parseInt(select.value, 10) * 60;
      date.setUTCMinutes(date.getUTCMinutes() + offset);
      const timeString = date.toUTCString().split(" ")[4];
      currentTimeElement.textContent = timeString;
    }

    setInterval(clock, 1000);
  });
</script>
