<div class="clock">
  <span class="time-text">Local time</span>
  <div id="current-time"></div>
  <!-- <div class="server-time-wrapper">
    <select id="timezone-select"></select>
  </div> -->
</div>

<style>
  .clock {
    margin-inline-start: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 300px;

    font-size: 1.5rem;
    text-align: center;

    color: hsl(var(--header));
  }

  .time-text {
    color: hsl(var(--white));
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    bottom: -0.25rem;
  }

  .server-time-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
  }

  #timezone-select {
    border-radius: 0.25rem;
    font-family: inherit;
    padding-block: 0.25rem;
    padding-inline-start: 0.5rem;
    border: none;
    font-size: 0.9rem;
  }

  #timezone-select:is(:hover, :focus-visible) {
    border: none;
    outline: 2px solid hsl(var(--important));
    outline-offset: 2px;
  }
</style>