<header class="build header-container" style="background-image: url('../assets/img/bg/tinywow_ragnarok-x-game-class-hd-wallpaper-1920x1080-uhdpaper.com-31.0_b_6942489.webp');" role="banner">
    <button class="deploy-content-table" type="button" data-bs-toggle="collapse" data-bs-target="#Content-Table" aria-expanded="false" aria-controls="Content-Table"><i class="fa-solid fa-table"></i> Content table</button>
    <div class="headers-wrapper">
        <div>Nova Ragnarok</div>
        <h1 class="header">Wind Cutter</h1>
        <h2><b>PVE</b> <span>• Rune Knight</span></h2>
    </div>
    <span class="updated-date-title">Last updated:</span>
    <span class="updated-date">22/October/2022</span>
    <nav class="content-table" role="navigation">
        <a class="link" aria-current="page" href="#Equipment">Equipment</a>
        <a class="link" href="#Stats">Stats</a>
        <a class="link position-relative" href="#Consumables">Consumables</a>
        <a class="link position-relative" href="#New-Player">New Player <span class="wip">wip</span></a>
    </nav>
</header>

<div class="collapse" id="Content-Table" aria-label="Full content table list" role="navigation">
    <div class="content-table-list">
        <div><a href="#Introduction" class="">Introduction</a></div>
        <div><a href="#Data" class="">Data</a></div>
        <div><a href="#Equipment" class="">Equipment</a></div>
        <div><a href="#Calculations" class="">Calculations</a></div>
        <div><a href="#Status" class="">Status</a></div>
        <div><a href="#Battle-Stats" class="">Battle Stats</a></div>
        <div><a href="#Skills" class="">Skills</a></div>
        <div><a href="#Consumables" class="">Consumables</a></div>
        <div><a href="#Autoloot" class="">Autoloot</a></div>
        <div><a href="#Farming-Equipment">Farming Equip</a></div>
        <div><a href="#New-Player" class="">New Player</a></div>
    </div>
</div>

<style>
header {
  margin-top: 5em;
}

.header-container {
  width: 100%;
  max-width: 1000px;
  padding: 0em;

  background-color: hsl(var(--container-dark));

  border-radius: 0 0 .5em .5em;
}

.build {
  position: relative;
  isolation: isolate;

  background-position: 50% 45%;

  border-radius: .5em .5em 0 0 !important;
}

.build::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: hsl(var(--container-dark));
  opacity: 0.7;

  border-radius: .5em .5em 0 0;
}

.updated-date-title {
  position: absolute;
  font-size: .75rem;
  right: 5px;
  bottom: 60px;
  color: hsl(var(--light), 70%);
  text-transform: uppercase;
  font-weight: 700;
}

.updated-date {
  position: absolute;
  font-size: .75rem;
  right: 5px;
  bottom: 45px;
  color: hsl(var(--light), 70%);
  text-transform: uppercase;
  font-weight: 700;
}

.headers-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-weight: 700;
}

.headers-wrapper h1 {
  font-size: 1.5rem;
}

.headers-wrapper h2,
.headers-wrapper div {
  font-size: 1rem;
  margin: 0;
}

.build h3 > span {
  color: hsl(var(--light));
}

.content-table {
  display: flex;
  justify-content: center;
  text-align: center;
  
  background-color: hsl(var(--bg-dark));
  flex-wrap: wrap;
  word-break: keep-all;
  font-size: 1.1rem;
}

.content-table .link {
  width: 10em;
  padding: .5em;
}

.deploy-content-table {
  position: absolute;
  right: 5px;
  top: 5px;

  padding: .25em .5em 0;

  display: flex;
  align-items: center;
  gap: .5em;
  
  color: hsl(var(--text-gray));
  background-color: hsl(var(--bg-dark), 50%);
  border: none;
  border-radius: .25em;

  font-size: .85rem;
  text-transform: uppercase;

  transition: 100ms linear;
}

.deploy-content-table:hover {
  background-color: hsl(var(--bg-dark));
}

.deploy-content-table:active {
  translate: 0 2px;
}

@media only screen and (max-width: 990px) {
  .content-table .link {
    width: 50% !important;
    outline: .1ex solid hsl(var(--light), 5%);
    outline-offset: -.2ex;
  }

  .updated-date-title {
    bottom: 105px;
  }

  .updated-date {
    bottom: 90px;
  }
}

@media only screen and (max-width: 400px) {
  .content-table .link {
    width: 100% !important;
    outline: .1ex solid hsl(var(--light), 5%);
    outline-offset: -.2ex;
  }

  .updated-date-title {
    bottom: 195px;
  }

  .updated-date {
    bottom: 180px;
  }
}

.content-table a {
  text-decoration: none;
  color: hsl(var(--link-light));
}

.content-table a:hover {
  background-color: hsl(var(--container-dark));
}

#Content-Table {

  width: 100%;
  max-width: 1000px;
  background-color: hsl(var(--container-dark));
}

.content-table-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;

  padding: .5em;
}

.content-table-list a {
  color: hsl(var(--text-gray));
  text-decoration: none;
}

.content-table-list a:hover {
  color: hsl(var(--text-gray), 50%);
  text-decoration: underline;
}   
</style>