html {
    overflow-x: hidden;
  }

/* Utility classes */
.stroked {
    text-decoration: line-through;
    opacity: 0.5;
}

.npc {
    padding: .2em .35em;
    color: hsl(var(--text)) !important;
    background-color: hsl(var(--main-light-3));
    border-radius: .25em;
    font-size: .85rem;
}

.mob {
    padding: .2em .35em;
    color: hsl(var(--white)) !important;
    background-color: hsl(var(--important));
    border-radius: .25em;
    font-size: .85rem;
}

.market {
    padding: .25em .35em;
    color: hsl(var(--white)) !important;
    background-color: hsl(var(--header));
    border-radius: .25em;
    font-size: .85rem;
}

.location {
    padding: .2em .35em;
    color: hsl(var(--white)) !important;
    background-color: hsl(var(--low-focus));
    border-radius: .25em;
    font-size: .85rem;
}

.title {
    margin: 0 !important;

    
    color: hsl(var(--header)) !important;
    font-size: 1.25rem !important;
    font-weight: 700 !important;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-column: auto;
    grid-template-columns: 1fr;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    position: relative;
    
    width: 100vw;
    min-height: 120vh;
    margin: auto;
    padding: 0;

    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;

    color: hsl(var(--white));
    background-color: hsl(var(--main-dark));
}

.body-container {
    width: 1200px;
    max-width: 100%;

    margin: 2.5rem auto;
    padding: 1rem 1rem 0;

    background-color: hsl(var(--main-light-1));
    border-radius: .5rem;
}

.body-container h1 {
  display: inline;
  margin: 0;
  margin-inline-end: .25em;

  color: hsl(var(--header));

  font-size: 2rem;
  font-weight: 700;

  position: relative;
}

.body-container h2 {
    display: flex;
    align-items: center;
    gap: .5em;

    font-weight: 700;
    font-size: 1.5rem;

    margin: 0;
    margin-bottom: .25em;

    color: hsl(var(--header));
}

.body-container i {
    color: hsl(var(--white));
}

@media only screen and (max-width: 1200px) {
    .body-container {
        padding: 1rem .5rem 0;
        border-radius: 0;
    }
}

@media only screen and (max-width: 570px) {
    .body-container {
        padding: 3em 1em;
    }
}

small {
    font-size: .75rem;
    align-self: center;
    color: hsl(var(--low-focus));
    font-weight: 700;
}

/* Recipes grid */
.grid-dish-wrapper {
    display: grid;
    grid-column: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
    place-content: center;
}

@media only screen and (max-width: 880px) {
    .grid-dish-wrapper {
        grid-template-columns: repeat(3 , 1fr);
    }
}

@media only screen and (max-width: 570px) {
    .grid-dish-wrapper {
        grid-template-columns: repeat(2 , 1fr);
    }
}

@media only screen and (max-width: 420px) {
    .grid-dish-wrapper {
        grid-template-columns: repeat(1 , 1fr);
    }
}

.grid-dish-wrapper > div {
    display: flex;
    align-items: center;

    color: hsl(var(--text));
    background-color: hsl(var(--main-light-2));
    border-radius: 0.5em;

    cursor: pointer;
    user-select: none;

    transition: 300ms linear;
}

.grid-dish-wrapper label {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: .5em;

    width: 100%;
    padding: 0.5em 2em;
    
    cursor: pointer;
}

label > img {
    align-self: center;
    margin: 0;
    padding: 0;
}

.grid-dish-wrapper> div.container-switch {
    color: hsl(var(--white));
    background: hsl(var(--important));
}

/* Ingredients grid */
.ingredients-container {
    margin-block-start: 2em;
}

.ingredients-container h2 {
    display: flex;
    align-items: center;
    gap: .5em;

    font-weight: 700;
    font-size: 1.5rem;

    margin: 0;
    margin-bottom: .5em;

    color: hsl(var(--header));
}

@media only screen and (max-width: 766px) {

    .ingredients-container h2 {
        margin-bottom: 0;
    }

}

.ingredients-container i {
    color: hsl(var(--white));
}

.ingredients-container > div {
    padding: 1em;
    background-color: hsl(var(--main-light-2));
    border-radius: .5em;
}

.ingredients-container b {
    font-weight: 700;
}

.ingredients-container > div p {
    margin: 0;
    padding: 0;

    margin-block-end: 1em;
    
    font-size: .9rem;
    color: hsl(var(--text));
}

.ingredients-container > div p:nth-of-type(2) {
    margin-block-end: 0;
}

.ingredients-container > div > p > img {
    width: 24px;
    height: 24px;
}

.grid-ingredient-wrapper {
    display: grid;
    grid-column: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
    place-content: center;
    margin-block-start: 1rem;
}

.grid-ingredient-wrapper:has(div:is(.visible)) {
    padding-block-end: 1rem;
}

@media only screen and (max-width: 1200px) {
    .grid-ingredient-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 880px) {
    .grid-ingredient-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 680px) {
    .grid-ingredient-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

.ingredient-list {
    display: flex;
    justify-content: space-between;
    gap: 1em;

    height: fill;
    padding: 1em;

    border-radius: .5em;
    color: hsl(var(--text));
    background-color: hsl(var(--main-light-2));
}

.ingredient-list ul:nth-child(1) {
    margin: 0;
    padding: 0;
}

.ingredient-list ul:nth-child(1) li {
    display: flex;
    gap: .5em;

    user-select: none;
    cursor: pointer;
}

.ingredient-list ul:nth-child(1) img {
    justify-self: end;
    width: 24px;
    height: 24px;
}

.ingredient-list span {
    width: 2em;

    font-weight: 700;
    color: hsl(var(--number));
    text-align: center;
}

.ingredient-list .btn-plus {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 30px;
    
    background-color: transparent;

    border: none;
    border-radius: .5em;
}

.ingredient-list .btn-plus > i {
    margin: auto;
    color: hsl(var(--text));
}

.ingredient-list .btn-plus:is(:hover, :active, :focus) i {
    color: hsl(var(--text), 70%);
}

/* Modal */
.modal-content {
    color: hsl(var(--text));
    background-color: hsl(var(--main-light-1));
}

.modal-header {
    border: none;
    margin: 0;
    padding: 1em;
    
    color: hsl(var(--header));
    background-color: hsl(var(--main-dark));
    font-weight: 700;
}

.modal-header h5 {
    display: flex;
    align-items: center;
    gap: .5em;
}

.modal-header img {
    width: 24px;
    height: 24px;
}

.modal-body {
    padding: 0 1em 1em 1em;
}

.modal-body table {
    color: hsl(var(--text));
    border-color: hsl(var(--black), 20%);
}

.modal-body table > thead > tr > th:nth-child(4) {
    text-align: center;
}

.modal-body table > thead > tr > th {
    padding-bottom: .25em;
}

.modal-body table > tbody > th {
    font-weight: 700;
}

.modal-body table > tbody > tr:nth-child(-n+1) > * {
    padding-top: 1em;
}

.modal-body table > tbody > tr > td:nth-child(4) {
    text-align: center;
}

.modal-body table > tbody > tr:nth-child(-n+1) {
    border-top: .1em;
    border-style: solid;
    border-color: white;
}

.modal-body a {
    text-decoration: none;
    color: hsl(var(--text));
}

.modal-body a:hover {
    color: hsl(var(--text), 70%);
}

.wiki-article {
  position: fixed;
  bottom: 30px;
  right: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate((-50%, -50%));

  width: 50px;
  height: 50px;

  background-color: hsl(var(--important), 70%);
  border-radius: 50%;

  z-index: 1000;
}

.wiki-article a {
  color: hsl(var(--white));
  font-size: 1.25rem;
  text-decoration: none;
}

.wiki-article:hover {
  background-color: hsl(var(--important));
}