body {
  overflow: hidden;
}

main {
    background-image: url("../assets/img/bg/tinywow_wallpaperflare.com_wallpaper_7445962.webp");
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  
    position: relative;
    isolation: isolate;

    width: 100%;
    height: 100vh;

    text-align: center;
  }
  
  main::after {
    content: "";
    position: absolute;
    background-color: hsl(var(--bg-dark));
    inset: 0;
    z-index: -2;
    opacity: 0.75;
  }

  .welcome-title {
    font-size: 4rem;
    word-break: keep-all;
  }

  .welcome-title span {
    color: hsl(var(--header-light));
    font-weight: 700;
  }

  .welcome-sub-title {
    font-size: 1.5rem;
  }
