body {
      background-image: linear-gradient(
        0deg,
        hsl(var(--main-dark)) 30%,
        transparent
      ),
      url("../assets/img/bg/tinywow_ragnarok-x-game-class-hd-wallpaper-1920x1080-uhdpaper.com-31.0_b_6942489.webp");

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-repeat: repeat-x;
    background-position: top center;
    
    width: 100vw;
    min-height: 120vh;
    margin: auto;
    padding: 0 1rem;

    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;

    color: hsl(var(--text));
    background-color: hsl(var(--main-dark));

    position: relative;
    isolation: isolate;
}

body::after {
  content: "";
  position: absolute;
  background-color: hsl(var(--main-dark));
  inset: 0;
  z-index: -2;
  opacity: 0.91;
}

@media only screen and (max-width: 870px) {
  body {
    padding: 0;
  }
}

main {
    width: 1000px;
    max-width: 100%;

    margin: 0 auto;
    margin-block-end: 5rem;
    background-color: hsl(var(--main-light-1));
    border-radius: .5rem;

    box-shadow: 
    0 1px 2px hsl(var(--main-dark), 30%),
    0 1px 3px hsl(var(--main-dark), 30%);
}
.utility-toolbar {
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 1000px;
  margin: 5rem 0 0;
}

.pick-a-theme {
  display: flex;
  align-items: center;

  margin-inline-start: auto;
  padding: .25em .25em .25em .75em;
  
  background-color: hsl(var(--main-dark));
  border-radius: .5em 0 0 0;
  font-size: 1rem;
}

.theme-changer>fieldset {
  display: flex;
  gap: 2rem;

  width: fit-content;
  margin-inline: auto;
  padding: .5em 1.5em;

  background-color: hsl(var(--main-dark));
  border: 0;
  border-radius: 0 .5em 0 0;
}

.theme-changer input[type="radio"] {
  appearance: none;
  width: 1em;
  height: 1em;

  outline: 2px solid var(--radio-color, currentColor);
  outline-offset: 2px;
  border-radius: 50%;

  cursor: pointer;
}

.theme-changer input[type="radio"]:checked {
  background-color: var(--radio-color);
}

@media only screen and (max-width: 570px) {
  body {
    background-image:
      linear-gradient(0deg,
        hsl(var(--main-dark)) 70%, transparent),
      url("../assets/img/bg/tinywow_ragnarok-x-game-class-hd-wallpaper-1920x1080-uhdpaper.com-31.0_b_6942489.webp");
  }

  .utility-toolbar {
    flex-wrap: wrap;
  }

  .pick-a-theme {
    justify-content: center;
    width: 100%;
    padding: .25em .5em .25em .5em !important;
    border-radius: 0 !important;
    border-top: 1px solid hsl(var(--main-light-2), 80%);
  }

  .theme-changer {
    width: 100%;

  }

  .theme-changer>fieldset {
    justify-content: space-around;
    width: 100%;
    border-radius: 0;
    padding-bottom: 1em;
  }

  .theme-changer input[type="radio"] {
    width: 2em;
    height: 2em;
  }
}

.top-information {
  display: flex;

  position: relative;
  isolation: isolate;
  
  padding: 1rem;

  background-image:
  linear-gradient(90deg,
    hsl(var(--main-dark)) -10%, transparent),
  url('../assets/img/bg/tinywow_ragnarok-x-game-class-hd-wallpaper-1920x1080-uhdpaper.com-31.0_b_6942489.webp');
  background-position: 50% 35%;
  background-size: cover;
  
  overflow: hidden;
}

.top-information::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: -1px;
  background-color: hsl(var(--main-dark));
  opacity: 0.75;
}

.clock {
  margin-inline-start: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 150px;
  
  font-size: 1.5rem;
  text-align: center;
  
  color: hsl(var(--header));
  filter: contrast(200%) brightness(125%);
}

.clock span {
  color: hsl(var(--white));
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 900;
}

h1 {
  display: flex;
  align-items: center;

  color: hsl(var(--header));
  font-size: 2rem;
  border-radius: .5rem 0 0 0;
}

h1 img {
  width: 64px;
  height: auto;
}

h1 .timer {
  position: relative;
}

h1 .timer > span {
  position: absolute;
  font-size: .75rem;
  text-transform: uppercase;
  white-space: nowrap;
  bottom: -.5rem; right: 0;
}

h1 .timer > span span {
  text-transform: lowercase;
}

.mvp-timer {
  padding: 1rem;
}

#sort-container {
  display: flex;

  margin-block-start: 1rem;
}

#sort-container h2 {
  color: hsl(var(--header));
  font-size: 1.25rem;
  align-self: center;
}

#sort-container h3 {
  color: hsl(var(--text));
  font-size: 1rem;
  align-self: flex-end;
  margin-inline-end: 1rem;
}

#sort-container >:nth-child(2) {
  margin-inline-start: auto;
}

#sort-container button {
  text-decoration: none;
    border: none;

    color: hsl(var(--white));
    background-color: hsl(var(--main-dark));

    padding: 0.25em 1em;
}

#sort-container button:is(:hover, :focus-visible) {
  background-color: hsl(var(--important));
}

#sort-container button:is(:active) {
  background-color: hsl(var(--important), 80%);
}

.active {
  background-color: hsl(var(--important)) !important;
}

#mvp-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;

  min-height: 500px;

  padding: 1rem;
  border: 1px solid hsl(var(--text), 10%);
  border-radius: .25rem 0 .25rem .25rem;
}

@media only screen and (max-width: 570px) {
  #sort-container {
    flex-wrap: wrap;
  }

  #sort-container >:nth-child(1) {
    width: 50%;
  }

  #sort-container >:nth-child(2) {
    width: 50%;
    text-align: end;
    margin: 0;
  }

  #sort-container button {
    width: 50%;
      outline: 0.1ex solid hsl(var(--white), 5%);
      outline-offset: -0.1ex;
  }

  #mvp-container {
    border-radius: 0 0 .25rem .25rem;
  }
}

.mvp-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;

  max-width: 250px;

  background-color: hsl(var(--main-light-2));
  border-radius: .5rem;

  box-shadow: 
  0 1px 2px hsl(var(--main-dark), 30%),
  0 1px 3px hsl(var(--main-dark), 30%);
}

.mvp-card .mvp-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.mvp-card .mvp-header h2 {
  color: hsl(var(--header));
  font-weight: 900;
  font-size: 1.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  margin: 0;
  max-width: 8ch;
}

.mvp-card .mvp-header >:nth-child(2) {
  margin-inline-start: auto;
  margin-inline-end: .5rem;
}

.mvp-card .mvp-info {
  flex: 1 0 45%;

  display: flex;
  flex-direction: column;
  width: 150px;
}

.mvp-card .mvp-info img {
  max-width: 100%;
  max-height: 150px;
  aspect-ratio: 1/1;
  object-fit: scale-down;
}

.mvp-card .mvp-map {
  flex: 1 0 40%;
}

.mvp-card .mvp-respawn {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-block-start: .5rem;
}

.mvp-card .mvp-respawn >:nth-child(1) {
  order: 2;
  flex: 1 0 50%;
  color: hsl(var(--text), 70%);
  white-space: nowrap;
}

.mvp-card .mvp-respawn >:nth-child(2) {
  order: 1;
  flex: 1 0 50%;
  white-space: nowrap;
}

.mvp-card .respawn-timer {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: .25rem;
  background-color: hsl(var(--main-light));
  border-radius: .25rem;

  box-shadow: 
  0 1px 2px hsl(var(--main-dark), 30%),
  0 1px 3px hsl(var(--main-dark), 30%);
}

.mvp-card .respawn-timer >:nth-child(1) {
  color: hsl(var(--header));
  font-weight: 900;
}

.quick-toast {
  position: fixed;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  padding: .75rem 1rem;
  background-color: hsl(var(--important));
  color: hsl(var(--white));
  border-radius: .25rem;
  z-index: 1000;
  text-align: center;
}

.restart-button, .remove-button, #show-mvp-btn {
  align-self: flex-start;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 34px;
  min-height: 34px;

  color: hsl(var(--white));
  background-color: hsl(var(--important));
  border: none;
  border-radius: 0.25em;

  font-size: 1rem;
  box-shadow: 2px 2px 0 0 hsl(var(--text), 70%);
}

.restart-button::before {
  content: '\f2f9';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
}

.remove-button::before {
  content: '\f00d';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
}

.restart-button:is(:hover, :focus-visible),
.remove-button:is(:hover, :focus-visible),
#show-mvp-btn:is(:hover, :focus-visible) {
  background-color: hsl(var(--important), 80%);
}

.restart-button:active,
.remove-button:active,
#show-mvp-btn:active {
  translate: 2px 2px;
  box-shadow: none;
  background-color: hsl(var(--important));
}