body {
  background-image: linear-gradient(
      0deg,
      hsl(var(--main-dark)) 30%,
      transparent
    ),
    url("../assets/img/bg/tinywow_ragnarok-x-game-class-hd-wallpaper-1920x1080-uhdpaper.com-31.0_b_6942489.webp");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-repeat: repeat-x;
  background-position: top center;

  width: 100vw;
  min-height: 120vh;
  margin: auto;
  padding: 0 1rem;

  font-size: 1rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;

  color: hsl(var(--text));
  background-color: hsl(var(--main-dark));

  position: relative;
  isolation: isolate;
}

body::after {
  content: "";
  position: absolute;
  background-color: hsl(var(--main-dark));
  inset: 0;
  z-index: -2;
  opacity: 0.91;
}

@media only screen and (max-width: 870px) {
  body {
    padding: 0;
  }
}

main {
  width: 1000px;
  max-width: 100%;

  margin: 0 auto;
  margin-block-end: 5rem;
  background-color: hsl(var(--main-light-1));
  border-radius: 0.5rem;

  box-shadow: 0 1px 2px hsl(var(--main-dark), 30%),
    0 1px 3px hsl(var(--main-dark), 30%);

  /* resize: both; */
  /* overflow: auto; */
  /* cursor: pointer; */
}
.utility-toolbar {
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 1000px;
  margin: 5rem 0 0;
}

.utility-toolbar a {
  text-decoration: none;
}

.pick-a-theme {
  display: flex;
  align-items: center;

  margin-inline-start: auto;
  padding: 0.25em 0.25em 0.25em 0.75em;

  background-color: hsl(var(--main-dark));
  border-radius: 0.5em 0 0 0;
  font-size: 1rem;
}

.theme-changer > fieldset {
  display: flex;
  gap: 2rem;

  width: fit-content;
  margin-inline: auto;
  padding: 0.5em 1.5em;

  background-color: hsl(var(--main-dark));
  border: 0;
  border-radius: 0 0.5em 0 0;
}

.theme-changer input[type="radio"] {
  appearance: none;
  width: 1em;
  height: 1em;

  outline: 2px solid var(--radio-color, currentColor);
  outline-offset: 2px;
  border-radius: 50%;

  cursor: pointer;
}

.theme-changer input[type="radio"]:checked {
  background-color: var(--radio-color);
}

@media only screen and (max-width: 570px) {
  body {
    background-image: linear-gradient(
        0deg,
        hsl(var(--main-dark)) 70%,
        transparent
      ),
      url("../assets/img/bg/tinywow_ragnarok-x-game-class-hd-wallpaper-1920x1080-uhdpaper.com-31.0_b_6942489.webp");
  }

  .utility-toolbar {
    flex-wrap: wrap;
  }

  .pick-a-theme {
    justify-content: center;
    width: 100%;
    padding: 0.25em 0.5em 0.25em 0.5em !important;
    border-radius: 0 !important;
    border-top: 1px solid hsl(var(--main-light-2), 80%);
  }

  .theme-changer {
    width: 100%;
  }

  .theme-changer > fieldset {
    justify-content: space-around;
    width: 100%;
    border-radius: 0;
    padding-bottom: 1em;
  }

  .theme-changer input[type="radio"] {
    width: 2em;
    height: 2em;
  }
}

.top-information {
  display: flex;

  position: relative;
  isolation: isolate;

  padding: 1rem;

  background-image: linear-gradient(
      90deg,
      hsl(var(--main-dark)) -10%,
      transparent
    ),
    url("../assets/img/bg/tinywow_ragnarok-x-game-class-hd-wallpaper-1920x1080-uhdpaper.com-31.0_b_6942489.webp");
  background-position: 50% 35%;
  background-size: cover;

  overflow: hidden;
}

.top-information::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -1px;
  background-color: hsl(var(--main-dark));
  opacity: 0.75;
}

h1 {
  display: flex;
  align-items: center;

  color: hsl(var(--header));
  font-size: 2rem;
  border-radius: 0.5rem 0 0 0;
}

h1 img {
  width: 64px;
  height: auto;
}

h1 .timer {
  position: relative;
}

h1 .timer > span {
  position: absolute;
  font-size: 0.75rem;
  text-transform: uppercase;
  white-space: nowrap;
  bottom: -0.5rem;
  right: 0;
}

h1 .timer > span span {
  text-transform: lowercase;
}

.mvp-timer {
  padding: 1rem;
}

.general-information {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-block-end: 1rem;
}

.general-information h2 {
  margin: 0;
  font-size: 1.25rem;
}

button[data-bs-target="#Changelog"]::before {
  content: "Changelog";
}

button[data-bs-target="#KnownIssues"]::before {
  content: "Known Issues";
}

@media only screen and (max-width: 570px) {
  button[data-bs-target="#Changelog"]::before {
    content: "\f46d";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
  }

  button[data-bs-target="#KnownIssues"]::before {
    content: "\f071";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
  }
}

#user-selection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-and-select {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 1rem;
}

.search-and-select > div {
  display: flex;
  flex-direction: column;
}

.search-and-select label {
  color: hsl(var(--header));
  font-weight: 900;
  white-space: nowrap;
}

#mvp-search,
#mvp-select,
#respawn-select,
#death-time-container input {
  height: 3ch;
  border-radius: 0.25rem;
  font-family: inherit;
  padding-inline-start: 0.5rem;
  border: none;
}

#mvp-search:is(:hover, :focus, :focus-visible),
#mvp-select:is(:hover, :focus, :focus-visible),
#respawn-select:is(:hover, :focus, :focus-visible),
#death-time-container input:is(:hover, :focus, :focus-visible) {
  border: none;
  outline: 2px solid hsl(var(--important));
  outline-offset: 2px;
}

@media only screen and (max-width: 870px) {
  .search-and-select {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

#death-time-container {
  color: hsl(var(--text));
  font-weight: 900;
}

#death-time-container > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#death-time-container > div > div {
  flex: 0 0 10ch;

  display: flex;
  flex-direction: column;
}

.temporary-settings {
  flex: 1 0 0 !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: hsl(var(--text));
  text-align: center;
}

.temporary-settings > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
  
}

@media only screen and (max-width: 570px) {
  #death-time-container > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
  }

  #death-time-container > div > div {
    flex: 1 0 10ch;
  }

  .temporary-settings {
    align-items: center;
  }
}

#sort-container {
  display: flex;

  margin-block-start: 1rem;
}

#sort-container h2 {
  color: hsl(var(--header));
  font-size: 1.25rem;
  align-self: center;
}

#sort-container h3 {
  color: hsl(var(--text));
  font-size: 1rem;
  align-self: flex-end;
  margin-inline-end: 1rem;
}

#sort-container > :nth-child(2) {
  margin-inline-start: auto;
}

#sort-container button {
  text-decoration: none;
  border: none;

  color: hsl(var(--white));
  background-color: hsl(var(--main-dark));

  padding: 0.25em 1em;
}

#sort-container button:is(:hover, :focus-visible) {
  background-color: hsl(var(--important));
}

#sort-container button:is(:active) {
  background-color: hsl(var(--important), 80%);
}

.active {
  background-color: hsl(var(--important)) !important;
}

#mvp-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;

  min-height: 500px;

  padding: 1rem;
  border: 1px solid hsl(var(--text), 10%);
  border-radius: 0.25rem 0 0.25rem 0.25rem;
}

@media only screen and (max-width: 570px) {
  #sort-container {
    flex-wrap: wrap;
  }

  #sort-container > :nth-child(1) {
    width: 80%;
  }

  #sort-container > :nth-child(2) {
    width: 20%;
    text-align: end;
    margin: 0;
  }

  #sort-container button {
    width: 50%;
    outline: 0.1ex solid hsl(var(--white), 5%);
    outline-offset: -0.1ex;
  }

  #mvp-container {
    border-radius: 0 0 0.25rem 0.25rem;
    place-items: center;
  }
}

.mvp-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;

  max-width: 250px;

  background-color: hsl(var(--main-light-2));
  border-radius: 0.5rem;

  box-shadow: 0 1px 2px hsl(var(--main-dark), 30%),
    0 1px 3px hsl(var(--main-dark), 30%);
}

.mvp-card .mvp-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.mvp-card .mvp-header h2 {
  color: hsl(var(--header));
  font-weight: 900;
  font-size: 1.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  margin: 0;
  max-width: 8ch;
}

.mvp-card .mvp-header > :nth-child(2) {
  margin-inline-start: auto;
  margin-inline-end: 0.5rem;
}

.mvp-card .mvp-info {
  flex: 1 0 45%;

  display: flex;
  flex-direction: column;
  width: 150px;
}

.mvp-card .mvp-info img {
  max-width: 100%;
  max-height: 150px;
  aspect-ratio: 1/1;
  object-fit: scale-down;
}

.mvp-card .mvp-map {
  flex: 1 0 40%;
}

.mvp-card .mvp-respawn {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-block-start: 0.5rem;
}

.mvp-card .mvp-respawn > :nth-child(1) {
  order: 2;
  flex: 1 0 50%;
  color: hsl(var(--text), 70%);
  white-space: nowrap;
}

.mvp-card .mvp-respawn > :nth-child(2) {
  order: 1;
  flex: 1 0 50%;
  white-space: nowrap;
}

.mvp-card .respawn-timer {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0.25rem;
  background-color: hsl(var(--main-light));
  border-radius: 0.25rem;

  box-shadow: 0 1px 2px hsl(var(--main-dark), 30%),
    0 1px 3px hsl(var(--main-dark), 30%);
}

.mvp-card .respawn-timer > :nth-child(1) {
  color: hsl(var(--header));
  font-weight: 900;
}

.quick-toast {
  position: fixed;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  padding: 0.75rem 1rem;
  background-color: hsl(var(--important));
  color: hsl(var(--white));
  border-radius: 0.25rem;
  z-index: 1000;
  text-align: center;
}

.restart-button,
.remove-button,
#show-mvp-btn,
.generic-button {
  align-self: flex-start;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 34px;
  min-height: 34px;

  color: hsl(var(--white));
  background-color: hsl(var(--important));
  border: none;
  border-radius: 0.25em;

  font-size: 1rem;
  box-shadow: 2px 2px 0 0 hsl(var(--text), 70%);
}

.restart-button::before {
  content: "\f2f9";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.remove-button::before {
  content: "\f00d";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.restart-button:is(:hover, :focus-visible),
.remove-button:is(:hover, :focus-visible),
#show-mvp-btn:is(:hover, :focus-visible),
.generic-button:is(:hover, :focus-visible) {
  background-color: hsl(var(--important), 80%);
}

.restart-button:active,
.remove-button:active,
#show-mvp-btn:active,
.generic-button:active {
  translate: 2px 2px;
  box-shadow: none;
  background-color: hsl(var(--important));
}

#show-mvp-btn {
  width: 10ch;
}

@media only screen and (max-width: 570px) {
  #show-mvp-btn {
    width: 100%;
  }
}

#hide-card-elements-button {
  --height: 0.65rem;
  --width: 1.25rem;
  --circle: calc(var(--width) - 0.15rem);

  display: inline-block;

  background-color: hsl(var(--white));

  padding: var(--height) var(--width);
  border-radius: 999999px;
  border: 2px solid hsl(var(--text));

  position: relative;
}

#hide-card-elements-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%);

 
  width: var(--circle);
  height: var(--circle);
  border-radius: 50%;
  
  background-color: grey;
  transition: left 0.3s ease-out;
}

#hide-card-elements-button[aria-pressed="true"] {
  background-color: hsl(var(--important));
}

#hide-card-elements-button[aria-pressed="true"]::before {
  left: 50%;
  background-color: hsl(var(--white));
}

.number-span {
  color: hsl(var(--text)) !important;
}

.swap-pages-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
  height: 100%;
  padding: 0 1rem;

  font-size: 0.75rem;
  color: grey;
  background-color: hsl(var(--main-dark), 50%);
  border: none;
  border-radius: 0.25em 0.25em 0 0;

  transition: background-color 200ms linear;
}

.swap-pages-button:is(:hover, :focus-visible) {
  background-color: hsl(var(--main-dark));
}

.swap-pages-button:active {
  translate: 0 2px;
}

@media only screen and (max-width: 570px) {
  .utility-toolbar a {
    flex: 1;
  }

  .swap-pages-button {
    font-size: 1.1rem;
    border-radius: 0;
  }
}

/* Hidding elements toggle button */
.hiding-card-elements {
  display: none;
  pointer-events: none;
}

#mvp-container:has(.toggled) {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  min-height: auto;
}

.mvp-card:has(.toggled) {
  position: relative;
}

.mvp-header:is(.toggled) {
  position: absolute;
  top: 1rem;
  right: 1rem;
  
  flex-direction: column;
  gap: .5rem;
  width: auto;
}

.mvp-header:is(.toggled) button:nth-of-type(1) {
  order: 2;
  margin: 0;
}

.mvp-header:is(.toggled) button:nth-of-type(2) {
  order: 1;
  margin: 0;
}

.mvp-info:is(.toggled) img {
  width: 100px;
  height: 100px;
  margin: auto;
}

.respawn-timer:is(.toggled) span:nth-of-type(1) {
  display: none;
}

.respawn-timer:is(.toggled) span:nth-of-type(2) {
  white-space: pre-wrap;
}
