/* Guide */
#New-Player > div {
    color: hsl(var(--text));
    background-color: hsl(var(--main-light-2));
    border-radius: 0.5em;
  }
  
  #New-Player .select {
    padding: .5em 1em;
    margin-block-end: 1em;
    background-color: hsl(var(--main-light-3));
    border-radius: 0.5em;
  }
  
  .select-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 1em;
    width: 100%;
  }

  .select-grid > div {
    display: flex;
    flex-direction: column;
  }

  .select-links {
    border-radius: .25em;
    text-align: center;
    position: relative;
  }

  .select-links span {
    position: absolute;
    bottom: 0;
    left: .25rem;
  }
  
  .select .selection {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  
    color: hsl(var(--text));
    overflow: hidden;
  }

  /* Button collapse */
  .button-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 100%;
    padding: 0.25em 0.5em;
    color: hsl(var(--white));
    background-color: hsl(var(--main-dark));
    border: 0;
    border-radius: .25em;
  
    position: relative;
    z-index: 3;
  }
  
  .button-collapse .fa-star {
    color: hsl(var(--header));
  }
  
  .button-collapse .fa-sort-down {
    color: hsl(var(--white));
    font-size: 1.1rem;
    position: relative;
    top: -3px;
  }
  
  .button-collapse .fa-sort-up {
    display: none;
    color: hsl(var(--white));
    font-size: 1.1rem;
    position: relative;
    top: 5px;
  }
  
  .button-collapse:is(:hover, :focus-within) {
    color: hsl(var(--main-dark));
    background-color: hsl(var(--white));
  }
  
  .button-collapse:is(:hover, :focus-within) .fa-sort-up,
  .button-collapse:is(:hover, :focus-within) .fa-sort-down,
  .button-collapse:is(:hover, :focus-within) .fa-star {
    color: hsl(var(--main-dark));
  }
  
  .button-collapse:is(:hover, :focus, :focus-within) ~ .collapsed-box {
    background-color: hsl(var(--main-dark));
  }
  
  .button-collapse.active-btn {
    color: hsl(var(--main-dark));
    background-color: hsl(var(--white));
    border: 0;
    border-radius: .25em .25em 0 0;
  }
  
  .button-collapse.active-btn .fa-star {
    color: hsl(var(--main-dark));
  }
  
  .button-collapse.active-btn .fa-sort-down {
    color: hsl(var(--main-dark));
    display: none;
  }
  
  .button-collapse.active-btn .fa-sort-up {
    color: hsl(var(--main-dark));
    display: inline;
  }
  
  /* Collapse box */
  .collapsed-box {
    visibility: collapse;
    position: absolute;
    opacity: 0;
    z-index: -9999;
    translate: 0% -100%;
  
    overflow: hidden;
    transition: 
    translate .8s ease-out;
  }

  .collapsed-box.active {
    visibility: visible;
    position: static;
    opacity: 1;
    z-index: 2;
    translate: 0% 0%;
  
    width: 100%;
    height: 20ch;
    padding: 1em;
    color: hsl(var(--white));
    background-color: hsl(var(--main-dark));
    border-radius: 0 0 0.25em 0.25em;

    overflow-y: scroll;
  }

  .collapsed-box.active::-webkit-scrollbar {
    width: .35em;
    border-radius: 0 0 .25em 0;
  }

  /* Track */
  .collapsed-box.active::-webkit-scrollbar-track {
    background-color: hsl(var(--white), 10%);
    border-radius: 0 0 .25em 0;
  }
  
  /* Handle */
  .collapsed-box.active::-webkit-scrollbar-thumb {
    background: hsl(var(--white)); 
    border-radius: 0 0 .25em 0;
  }

  /* Handle on hover */
  .collapsed-box.active::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--white), 60%); 
  }

  .placeholder-image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: .5em;
  }

  .item {
    width: 24px;
    height: 24px;
  }