body {
  background-image: linear-gradient(
      0deg,
      hsl(var(--main-dark)) 87%,
      transparent
    ),
    url("../assets/img/bg/tinywow_ragnarok-x-game-class-hd-wallpaper-1920x1080-uhdpaper.com-31.0_b_6942489.webp");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-repeat: repeat-x;
  background-position: top center;

  position: relative;
  isolation: isolate;
}

body::after {
  content: "";
  position: absolute;
  background-color: hsl(var(--main-dark));
  inset: 0;
  z-index: -2;
  opacity: 0.91;
}

h2 {
  color: hsl(var(--text));
}

h3 {
  color: hsl(var(--header));
}

/* Main */
.main-container {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 5em;
  padding: 1.25em;

  background-color: hsl(var(--main-light-1));

  border-radius: 0 0 0.5em 0.5em;
}

@media only screen and (max-width: 1200px) {
  body {
    padding: 0 1.5rem;
    background-image: linear-gradient(
        0deg,
        hsl(var(--main-dark)) 90%,
        transparent
      ),
      url("../assets/img/bg/tinywow_ragnarok-x-game-class-hd-wallpaper-1920x1080-uhdpaper.com-31.0_b_6942489.webp");
  }
}

@media only screen and (max-width: 880px) {
  body {
    padding: 0 1.25rem;
  }

  .main-container {
    padding: 0.75em;
  }

  .header-container {
    background-position: center center;
  }
}

@media only screen and (max-width: 570px) {
  body {
    padding: 0;
  }
}

/* Buttons toggle */
.toggle:is(.dark, .pros, .cons, .data, .observations, .skills, .consumables, .autoloot, .copy, .starting-point, .tutorial, .eden-academy) {
  align-self: flex-start;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 34px;
  min-height: 34px;

  color: hsl(var(--white));
  background-color: hsl(var(--important));
  border: none;
  border-radius: 0.25em;

  font-size: 1rem;
  box-shadow: 2px 2px 0 0 hsl(var(--black), 70%);
}

.toggle:hover:is(.data, .observations, .pros, .cons, .skills, .consumables, .autoloot, .copy, .starting-point, .tutorial, .eden-academy) {
  background-color: hsl(var(--important), 80%);
}

.toggle:active:is(.data, .observations, .pros, .cons, .skills, .consumables, .autoloot, .copy, .starting-point, .tutorial, .eden-academy) {
  translate: 2px 2px;
  box-shadow: none;
  background-color: hsl(var(--important));
}

.toggle.consumables {
  display: block;
}

.toggle.copy {
  display: inline-block;
  box-shadow: none;
}

.toggle.copy:active {
  translate: 0px 2px;
  scale: 0.95;
  visibility: visible;
}

input.code {
  border: none;
  box-shadow: 0 0 0;
  margin-bottom: 0.5em;
}

.item-desc {
  display: inline-block;
  text-decoration: dotted;
  text-decoration-line: underline;
  cursor: help;
}

.item-desc:is(.text) {
  text-underline-offset: 3px;
}

.item-desc:is(.img) {
  text-decoration: none;
}

.item-desc:is(.img):hover {
  text-decoration: dotted;
  text-decoration-line: underline;
}

.item-desc img {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.item {
  width: 24px;
  height: 24px;
  object-fit: none;
}

.expand-div {
  padding: 0 2em;
  visibility: collapse;
  position: absolute;
  opacity: 0;
  transition: opacity 300ms ease;
}

.expand-div:has(+ .expand-btn:checked) {
  visibility: visible;
  position: static;
  opacity: 1;
}

.expand-btn {
  appearance: none;
  margin-block-start: auto;
  margin-inline-start: auto;
  padding-inline-end: .5em;
}

.expand-btn:is(:hover, :focus, :focus-within) {
  opacity: .5;
}

.expand-btn::after {
  content: 'Read more...';
  opacity: .8;
  font-family: inherit;
  color: hsl(var(--text));
}

.expand-btn:checked::after {
  content: 'Collapse';
}

.article-link {
  color: hsl(var(--header));
  font-weight: 700;
}

.article-link::before {
  content: "\f1ea";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-inline-end: 0.25em;
  font-size: 1rem;
}

.article-link-small::before {
  font-size: 0.6rem;
}