body {
  background-image: linear-gradient(
      0deg,
      hsl(var(--main-dark)) 87%,
      transparent
    ),
    url("../assets/img/bg/tinywow_ragnarok-x-game-class-hd-wallpaper-1920x1080-uhdpaper.com-31.0_b_6942489.webp");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-repeat: repeat-x;
  background-position: top center;

  position: relative;
  isolation: isolate;
}

body::after {
  content: "";
  position: absolute;
  background-color: hsl(var(--main-dark));
  inset: 0;
  z-index: -2;
  opacity: 0.91;
}

h2 {
  color: hsl(var(--text));
}

h3 {
  color: hsl(var(--header));
}

/* Main */
.main-container {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 5em;
  padding: 1.25em;

  background-color: hsl(var(--main-light-1));

  border-radius: 0 0 0.5em 0.5em;
}

@media only screen and (max-width: 1200px) {
  body {
    padding: 0 1.5rem;
    background-image: linear-gradient(
        0deg,
        hsl(var(--main-dark)) 90%,
        transparent
      ),
      url("../assets/img/bg/tinywow_ragnarok-x-game-class-hd-wallpaper-1920x1080-uhdpaper.com-31.0_b_6942489.webp");
  }
}

@media only screen and (max-width: 880px) {
  body {
    padding: 0 1.25rem;
  }

  .main-container {
    padding: 0.75em;
  }

  .header-container {
    background-position: center center;
  }
}

@media only screen and (max-width: 570px) {
  body {
    padding: 0;
  }
}

/* Author */
#Author {
  padding: 1em;
  color: hsl(var(--text));
  background-color: hsl(var(--main-light-2));
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgb(0 0 0 / 24%), 0 1px 3px rgb(0 0 0 / 12%);
}

#Author .info-socials {
  margin-bottom: 1.25em;
}

#Author .social-media {
  float: right;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-inline-start: 1em;
}

#Author .social-media img {
  width: 200px;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
}

.social-media > div {
  display: flex;
  flex-direction: column;
  width: 200px;

  padding: 0.5em 0.25em;

  color: hsl(var(--white));
  background-color: hsl(var(--main-dark));
  border-radius: 0.5em;

  overflow: auto;
}

.social-media > div span {
  flex: 1 0 0;
  text-align: center;
}

.social-media .discord {
  display: flex;
  justify-content: flex-start;
  gap: 0.5em;
}

.social-media .github {
  display: flex;
  justify-content: flex-start;
  gap: 0.5em;
}

.social-media a {
  flex: 2 0 0;
  text-align: start;
}

#Author .social-media-mob {
  display: none;
}

#Author p {
  margin: 0;
}

.pro-con-wrapper {
  display: flex;
  gap: 1em;
}

.pro-con-wrapper > div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.pro-con-wrapper > div > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 0.25em;
  margin-block-end: 0.25em;
}

.pro-con-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: .5em;
  background-color: hsl(var(--main-light-3));
  border-radius: 0.5em;
}

.pro-con-container ul {
  flex: 1;

  margin: 0;
  padding-block-start: 0.5em;
  padding-block-end: 0.5em;
  border-radius: 0.5em;
}

@media only screen and (max-width: 766px) {
  .pro-con-wrapper {
    flex-wrap: wrap;
    gap: 1em;
  }

  .pro-con-wrapper > div {
    min-width: 100%;
  }
}

@media only screen and (max-width: 570px) {
  .gone-fullsize {
    display: none;
  }

  #Author .social-media {
    display: none;
  }

  #Author .social-media-mob {
    display: flex;
    margin-block-end: 0.5em;
  }

  #Author .social-media-tags {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 0.5em 1em;

    color: hsl(var(--white));
    background-color: hsl(var(--main-dark));
    border-radius: 0.5em;

    overflow: auto;
  }

  #Author .social-media-tags > div {
    display: flex;
    justify-content: flex-start;
    gap: 0.5em;
  }

  #Author .social-media-mob img {
    float: left;
    width: 125px;
    height: auto;
    margin-inline-end: 1em;
    border-radius: 50%;
  }
}

/* Data, observations */
#Data-Observations {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}

#Data-Observations > div {
  color: hsl(var(--text));
}

#Data-Observations h3 {
  color: hsl(var(--white));
}

#Data {
  min-width: 350px;
  margin-inline-end: 0.25em;
}

#Observations {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 990px) {
  #Data,
  #Observations {
    flex: auto;
    width: 100%;
  }

  #Data {
    min-width: 100%;
    margin-inline-end: 0;
  }
}

#Data > div,
#Observations > div {
  flex: 1;
  background-color: hsl(var(--main-light-2));
  border-radius: 0.5em;
}

/* Equipment & tabs */
#Equipment p {
  margin: 0;
  padding: 0;
}

.tab-content {
  color: hsl(var(--text));
  background-color: hsl(var(--main-light-2));
  border-radius: 0.5em 0 0.5em 0.5em;
}

#Equip-tab button {
  text-decoration: none;
  border: none;

  color: hsl(var(--white));
  background-color: hsl(var(--main-dark));

  padding: 0.25em 1em;
}

#Equip-tab button:is(:hover, :focus) {
  background-color: hsl(var(--important));
}

#Equip-tab button:is(:active) {
  background-color: hsl(var(--important), 80%);
}

.tab-buttons {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 570px) {
  .tab-buttons {
    width: 100%;
  }

  #gear-tab,
  #shadow-tab,
  #cards-tab,
  #enchants-tab {
    width: 50%;
    outline: 0.1ex solid hsl(var(--white), 5%);
    outline-offset: -0.1ex;
  }

  #pets-tab {
    width: 100%;
    outline: 0.1ex solid hsl(var(--white), 5%);
    outline-offset: -0.1ex;
  }

  .pick-a-theme {
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.25em 0.75em 0.25em 0.75em;
  }
}

.gear-container {
  display: flex;
  justify-content: center;

  border-radius: 0.5em 0 0.5em 0.5em;
}

@media only screen and (max-width: 1130px) {
  .gear-container {
    overflow-x: scroll;
    justify-content: start;
  }
}

.gear-container span {
  user-select: none;
}

.gear-slot {
  width: 300px;
}

.gear-slot img {
  width: 24px;
  height: 24px;
}

.gear-slot > div {
  width: 90%;
}

.img-equip {
  text-align: center;
  width: 200px;
  height: auto;
  object-fit: none;
  object-position: 53% 50%;
}

.gear-col {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 300px;
  border-radius: 0.5em 0 0 0.5em;

  color: black;
  background-color: white;
}

.gear-col-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 300px;
  border-radius: 0 0.5em 0.5em 0;

  color: black;
  background-color: white;
}

.gear-col > div > div,
.gear-col-2 > div > div {
  border-bottom: 1px solid hsl(var(--text));
}

.form-select {
  padding: 0 2em 0 0;
  border: none;
}

.right {
  text-align: right;
  margin: 0;
  z-index: 3;
}

.pet-row {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.25em;

  background-color: white;
  border-radius: 0.5em;
}

.pet-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  padding: 1em;
}

.pet-col img {
  object-fit: none;
}

.pet-col p {
  color: hsl(var(--important));
  font-size: 0.85rem;
  font-weight: 700;
}

/* Calculations + math */
#Calculations {
  display: flex;
  flex-direction: column;
  color: hsl(var(--text));
  width: 100%;
  max-width: 800px;
}

#Calculations p {
  margin: 0;
  padding: 0;
}

#Calculations .number {
  letter-spacing: 0.1ex;
}

@media only screen and (max-width: 400px) {
  #Calculations span:last-child {
    display: none;
  }
}

.calc-container {
  background-color: hsl(var(--main-light-3));
}
/* End */

/* Status, Battle Stats, Pets */
#Stats {
  display: flex;
  flex-direction: column;
  color: hsl(var(--text));
}

#Stats-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: .25em;
  border-radius: 0.5em;
}

#Stats-Container > div {
  width: calc(50% - .25em);
  background-color: hsl(var(--main-light-2));
  border-radius: .5em;
}

/* Status */
#Status {
  display: flex;
  flex-direction: column;
}

.status-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  background-color: hsl(var(--main-light-3));
  border-radius: .5em;
}

.status-wrapper > * {
  width: 100%;
}

.status-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-block-end: .5em;
  padding: .5em;
  background-color: hsl(var(--main-light));
  border-radius: .5em;
}

.status-grid > div {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
  padding: .15em .75em;
}

.status-grid > div:nth-of-type(-n+3) {
  border-bottom: 1px solid hsl(var(--text), 30%);
}

.status-grid > div:nth-of-type(1),
.status-grid > div:nth-of-type(4) {
  border-right: 1px solid hsl(var(--text), 30%);
}

.status-grid > div:nth-of-type(3),
.status-grid > div:nth-of-type(6) {
  border-left: 1px solid hsl(var(--text), 30%);
}

.status-grid span {
  color: hsl(var(--number));
}

.status-wrapper ul {
  margin: 0;
}

/* Battle stats */
#Battle-Stats {
  display: flex;
  flex-direction: column;
}

.battle-stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 1em;
  background-color: hsl(var(--main-light-3));
  border-radius: .5em;
}

.battle-stats-grid h4 {
  font-size: 1rem;
}

.battle-stats-grid > div > div {
  padding: .5em 1em;
  background-color: hsl(var(--main-light));
  border-radius: .5em;
}

.battle-stats-grid p {
  display: flex;
  margin: 0;
}

.battle-stats-grid span:nth-of-type(1) {
  font-weight: 700;
}

.battle-stats-grid span:nth-of-type(2) {
  margin-inline-start: auto;
  color: hsl(var(--number));
}

@media only screen and (max-width: 766px) {
  #Stats-Container > div {
    width: 100%;
  }

  .status-wrapper > *:nth-child(1) {
    flex: 0 0 100%;
  }

  .status-grid {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  .status-grid > div {
    width: 100%;
    padding: 0 .5em;
  }

  .battle-stats-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .battle-stats-grid > div {
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 570px) {
  #Status,
  #Battle-Stats {
    min-width: 100%;
  }

  #Status .stats-wrapper {
    flex-wrap: wrap;
    gap: 1em;
  }

  .battle-stats-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

/* Skills */
#Skills > div {
  border-radius: 0.5em;
  color: hsl(var(--text));
  background-color: hsl(var(--main-light-2));
}

/* Light toggle */
.toggle:is(.dark, .data, .skills, .consumables, .autoloot, .copy, .starting-point, .tutorial, .eden-academy) {
  align-self: flex-start;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 34px;
  min-height: 34px;

  color: hsl(var(--white));
  background-color: hsl(var(--important));
  border: none;
  border-radius: 0.25em;

  font-size: 1rem;
  box-shadow: 2px 2px 0 0 hsl(var(--black), 70%);
}

.toggle:hover:is(.data, .skills, .consumables, .autoloot, .copy, .starting-point, .tutorial, .eden-academy) {
  background-color: hsl(var(--important), 80%);
}

.toggle:active:is(.data, .skills, .consumables, .autoloot, .copy, .starting-point, .tutorial, .eden-academy) {
  translate: 2px 2px;
  box-shadow: none;
  background-color: hsl(var(--important));
}

.toggle.consumables {
  display: block;
}

.toggle.copy {
  display: inline-block;
  box-shadow: none;
}

.toggle.copy:active {
  translate: 0px 2px;
  scale: 0.95;
  visibility: visible;
}

/* End toggle */
.skills-intro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-priority {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 100%;
}

.skill-priority-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

.skill-priority-cont .tag {
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: initial;
}

.skill-priority-cont > div:nth-child(1) {
  flex: 0 0 100%;
}

.skill-priority-cont > div:nth-child(1) p {
  display: flex;
  align-items: center;
  gap: 0.25em;

  width: 100%;
  margin: 0.5em 0 0.25em;
  color: hsl(var(--header));
  font-size: 1rem;
  font-weight: 700;
  text-align: start;
}

.skill-priority-cont > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4em;
  width: 100%;
  padding: 0.5em;
  background-color: hsl(var(--main-light-3));
  border-radius: 0.5em;
}

.skill-priority-cont > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.skill-priority-cont .name-toggle {
  display: none;
}

.skills-usage {
  display: grid;
  grid-column: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  place-content: center;
  gap: 1em;
}

.skills-usage > div {
  display: flex;
  flex-direction: column;
}

.skills-usage > div > div {
  flex: 1 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.5em;

  padding: 1em;

  background-color: hsl(var(--main-light-3));
  border-radius: 0.5em;
}

.skills-usage > div:nth-child(2) > div {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

.skills-usage > div:nth-child(2) > div p {
  margin: 0;
}

/* Consumables */
#Consumables .tab-buttons button {
  text-decoration: none;
  border: none;

  color: hsl(var(--white));
  background-color: hsl(var(--main-dark));

  padding: 0.25em 1em;
}

#Consumables .tab-buttons button:is(:hover, :focus) {
  background-color: hsl(var(--important));
}

#Consumables .tab-buttons button:is(:active) {
  background-color: hsl(var(--important), 80%);
}

.consumables-container {
  display: flex;
  justify-content: center;
}

.consumables-container .tag {
  margin-inline-end: .15em;
}

.consumables-container > div {
  display: flex;
  justify-content: center;

  width: 800px;
}

.consumables-description {
  padding: 1em;
  background-color: hsl(var(--main-light-3));
  border-inline-start: 3px solid hsl(var(--important));
  height: fit-content;
}

.consumables-description p {
  margin: 0;
}

.consumables-container > div > * {
  flex: 1 0 0;
}

.consumables-wrapper {
  width: 400px;
  height: 200px;

  padding: 1em;

  background-color: white;
  border-radius: 0 0.5em 0.5em 0.5em;

  overflow-y: scroll;
  overscroll-behavior: contain;
}

.consumable-text,
.consumable-toggle {
  display: block;
  width: 100%;

  color: black;
}

.consumable-text.toggle {
  color: hsl(var(--white));
  width: 100%;
}

.consumable-text img,
.consumable-toggle img {
  width: 24px;
  height: 24px;
}

.consumable-text p {
  margin: 0;
  color: hsl(var(--important));
  font-weight: 700;
  font-size: 0.75rem;
}

.consumable-text span:nth-child(1) {
  display: inline-block;
  width: 2em;
  text-align: center;
}

.fake-div {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.fake-div p {
  margin: 0;
}

.autoloot-text img {
  display: inline-block;
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 880px) {
  .consumables-container > div {
    display: block;
  }

  .consumables-description {
    padding: 1em 0;
    background-color: transparent;
    border-inline-start: none;
    height: auto;
  }

  .consumables-wrapper {
    width: 100%;
    overflow-y: hidden;
    overflow: auto;
    border-radius: 0.5em;
  }
}

@media only screen and (max-width: 570px) {
  .gear-container,
  .consumables-container {
    border-radius: 0 0;
  }

  #general-tab,
  #endeavor-tab,
  #others-tab,
  #runes-tab {
    width: 50%;
    outline: 0.1ex solid hsl(var(--white), 5%);
    outline-offset: -0.1ex;
  }
}

/* Item farming */
#Farming img {
  width: 24px;
  height: 24px;
}

#Farming > div {
  color: hsl(var(--text));
  background-color: hsl(var(--main-light-2));
  border-radius: 0.5em;
}

.farming-container-grid {
  display: grid;
  grid-column: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.farming-container-grid p {
  margin: 0;
  margin-block-end: 0.25em;
}

.farming-container {
  background-color: hsl(var(--main-light-3));
  border-radius: 0.5em;
  overflow: hidden;
}

.farming-container ul {
  list-style: none;
  margin: 0;
  padding: 0.5em 1em;
}

.autoloot-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5em;

  border-radius: 0.5em;
  margin: 0 0 1em;
}

.autoloot-list p {
  margin: 0;
}

.autoloot-list > div {
  display: flex;
  flex-direction: column;

  width: calc(50% - 5px);

  margin: 0;
  padding: 0.75em;
  background-color: hsl(var(--main-light-3));
  border-radius: 0.5em;

  overflow-x: auto;
}

.autoloot-list > div div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.autoloot-list > div div:nth-child(1) span:nth-child(1) {
  font-weight: 700;
}

.autoloot-list > div div:nth-child(2) {
  margin-block-start: 0.5em;
  margin-block-end: 0.25em;
}

.autoloot-list button {
  color: hsl(var(--white));
  background-color: transparent;
  border: none;
}

.autoloot-text {
  display: none;
}

@media only screen and (max-width: 880px) {
  .farming-container-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .autoloot-list > div {
    width: 100%;
  }

  .toggle.copy {
    display: none;
  }
}

input.code {
  border: none;
  box-shadow: 0 0 0;
  margin-bottom: 0.5em;
}