---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import '../styles/main.css';
---

<Layout title="Cozynova Main Page" description="Ragnarok online tools website, guides and much more." ogTitle="Main Page" ogDescription="Basic Landing Page for Cozy Nova." ogUrl="https://cozynova.online/" canonical="https://cozynova.online/">
    <Main></Main>
</Layout>