---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import '../styles/main.css';
---

<script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>

<Layout title="Cozynova Main Page" ogTitle="Main Page" ogDescription="Basic Landing Page for Cozy Nova." ogUrl="https://cozynova.online/" canonical="https://cozynova.online/">
    <Main></Main>
</Layout>