<div>
    <main class="body-container">
      <div class="d-flex align-items-center mb-3">
        <h1><i class="fa-solid fa-ghost"></i> Cooking with Selim</h1>
      </div>
      <h2>1. Select your dish <i class="fa-solid fa-lightbulb fa-xs"></i></h2>
      <section id="content-table" class="grid-dish-wrapper">
          <div class="clickable hide-one">
              <label for="Blood Bisque"><img src="https://novaragnarok.com/data/items/icons2/32489.png" alt="Nova Ragnarok dish"> Blood Bisque</label>
          </div>
          <div class="clickable hide-two">
              <label for="Chili con Goblin"><img src="https://novaragnarok.com/data/items/icons2/32490.png" alt="Nova Ragnarok dish"> Chili con Goblin</label>
          </div>
          <div class="clickable hide-three">
              <label for="Screeching Potluck"><img src="https://novaragnarok.com/data/items/icons2/32491.png" alt="Nova Ragnarok dish"> Screeching Potluck</label>
          </div>
          <div class="clickable hide-four">
              <label for="Spooky Saute"><img src="https://novaragnarok.com/data/items/icons2/32492.png" alt="Nova Ragnarok dish"> Spooky Saute</label>
          </div>
          <div class="clickable hide-five">
              <label for="Bones au Gratin"><img src="https://novaragnarok.com/data/items/icons2/32493.png" alt="Nova Ragnarok dish"> Bones au Gratin</label>
          </div>
          <div class="clickable hide-six">
              <label for="Meaty Fingers"><img src="https://novaragnarok.com/data/items/icons2/32494.png" alt="Nova Ragnarok dish"> Meaty Fingers</label>
          </div>
          <div class="clickable hide-seven">
              <label for="Quivering Kibbeling"><img src="https://novaragnarok.com/data/items/icons2/32495.png" alt="Nova Ragnarok dish"> Quivering Kibbeling</label>
          </div>
          <div class="clickable hide-eight">
              <label for="Vampire Special"><img src="https://novaragnarok.com/data/items/icons2/32496.png" alt="Nova Ragnarok dish"> Vampire Special</label>
          </div>
          <div class="clickable hide-nine">
              <label for="Rafflesia on Platter"><img src="https://novaragnarok.com/data/items/icons2/32497.png" alt="Nova Ragnarok dish"> Rafflesia on Platter</label>
          </div>
          <div class="clickable hide-ten">
              <label for="Haunted Roll"><img src="https://novaragnarok.com/data/items/icons2/32498.png" alt="Nova Ragnarok dish"> Haunted Roll</label>
          </div>
          <div class="clickable hide-eleven">
              <label for="Grilled Mandragora Roots"><img src="https://novaragnarok.com/data/items/icons2/32499.png" alt="Nova Ragnarok dish"> Grilled Mandragora Roots</label>
          </div>
          <div class="clickable hide-twelve">
              <label for="Fried Brain Sandwich"><img src="https://novaragnarok.com/data/items/icons2/32500.png" alt="Nova Ragnarok dish"> Fried Brain Sandwich</label>
          </div>
      </section>
      <div class="ingredients-container">
          <h2>2. Check the ingredients <i class="fa-solid fa-check fa-sm"></i> <small class="d-none d-md-flex">(Click on the ingredient to strike it)</small></h2>
          <small class="d-flex d-md-none align-text-top mb-3 mb-md-0">(Click on the ingredient to strike it)</small>
          <div>
            <p><b class="tip">Tip 1:</b> The first ingredient always costs <span class="tip">10</span> <img src="https://novaragnarok.com/data/items/icons2/32573.png" alt="Spectral Nanner"> <b>Spectral Nanner</b>, and you need <span class="tip">36</span> <img src="https://novaragnarok.com/data/items/icons2/32573.png" alt="Spectral Nanner"> <b>Spectral Nanner</b> per daily ( <span class="tip">180</span> <img src="https://novaragnarok.com/data/items/icons2/29561.png" alt="Halloween coin"> <b>Halloween Coins</b> )</p>
            <p><b class="tip">Tip 2:</b> Use <b>@wn</b> <span class="code contrast">@whatnpc</span> <b>@wd</b> <span class="code contrast">@whodrops</span> or <b>@ws</b> <span class="code contrast">@whosells</span> to acquire them easier.</p>
          </div>
          <section class="grid-ingredient-wrapper">
              <!-- 1 -->
              <div class="first-dish ingredient-list" style="display: none;">
                  <ul>
                      <p class="title">Blood Bisque</p>
                      <hr class="my-2">
                      <li><span>1</span><img src="https://novaragnarok.com/data/items/icons2/32575.png" alt="Nova Ragnarok ingredient"> Fresh Blood</li>
                      <li><span>5</span><img src="https://novaragnarok.com/data/items/icons2/6252.png" alt="Nova Ragnarok ingredient"> Blood of Wolf</li>
                      <li><span>10</span><img src="https://novaragnarok.com/data/items/icons2/657.png" alt="Nova Ragnarok ingredient">  Berserk Potion</li>
                      <li><span>15</span><img src="https://novaragnarok.com/data/items/icons2/7134.png" alt="Nova Ragnarok ingredient">  Medicine Bowl</li>
                      <li><span>20</span><img src="https://novaragnarok.com/data/items/icons2/7563.png" alt="Nova Ragnarok ingredient">  Bloody Rune</li>
                      <li><span>10</span><img src="https://novaragnarok.com/data/items/icons2/702.png" alt="Nova Ragnarok ingredient">  Animal Gore</li>
                  </ul>
                  <div>
                    <button class="btn-plus collapse-one" type="button" aria-label="Close">
                      <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                    <button class="btn-plus" type="button" data-bs-toggle="modal" data-bs-target="#modal-dish-one">
                      <i class="fa-solid fa-up-right-from-square"></i>
                    </button>
                  </div>
              </div>
              <!-- 2 -->
              <div class="second-dish ingredient-list" style="display: none;">
                  <ul>
                      <p class="title">Chili con Goblin</p>
                      <hr class="my-2">
                      <li><span>1</span><img src="https://novaragnarok.com/data/items/icons2/32501.png" alt="Nova Ragnarok ingredient"> Minced Meat</li>
                      <li><span>2</span><img src="https://novaragnarok.com/data/items/icons2/566.png" alt="Nova Ragnarok ingredient"> Tom Yun Goongs</li>
                      <li><span>10</span><img src="https://novaragnarok.com/data/items/icons2/7456.png" alt="Nova Ragnarok ingredient"> Red Spice</li>
                      <li><span>10</span><img src="https://novaragnarok.com/data/items/icons2/7455.png" alt="Nova Ragnarok ingredient"> Spicy Sauce</li>
                      <li><span>20</span><img src="https://novaragnarok.com/data/items/icons2/7122.png" alt="Nova Ragnarok ingredient"> Burning Hair</li>
                      <li><span>10</span><img src="https://novaragnarok.com/data/items/icons2/7286.png" alt="Nova Ragnarok ingredient"> Red Chiles</li>
                  </ul>
                  <div>
                    <button class="btn-plus collapse-two" type="button" aria-label="Close">
                      <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                    <button class="btn-plus" type="button" data-bs-toggle="modal" data-bs-target="#modal-dish-two">
                      <i class="fa-solid fa-up-right-from-square"></i>
                    </button>
                  </div>
              </div>
              <!-- 3 -->
              <div class="third-dish ingredient-list" style="display: none;">
                  <ul>
                      <p class="title">Screeching Potluck</p>
                      <hr class="my-2">
                      <li><span>1</span><img src="https://novaragnarok.com/data/items/icons2/32503.png" alt="Nova Ragnarok ingredient"> Egg Yolk</li>
                      <li><span>1</span><img src="https://novaragnarok.com/data/items/icons2/2408.png" alt="Nova Ragnarok ingredient"> Shackles</li>
                      <li><span>2</span><img src="https://novaragnarok.com/data/items/icons2/1901.png" alt="Nova Ragnarok ingredient">  Violin</li>
                      <li><span>10</span><img src="https://novaragnarok.com/data/items/icons2/737.png" alt="Nova Ragnarok ingredient"> Black Ladle</li>
                      <li><span>5</span><img src="https://novaragnarok.com/data/items/icons2/1017.png" alt="Nova Ragnarok ingredient"> Mole Whisker</li>
                      <li><span>5</span><img src="https://novaragnarok.com/data/items/icons2/1043.png" alt="Nova Ragnarok ingredient"> Orc Claw</li>
                  </ul>
                  <div>
                    <button class="btn-plus collapse-three" type="button" aria-label="Close">
                      <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                    <button class="btn-plus" type="button" data-bs-toggle="modal" data-bs-target="#modal-dish-three">
                      <i class="fa-solid fa-up-right-from-square"></i>
                    </button>
                  </div>
              </div>
              <!-- 4 -->
              <div class="fourth-dish ingredient-list" style="display: none;">
                  <ul>
                      <p class="title">Spooky Saute</p>
                      <hr class="my-2">
                      <li><span>1</span><img src="https://novaragnarok.com/data/items/icons2/32575.png" alt="Nova Ragnarok ingredient"> Fresh Blood</li>
                      <li><span>3</span><img src="https://novaragnarok.com/data/items/icons2/621.png" alt="Nova Ragnarok ingredient"> Bitter Herb</li>
                      <li><span>20</span><img src="https://novaragnarok.com/data/items/icons2/602.png" alt="Nova Ragnarok ingredient"> Butterfly Wing</li>
                      <li><span>5</span><img src="https://novaragnarok.com/data/items/icons2/7457.png" alt="Nova Ragnarok ingredient"> Cooking Oil</li>
                      <li><span>20</span><img src="https://novaragnarok.com/data/items/icons2/1063.png" alt="Nova Ragnarok ingredient"> Fang</li>
                      <li><span>25</span><img src="https://novaragnarok.com/data/items/icons2/1039.png" alt="Nova Ragnarok ingredient"> Little Evil Wing</li>
                  </ul>
                  <div>
                    <button class="btn-plus collapse-four" type="button" aria-label="Close">
                      <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                    <button class="btn-plus" type="button" data-bs-toggle="modal" data-bs-target="#modal-dish-four">
                      <i class="fa-solid fa-up-right-from-square"></i>
                    </button>
                  </div>
              </div>
              <!-- 5 -->
              <div class="fifth-dish ingredient-list" style="display: none;">
                  <ul>
                      <p class="title">Bones au Gratin</p>
                      <hr class="my-2">
                      <li><span>1</span><img src="https://novaragnarok.com/data/items/icons2/32502.png" alt="Nova Ragnarok ingredient"> Sweet Rice</li>
                      <li><span>1</span><img src="https://novaragnarok.com/data/items/icons2/628.png" alt="Nova Ragnarok ingredient"> Well-dried Bone</li>
                      <li><span>2</span><img src="https://novaragnarok.com/data/items/icons2/736.png" alt="Nova Ragnarok ingredient"> China</li>
                      <li><span>20</span><img src="https://novaragnarok.com/data/items/icons2/965.png" alt="Nova Ragnarok ingredient"> Clam Shell</li>
                      <li><span>30</span><img src="https://novaragnarok.com/data/items/icons2/25276.png" alt="Nova Ragnarok ingredient"> Clean Bone</li>
                      <li><span>30</span><img src="https://novaragnarok.com/data/items/icons2/932.png" alt="Nova Ragnarok ingredient"> Skel-bone</li>
                  </ul>
                  <div>
                    <button class="btn-plus collapse-five" type="button" data-target="" aria-label="Close">
                      <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                    <button class="btn-plus" type="button" data-bs-toggle="modal" data-bs-target="#modal-dish-five">
                      <i class="fa-solid fa-up-right-from-square"></i>
                    </button>
                  </div>
              </div>
              <!-- 6 -->
              <div class="sixth-dish ingredient-list" style="display: none;">
                  <ul>
                      <p class="title">Meaty Fingers</p>
                      <hr class="my-2">
                      <li><span>1</span><img src="https://novaragnarok.com/data/items/icons2/32504.png" alt="Nova Ragnarok ingredient"> Weisswurst</li>
                      <li><span>5</span><img src="https://novaragnarok.com/data/items/icons2/7011.png" alt="Nova Ragnarok ingredient"> Claw of Monkey</li>
                      <li><span>1</span><img src="https://novaragnarok.com/data/items/icons2/1803.png" alt="Nova Ragnarok ingredient"> Knuckle Duster</li>
                      <li><span>5</span><img src="https://novaragnarok.com/data/items/icons2/6262.png" alt="Nova Ragnarok ingredient"> Cool Gravy</li>
                      <li><span>5</span><img src="https://novaragnarok.com/data/items/icons2/2610.png" alt="Nova Ragnarok ingredient"> Gold Ring</li>
                      <li><span>25</span><img src="https://novaragnarok.com/data/items/icons2/957.png" alt="Nova Ragnarok ingredient"> Decayed Nail</li>
                  </ul>
                  <div>
                    <button class="btn-plus collapse-six" type="button" data-target="" aria-label="Close">
                      <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                    <button class="btn-plus" type="button" data-bs-toggle="modal" data-bs-target="#modal-dish-six">
                      <i class="fa-solid fa-up-right-from-square"></i>
                    </button>
                  </div>
              </div>
              <!-- 7 -->
              <div class="seventh-dish ingredient-list" style="display: none;">
                  <ul>
                      <p class="title">Quivering Kibbeling</p>
                      <hr class="my-2">
                      <li><span>1</span><img src="https://novaragnarok.com/data/items/icons2/32576.png" alt="Nova Ragnarok ingredient"> Moldy Flour</li>
                      <li><span>25</span><img src="https://novaragnarok.com/data/items/icons2/919.png" alt="Nova Ragnarok ingredient"> Animal Skin</li>
                      <li><span>25</span><img src="https://novaragnarok.com/data/items/icons2/7001.png" alt="Nova Ragnarok ingredient"> Mould Powder</li>
                      <li><span>25</span><img src="https://novaragnarok.com/data/items/icons2/7220.png" alt="Nova Ragnarok ingredient"> Ectoplasm</li>
                  </ul>
                  <div>
                    <button class="btn-plus collapse-seven" type="button" data-target="" aria-label="Close">
                      <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                    <button class="btn-plus" type="button" data-bs-toggle="modal" data-bs-target="#modal-dish-seven">
                      <i class="fa-solid fa-up-right-from-square"></i>
                    </button>
                  </div>
              </div>
              <!-- 8 -->
              <div class="eight-dish ingredient-list" style="display: none;">
                  <ul>
                      <p class="title">Vampire Special</p>
                      <hr class="my-2">
                      <li><span>1</span><img src="https://novaragnarok.com/data/items/icons2/32503.png" alt="Nova Ragnarok ingredient"> Egg Yolk</li>
                      <li><span>1</span><img src="https://novaragnarok.com/data/items/icons2/2505.png" alt="Nova Ragnarok ingredient"> Manteau</li>
                      <li><span>15</span><img src="https://novaragnarok.com/data/items/icons2/550.png" alt="Nova Ragnarok ingredient"> Rice Cake</li>
                      <li><span>20</span><img src="https://novaragnarok.com/data/items/icons2/7006.png" alt="Nova Ragnarok ingredient"> Wing of Red Bat</li>
                  </ul>
                  <div>
                    <button class="btn-plus collapse-eight" type="button" data-target="" aria-label="Close">
                      <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                    <button class="btn-plus" type="button" data-bs-toggle="modal" data-bs-target="#modal-dish-eight">
                      <i class="fa-solid fa-up-right-from-square"></i>
                    </button>
                  </div>
              </div>
              <!-- 9 -->
              <div class="nine-dish ingredient-list" style="display: none;">
                  <ul>
                      <p class="title">Rafflesia on Platter</p>
                      <hr class="my-2">
                      <li><span>1</span><img src="https://novaragnarok.com/data/items/icons2/32502.png" alt="Nova Ragnarok ingredient"> Sweet Rice</li>
                      <li><span>5</span><img src="https://novaragnarok.com/data/items/icons2/6112.png" alt="Nova Ragnarok ingredient"> Fresh Plant</li>
                      <li><span>20</span><img src="https://novaragnarok.com/data/items/icons2/7100.png" alt="Nova Ragnarok ingredient"> Sharp Leaf</li>
                      <li><span>25</span><img src="https://novaragnarok.com/data/items/icons2/7298.png" alt="Nova Ragnarok ingredient"> Fig Leaf</li>
                  </ul>
                  <div>
                    <button class="btn-plus collapse-nine" type="button" data-target="" aria-label="Close">
                      <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                    <button class="btn-plus" type="button" data-bs-toggle="modal" data-bs-target="#modal-dish-nine">
                      <i class="fa-solid fa-up-right-from-square"></i>
                    </button>
                  </div>
              </div>
              <!-- 10 -->
              <div class="tenth-dish ingredient-list" style="display: none;">
                  <ul>
                      <p class="title">Haunted Roll</p>
                      <hr class="my-2">
                      <li><span>1</span><img src="https://novaragnarok.com/data/items/icons2/32576.png" alt="Nova Ragnarok ingredient"> Mouldy Flour</li>
                      <li><span>20</span><img src="https://novaragnarok.com/data/items/icons2/535.png" alt="Nova Ragnarok ingredient"> Pumpkin</li>
                      <li><span>15</span><img src="https://novaragnarok.com/data/items/icons2/7268.png" alt="Nova Ragnarok ingredient"> Little Ghost Doll</li>
                      <li><span>15</span><img src="https://novaragnarok.com/data/items/icons2/1025.png" alt="Nova Ragnarok ingredient"> Cobweb</li>
                  </ul>
                  <div>
                    <button class="btn-plus collapse-ten" type="button" data-target="" aria-label="Close">
                      <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                    <button class="btn-plus" type="button" data-bs-toggle="modal" data-bs-target="#modal-dish-ten">
                      <i class="fa-solid fa-up-right-from-square"></i>
                    </button>
                  </div>
              </div>
              <!-- 11 -->
              <div class="eleven-dish ingredient-list" style="display: none;">
                  <ul>
                      <p class="title">Grilled Mandragora Roots</p>
                      <hr class="my-2">
                      <li><span>1</span><img src="https://novaragnarok.com/data/items/icons2/32504.png" alt="Nova Ragnarok ingredient"> Weisswurst</li>
                      <li><span>20</span><img src="https://novaragnarok.com/data/items/icons2/902.png" alt="Nova Ragnarok ingredient"> Tree Root</li>
                      <li><span>20</span><img src="https://novaragnarok.com/data/items/icons2/7188.png" alt="Nova Ragnarok ingredient"> Brown Root</li>
                      <li><span>10</span><img src="https://novaragnarok.com/data/items/icons2/6217.png" alt="Nova Ragnarok ingredient"> Mandragora Flowerpot</li>
                  </ul>
                  <div>
                    <button class="btn-plus collapse-eleven" type="button" data-target="" aria-label="Close">
                      <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                    <button class="btn-plus" type="button" data-bs-toggle="modal" data-bs-target="#modal-dish-eleven">
                      <i class="fa-solid fa-up-right-from-square"></i>
                    </button>
                  </div>
              </div>
              <!-- 12 -->
              <div class="twelve-dish ingredient-list" style="display: none;">
                  <ul>
                      <p class="title">Fried Brain Sandwich</p>
                      <hr class="my-2">
                      <li><span>1</span><img src="https://novaragnarok.com/data/items/icons2/32501.png" alt="Nova Ragnarok ingredient"> Minced Meat</li>
                      <li><span>15</span><img src="https://novaragnarok.com/data/items/icons2/580.png" alt="Nova Ragnarok ingredient"> Bread</li>
                      <li><span>15</span><img src="https://novaragnarok.com/data/items/icons2/1051.png" alt="Nova Ragnarok ingredient"> Detonator</li>
                      <li><span>15</span><img src="https://novaragnarok.com/data/items/icons2/548.png" alt="Nova Ragnarok ingredient"> Cheese</li>
                  </ul>
                  <div>
                    <button class="btn-plus collapse-twelve" type="button" data-target="" aria-label="Close">
                      <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                    <button class="btn-plus" type="button" data-bs-toggle="modal" data-bs-target="#modal-dish-twelve">
                      <i class="fa-solid fa-up-right-from-square"></i>
                    </button>
                  </div>
              </div>
          </section>
      </div>
    </main>
  </div>
    <!-- 1 -->
    <div class="modal fade" id="modal-dish-one" tabindex="-1" aria-labelledby="modal-list" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-0"><img src="https://novaragnarok.com/data/items/icons2/32489.png" alt="Nova Ragnarok dish"> Blood Bisque</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless table-responsive">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-start">Item</th>
                        <th scope="col">Acquisition</th>
                        <th scope="col">Market</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/32575.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Fresh Blood</td>
                        <td><span class="npc">NPC</span> Bad Monkey</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=32575" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/6252.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Blood of Wolf</td>
                        <td><span class="mob">MOB</span> Desert Wolf</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=6252" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/657.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Berserk Potion</td>
                        <td><span class="npc">NPC</span> Tool Dealer</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=657" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/7134.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Medicine Bowl</td>
                        <td><span class="npc">NPC</span> Alchemist Supplies</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=7134" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/7563.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Bloody Rune</td>
                        <td><span class="location">LOC</span> Rachel Sanctuary</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=7563" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/702.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Animal Gore</td>
                        <td><span class="mob">MOB</span> Coyote</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=702" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
    </div>
    <!-- 2 -->
    <div class="modal fade" id="modal-dish-two" tabindex="-1" aria-labelledby="modal-list" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-0"><img src="https://novaragnarok.com/data/items/icons2/32490.png" alt="Nova Ragnarok dish"> Chili con Goblin</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless table-responsive">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-start">Item</th>
                        <th scope="col">Acquisition</th>
                        <th scope="col">Market</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/32501.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Minced Meat</td>
                        <td><span class="npc">NPC</span> Bad Monkey</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=32501" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/566.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Tom Yum Goongs</td>
                        <td><span class="market">MAR</span> <a href="https://irowiki.org/wiki/Tom_Yung_Goong_Quest" target="_blank" class="text-decoration-underline">Quest</a></td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=566" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/7456.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Red Spice</td>
                        <td><span class="npc">NPC</span> Many</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=7456" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/7455.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Spicy Sauce</td>
                        <td><span class="npc">NPC</span> Many</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=7455" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/7122.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Burning Hair</td>
                        <td><span class="mob">MOB</span> Explosion</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=7122" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/7286.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Red Chiles</td>
                        <td><span class="mob">MOB</span> Kraben</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=7286" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
    </div>
    <!-- 3 -->
    <div class="modal fade" id="modal-dish-three" tabindex="-1" aria-labelledby="modal-list" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-0"><img src="https://novaragnarok.com/data/items/icons2/32491.png" alt="Nova Ragnarok dish"> Screeching Potluck</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless table-responsive">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-start">Item</th>
                        <th scope="col">Acquisition</th>
                        <th scope="col">Market</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/32503.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Egg Yolk</td>
                        <td><span class="npc">NPC</span> Bad Monkey</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=32503" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/2408.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Shackles</td>
                        <td><span class="mob">MOB</span> Zombie Prisoner</a></td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=2408" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/1901.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Violin</td>
                        <td><span class="npc">NPC</span> Many</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=1901" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/737.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Black Ladle</td>
                        <td><span class="npc">NPC</span> Many</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=737" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/1017.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Mole Whisker</td>
                        <td><span class="mob">MOB</span> Martin</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=1017" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/1043.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Orc Claw</td>
                        <td><span class="mob">MOB</span> Orc Zombie</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=1043" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
    </div>
    <!-- 4 -->
    <div class="modal fade" id="modal-dish-four" tabindex="-1" aria-labelledby="modal-list" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-0"><img src="https://novaragnarok.com/data/items/icons2/32492.png" alt="Nova Ragnarok dish"> Spooky Saute</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless table-responsive">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-start">Item</th>
                        <th scope="col">Acquisition</th>
                        <th scope="col">Market</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/32575.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Fresh Blood</td>
                        <td><span class="npc">NPC</span> Bad Monkey</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=32575" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/621.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Bitter Herb</td>
                        <td><span class="mob">MOB</span> Uzhas</a></td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=621" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/602.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Butterfly Wing</td>
                        <td><span class="npc">NPC</span> Tool Dealer</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=602" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/7457.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Cooking Oil</td>
                        <td><span class="npc">NPC</span> Many</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=7457" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/1063.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Fang</td>
                        <td><span class="mob">MOB</span> Orc Archer</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=1063" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/1039.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Little Evil Wing</td>
                        <td><span class="mob">MOB</span> Mini Demon</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=1039" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
    </div>
    <!-- 5 -->
    <div class="modal fade" id="modal-dish-five" tabindex="-1" aria-labelledby="modal-list" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-0"><img src="https://novaragnarok.com/data/items/icons2/32493.png" alt="Nova Ragnarok dish"> Bones au Gratin</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless table-responsive">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-start">Item</th>
                        <th scope="col">Acquisition</th>
                        <th scope="col">Market</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/32502.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Sweet Rice</td>
                        <td><span class="npc">NPC</span> Bad Monkey</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=32502" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/628.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Well-dried Bone</td>
                        <td><span class="mob">MOB</span> Pirate Skeleton</a></td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=628" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/736.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">China</td>
                        <td><span class="npc">NPC</span> Many</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=736" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/965.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Clam Shell</td>
                        <td><span class="mob">MOB</span> Red Eruma</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=965" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/25276.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Clean Bone</td>
                        <td><span class="mob">MOB</span> Coyote</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=25276" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/932.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Skel-bone</td>
                        <td><span class="location">LOC</span> Sunken Ship</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=932" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
    </div>
    <!-- 6 -->
    <div class="modal fade" id="modal-dish-six" tabindex="-1" aria-labelledby="modal-list" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-0"><img src="https://novaragnarok.com/data/items/icons2/32494.png" alt="Nova Ragnarok dish"> Meaty Fingers</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless table-responsive">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-start">Item</th>
                        <th scope="col">Acquisition</th>
                        <th scope="col">Market</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/32504.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Weisswurst</td>
                        <td><span class="npc">NPC</span> Bad Monkey</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=32504" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/7011.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Claw of Monkey</td>
                        <td><span class="mob">MOB</span> Choco</a></td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=7011" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/1803.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Knuckle Duster</td>
                        <td><span class="npc">NPC</span> Many</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=1803" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/6262.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Cool Gravy</td>
                        <td><span class="npc">NPC</span> Many</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=6262" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/2610.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Gold Ring</td>
                        <td><span class="location">LOC</span> Geffenia</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=2610" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/957.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Decayed Nail</td>
                        <td><span class="mob">MOB</span> Zombie</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=957" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
    </div>
    <!-- 7 -->
    <div class="modal fade" id="modal-dish-seven" tabindex="-1" aria-labelledby="modal-list" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-0"><img src="https://novaragnarok.com/data/items/icons2/32495.png" alt="Nova Ragnarok dish"> Quivering Kibbeling</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless table-responsive">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-start">Item</th>
                        <th scope="col">Acquisition</th>
                        <th scope="col">Market</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/32576.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Moldy Flour</td>
                        <td><span class="npc">NPC</span> Bad Monkey</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=32576" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/919.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Animal Skin</td>
                        <td><span class="npc">NPC</span> Many</a></td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=919" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/7001.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Mould Powder</td>
                        <td><span class="mob">MOB</span> Punk</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=7001" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/7220.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Ectoplasm</td>
                        <td><span class="mob">MOB</span> Lude</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=7220" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
    </div>
    <!-- 8 -->
    <div class="modal fade" id="modal-dish-eight" tabindex="-1" aria-labelledby="modal-list" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-0"><img src="https://novaragnarok.com/data/items/icons2/32496.png" alt="Nova Ragnarok dish"> Vampire Special</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless table-responsive">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-start">Item</th>
                        <th scope="col">Acquisition</th>
                        <th scope="col">Market</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/32503.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Egg Yolk</td>
                        <td><span class="npc">NPC</span> Bad Monkey</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=32503" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/2505.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Manteau</td>
                        <td><span class="npc">NPC</span> Many</a></td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=2505" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/550.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Rice Cake</td>
                        <td><span class="mob">MOB</span> Evil Cloud Hermit</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=550" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/7006.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Wing of Red Bat</td>
                        <td><span class="mob">MOB</span> Drainliar</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=7006" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
    </div>
    <!-- 9 -->
    <div class="modal fade" id="modal-dish-nine" tabindex="-1" aria-labelledby="modal-list" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-0"><img src="https://novaragnarok.com/data/items/icons2/32497.png" alt="Nova Ragnarok dish"> Rafflesia on Platter</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless table-responsive">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-start">Item</th>
                        <th scope="col">Acquisition</th>
                        <th scope="col">Market</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/32502.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Sweet Rice</td>
                        <td><span class="npc">NPC</span> Bad Monkey</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=32502" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/6112.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Fresh Plant</td>
                        <td><span class="npc">NPC</span> Pet Groomer</a></td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=6112" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/7100.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Sharp Leaf</td>
                        <td><span class="mob">MOB</span> Dryad</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=7100" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/7298.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Fig Leaf</td>
                        <td><span class="mob">MOB</span> Leaf Cat</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=7298" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
    </div>
    <!-- 10 -->
    <div class="modal fade" id="modal-dish-ten" tabindex="-1" aria-labelledby="modal-list" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-0"><img src="https://novaragnarok.com/data/items/icons2/32498.png" alt="Nova Ragnarok dish"> Haunted Roll</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless table-responsive">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-start">Item</th>
                        <th scope="col">Acquisition</th>
                        <th scope="col">Market</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/32576.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Moldy Flour</td>
                        <td><span class="npc">NPC</span> Bad Monkey</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=32576" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/535.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Pumpkin</td>
                        <td><span class="npc">NPC</span> Many</a></td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=535" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/7268.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Little Ghost Doll</td>
                        <td><span class="location">LOC</span> Louyang Dungeon</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=7268" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/1025.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Cobweb</td>
                        <td><span class="mob">MOB</span> Argos</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=1025" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
    </div>
    <!-- 11 -->
    <div class="modal fade" id="modal-dish-eleven" tabindex="-1" aria-labelledby="modal-list" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-0"><img src="https://novaragnarok.com/data/items/icons2/32499.png" alt="Nova Ragnarok dish"> Grilled Mandragora Roots</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless table-responsive">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-start">Item</th>
                        <th scope="col">Acquisition</th>
                        <th scope="col">Market</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/32504.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Weisswurst</td>
                        <td><span class="npc">NPC</span> Bad Monkey</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=32504" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/902.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Tree Root</td>
                        <td><span class="npc">NPC</span> Tool Dealer</a></td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=902" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/7188.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Brown Root</td>
                        <td><span class="mob">MOB</span> Dryad</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=7188" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/6217.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Mandragora Flowerpot</td>
                        <td><span class="mob">MOB</span> Wild Ginseng</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=6217" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
    </div>
    <!-- 12 -->
    <div class="modal fade" id="modal-dish-twelve" tabindex="-1" aria-labelledby="modal-list" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-0"><img src="https://novaragnarok.com/data/items/icons2/32500.png" alt="Nova Ragnarok dish"> Fried Brain Sandwich</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless table-responsive">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-start">Item</th>
                        <th scope="col">Acquisition</th>
                        <th scope="col">Market</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/32501.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Minced Meat</td>
                        <td><span class="npc">NPC</span> Bad Monkey</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=32501" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/580.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Bread</td>
                        <td><span class="npc">NPC</span> Many</a></td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=580" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/1051.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Detonator</td>
                        <td><span class="mob">MOB</span> Marine Sphere</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=1051" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row"><img src="https://novaragnarok.com/data/items/icons2/548.png" alt="Nova Ragnarok ingredient"></th>
                        <td class="text-start">Cheese</td>
                        <td><span class="mob">MOB</span> Evil Cloud Hermit</td>
                        <td><a href="https://www.novaragnarok.com/?module=vending&action=view&id=548" target="_blank"><i class="fa-solid fa-shop"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
    </div>
  </div>

<div class="wiki-article"><a class="stretched-link" href="https://www.novaragnarok.com/wiki/Cooking_With_Selim" target="_blank"><i class="fa-brands fa-wikipedia-w"></i></a></div>