<main>
    <input id="confirmation-title" type="checkbox" value="confirmation-title">
    <span class="initial-msg">I'm glad to see <b class="header">you</b> here ^w^ <label for="confirmation-title"><i class="fa-solid fa-angles-right fa-beat header"></i></label></span>
    <h1 class="welcome-title">Welcome to <span>Cozy Nova</span></h1>
    <h2 class="welcome-sub-title">Your Ragnarok Online tools website</h2>
    <div class="opacity-layout"></div>
</main>