<main>
    <p>This is me testing - <b>THERE IS STILL SOME BUGS</b></p>

    <h2>Ingame clock</h2>
    <div id="current-time-gmt-7"></div>

    <h1>MVP Respawn Locations</h1>
    <div>
      <label for="mvp-select">Select an MVP:</label>
      <select id="mvp-select">
        <option value="None">None selected</option>
      </select>
      <div id="respawn-select-container">
        <label for="respawn-select">Select a Respawn Location:</label>
        <select id="respawn-select">
          <option value="None">None selected</option>
        </select>
      </div>
      <div id="cdr-input-container">
        <label for="cdr-input">Custom timer (optional):</label>
        <input type="text" id="cdr-input-hours" placeholder="Hours" size="4">
        <input type="text" id="cdr-input-minutes" placeholder="Minutes" size="4">
        <input type="text" id="cdr-input-seconds" placeholder="Seconds" size="4">
      </div>

      <button id="show-mvp-btn">Show Respawn Location</button>
    </div>
    <div id="mvp-container"></div>
</main>