<main>
    <p>This is me testing</p>

    <h1>MVP Respawn Locations</h1>
    <div>
      <label for="mvp-select">Select an MVP:</label>
      <select id="mvp-select"></select>
      <div id="respawn-select-container">
        <label for="respawn-select">Select a Respawn Location:</label>
        <select id="respawn-select"></select>
      </div>
      <button id="show-mvp-btn">Show Respawn Location</button>
    </div>
    <div id="mvp-container"></div>
</main>