---
import MVPClock from './mvp/MVPClock.astro';
import MVPChangelog from "./mvp/MVPChangelog.astro";
import MVPKnownIssues from "./mvp/MVPKnownIssues.astro";
---

<div class="utility-toolbar">
  <a href="/mvptimerbeta">
    <button type="button" class="swap-pages-button"><i class="fa-solid fa-flask"></i> BETA</button>
  </a>

  <span class="pick-a-theme">Choose a theme</span>

  <form class="theme-changer" action="">
      <fieldset>
          <legend class="visually-hidden">Pick a color scheme</legend>
          <label class="visually-hidden" for="dark-blue">Blue Dark</label>
          <input id="dark-blue" type="radio" name="theme">

          <label class="visually-hidden" for="green">Green</label>
          <input id="green" type="radio" name="theme">
          
          <label class="visually-hidden" for="dark">Dark</label>
          <input id="dark" type="radio" name="theme">

          <label class="visually-hidden" for="light">Light</label>
          <input id="light" type="radio" name="theme">
      </fieldset>
  </form>
</div>

<main>
    <div class="top-information">
      <div>
        <h1>
          <img src="../assets/img/icons/mvp.webp" alt="MVP Timer Logo"> 
          <span class="timer">Timer
            <span>Version 1.1<span>c</span></span>
          </span>
        </h1>

      </div>

      <MVPClock />
    </div>


    <div class="mvp-timer">

      <div class="general-information">
        <h2 class="header"><span class="number-span">1.</span> Fill up the information <i class="fa-solid fa-pen fa-xs number-span"></i></h2>
        <button type="button" class="generic-button ms-auto" data-bs-toggle="modal" data-bs-target="#Changelog" aria-label="Changelog list">
         
        </button>
        <button type="button" class="generic-button" data-bs-toggle="modal" data-bs-target="#KnownIssues" aria-label="Known issues list">
          
        </button>
      </div>

      <div id="user-selection">
        <div class="search-and-select">
          <div>
            <label for="mvp-search">Search for the MVP</label>
            <input type="text" id="mvp-search" placeholder="Search by name" />
          </div>
          <div>
            <label for="mvp-select">Select the MVP</label>
            <select id="mvp-select">
              <option value="None">None selected</option>
            </select>
          </div>
          <div>
            <label for="respawn-select">Select the respawn location</label>
            <select id="respawn-select">
              <option value="None">None selected</option>
            </select>
          </div>
        </div>
        <div id="optional-settings">
          <!-- death time container -->
          <div id="death-time-container">
            <span class="header">Input the time of death <span class="low-focus">(Optional)</span></span>
            <div>
              <div>
                <label for="death-time-hours">Hour</label>
                <input type="number" id="death-time-hours" name="death-time-hours" min="0" max="23" step="1" placeholder="23">
              </div>
              <div>
                <label for="death-time-minutes">Minutes</label>
                <input type="number" id="death-time-minutes" name="death-time-minutes" min="0" max="59" step="1" placeholder="59">
              </div>
              <div>
                <label for="death-time-seconds">Seconds</label>
                <input type="number" id="death-time-seconds" name="death-time-seconds" min="0" max="59" step="1" placeholder="59">
              </div>
            </div>
          </div>
        </div>
        <button id="show-mvp-btn">Add</button>
        
      </div>

      <div id="sort-container">
        <h2><span class="number-span">2.</span> Check the respawn time <i class="fa-solid fa-check fa-xs number-span"></i></h2>
        <h3>Sort by</h3>
        <button id="sort-by-name">Name</button>
        <button id="sort-by-respawn">Respawn</button>
      </div>
      <div id="mvp-container"></div>
    </div>
</main>

<MVPChangelog />
<MVPKnownIssues />

<!-- temporary settings -->
<div class="temporary-settings " data-settings>
  <div>
    <span class="header">Settings</span>
    <hr>
    <div class="settings">
      <div class="clock mb-4">
        <label for="#timezone-select" class="header">Select a timezone</label>
        <div class="server-time-wrapper">
          <select id="timezone-select"></select>
        </div>
        <span class="small">Used to calculate the MVP respawn times.</span>
      </div>
      <div class="toggle-elements">
        <span class="header">Toggle information</span>
        <button id="hide-card-elements-button" class="generic-butto" aria-pressed="false"></button>
        <span class="small">Toggles addtional information inside the cards.</span>
      </div>
    </div>
  </div>
</div>