---
import '../styles/newplayerguide.css';
---

<div id="New-Player">
    <h2 class="fs-5">New Player</h2>
    <div class="p-3">
      <h3 class="fs-5 header">Introduction</h3>
      <p>First and foremost, this section is made for more in depth explanations on what you have seen above, to answer common questions, teach the player and much more. So, <b>if you like reading, this is your place.</b></p>

      <div class="select">
        <h4 class="fs-6 header">Select your starting point</h4>
        <div>
          <!-- Starting -->
          <div>
            <div>
              <span class="tag">Starting</span>
              <a href="#Starting-Section"></a>
            </div>
            <div class="selection">
              <button type="button" class="button-collapse" aria-label="Toggle extra information on and off">
                <i class="fa-solid fa-list"></i>
                <span><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span>
                <i class="fa-solid fa-sort-down"></i>
                <i class="fa-solid fa-sort-up"></i>
              </button>
              <div class="collapsed-box">
                <p>You have no experience with the game at all, and possibly with the genre.</p>
              </div>
            </div>
          </div>
          <!-- Basics -->
          <div>
            <div>
              <span class="tag">Basics</span>
              <a href="#">Take me there</a>
            </div>
            <div class="selection">
              <button type="button" class="button-collapse" aria-label="Toggle extra information on and off">
                <i class="fa-solid fa-list"></i>
                <span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span>
                <i class="fa-solid fa-sort-down"></i>
                <i class="fa-solid fa-sort-up"></i>
              </button>
              <div class="collapsed-box">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, temporibus veniam veritatis, cumque magni a illum obcaecati perspiciatis, officia atque corporis laborum. Voluptates nam veritatis fuga quaerat error eaque sapiente.</p>
              </div>
            </div>
          </div>
          <!-- Advanced -->
          <div>
            <div>
              <span class="tag">Advanced</span>
              <a href="#">Take me there</a>
            </div>
            <div class="selection">
              <button type="button" class="button-collapse" aria-label="Toggle extra information on and off">
                <i class="fa-solid fa-list"></i>
                <span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span>
                <i class="fa-solid fa-sort-down"></i>
                <i class="fa-solid fa-sort-up"></i>
              </button>
              <div class="collapsed-box">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, temporibus veniam veritatis, cumque magni a illum obcaecati perspiciatis, officia atque corporis laborum. Voluptates nam veritatis fuga quaerat error eaque sapiente.</p>
              </div>
            </div>
          </div>
          <!-- Early game -->
          <div>
            <div>
              <span class="tag">Earlygame</span>
              <a href="#">Take me there</a>
            </div>
            <div class="selection">
              <button type="button" class="button-collapse" aria-label="Toggle extra information on and off">
                <i class="fa-solid fa-list"></i>
                <span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span>
                <i class="fa-solid fa-sort-down"></i>
                <i class="fa-solid fa-sort-up"></i>
              </button>
              <div class="collapsed-box">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, temporibus veniam veritatis, cumque magni a illum obcaecati perspiciatis, officia atque corporis laborum. Voluptates nam veritatis fuga quaerat error eaque sapiente.</p>
              </div>
            </div>
          </div>
          <!-- Mid game -->
          <div>
            <div>
              <span class="tag">Midgame</span>
              <a href="#">Take me there</a>
            </div>
            <div class="selection">
              <button type="button" class="button-collapse" aria-label="Toggle extra information on and off">
                <i class="fa-solid fa-list"></i>
                <span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></span>
                <i class="fa-solid fa-sort-down"></i>
                <i class="fa-solid fa-sort-up"></i>
              </button>
              <div class="collapsed-box">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, temporibus veniam veritatis, cumque magni a illum obcaecati perspiciatis, officia atque corporis laborum. Voluptates nam veritatis fuga quaerat error eaque sapiente.</p>
              </div>
            </div>
          </div>
          <!-- End game -->
          <div>
            <div>
              <span class="tag">Endgame</span>
              <a href="#">Take me there</a>
            </div>
            <div class="selection">
              <button type="button" class="button-collapse" aria-label="Toggle extra information on and off">
                <i class="fa-solid fa-list"></i>
                <span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                <i class="fa-solid fa-sort-down"></i>
                <i class="fa-solid fa-sort-up"></i>
              </button>
              <div class="collapsed-box">
                <p>You already know everything there's out there to know about the basics. Check the beginning on where I layout the endgame build.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section id="Starting-Section">
        <h3 class="fs-5 header">Starting section</h3>
        <p>Oh look, a new recruit. I'm going to be your instructor today. My name is <b>Myndi</b>, and will do my best to squeeze the best out of you 😤 Nice to meet you!</p>
        <p>To begin with, you need to be wary of the most useful links we have in here.</p>
        <ul>
          <li><a href="https://www.novaragnarok.com/?module=main">NovaRO Main Site <i class="fa-solid fa-link fa-xs"></i></a> - Useful to check news, your character, the market & spending your well earned real life money.</li>
          <li><a href="https://www.novaragnarok.com/wiki/Main_Page">NovaRO Wikipedia <i class="fa-solid fa-link fa-xs"></i></a> - The all-in-one site for the majority of your questions, thanks to all the contributors.</li>
          <li><a href="https://www.novaragnarok.com/wiki/Leinarth%27s_Rune_Knight_Class_Guide">Leinarth's RK Guide <i class="fa-solid fa-link fa-xs"></i></a> The all-in-one guide for RK <strike>and my competition.</strike> <span class="hover">IT'S JUST A JOKE</span></li>
          <li><a href="https://www.novaragnarok.com/forum/">NovaRO Forum <i class="fa-solid fa-link fa-xs"></i></a> - Perfect to report a bug, write a suggestion or complain, besides that, ignore it.</li>
          <li><a href="https://discord.com/invite/eqHzVK9">NovaRO Discord <i class="fa-solid fa-link fa-xs"></i></a> - If you're here, you probably already know about it.</li>
          <li><a href="https://irowiki.org/wiki/Quests">IronRO Wiki Quest List <i class="fa-solid fa-link fa-xs"></i></a> - This is only useful if you're all about nostalgia and want to do old forgotten quests.</li>
          <li><a href="https://www.divine-pride.net/">Divine Pride <i class="fa-solid fa-link fa-xs"></i></a> - Amazing database. You can check almost anything and most importnatly, future content.</li>
          <li><a href="https://_miel.gitlab.io/ncs/#/">Utility Site <i class="fa-solid fa-link fa-xs"></i></a> - A bit outdated, but still present useful tools for you to use.</li>
          <li><a href="https://zzyx.de/ro/atk">Muh Calculator <i class="fa-solid fa-link fa-xs"></i></a> - Significant calculator both for ATK and MATK. Let's you plan ahead.</li>
          <li><a href="https://ratemyserver.net/">RateMyServer <i class="fa-solid fa-link fa-xs"></i></a> - Honestly, with all the above, useless, but might as well throw it out there.</li>
        </ul>
      </section>

      <b>To add:</b> Acronyms list.
      <br>
      Structure:
      <ul>
          <li>Basic/useful commands</li>
          <li>Wiki/useful pages (costume stones, instances)</li>
          <li>How to look for information</li>
          <li>How to make the right question</li>
          <li>Buying vs enchanting/refining</li>
        <li class="header">Leveling</li>
        <li class="header">Basic-early game:</li>
          <li>Item Progression</li>
          <li>Farming</li>
          <li>Instances</li>
        <li class="header">Mid game:</li>
          <li>Item Progression</li>
          <li>Farming</li>
          <li>Instances</li>
        <li>Late game decisions (jump to the beginning)</li>
      </ul>

              <!-- THIS REQUIRES MASSIVE REWORK -->
              <div class="skills-usage">
                <div>
                  <h3 class="fs-5 header">Buffs</h3>
                  <div>
                    <div>
                      <p class="w-100 m-0">This is use order.</p>
                      <div class="d-flex align-items-center gap-1 flex-wrap"><img src="https://static.divine-pride.net/images/skill/7.png" alt="Magnum Break"><i class="fa-solid fa-caret-right"></i><img src="https://static.divine-pride.net/images/skill/357.png" alt="Concentration"><i class="fa-solid fa-caret-right"></i><img src="https://static.divine-pride.net/images/skill/355.png" alt="Aura Blade"><i class="fa-solid fa-caret-right"></i><img src="https://static.divine-pride.net/images/skill/356.png" alt="Parrying"><i class="fa-solid fa-caret-right"></i><img src="https://static.divine-pride.net/images/skill/60.png" alt="Two-Hand Quicken"><i class="fa-solid fa-caret-right"></i><img src="https://static.divine-pride.net/images/skill/2001.png" alt="Enchant Blade"></div>
                    </div>
                  </div>
                </div>
                <div>
                  <h3 class="fs-5 header">Refresh time</h3>
                  <div>
                    <p class="fw-bold"><span class="number">10</span> seconds</p>
                    <img src="https://static.divine-pride.net/images/skill/7.png" alt="Magnum Break" class="ms-3 mb-2">
                    <p class="fw-bold"><span class="number">1</span> minute</p>
                    <div class="d-flex align-items-center gap-1 ms-3 mb-2"><img src="https://static.divine-pride.net/images/skill/357.png" alt="Concentration"><img src="https://static.divine-pride.net/images/skill/355.png" alt="Aura Blade"><img src="https://static.divine-pride.net/images/skill/356.png" alt="Parrying"></div>
                    <p class="fw-bold"><span class="number">5</span> minutes</p>
                    <div class="d-flex align-items-center gap-1 ms-3 mb-2"><img src="https://static.divine-pride.net/images/skill/60.png" alt="Two-Hand Quicken"><img src="https://static.divine-pride.net/images/skill/2001.png" alt="Enchant Blade"></div>
                  </div>
                </div>
                <div>
                  <h3 class="fs-5 header">Offensive skills</h3>
                  <div>idk what to do with this 3 sections, maybe i will remove it, but for now, just a WIP</div>
                </div>
              </div>
              <!-- THIS REQUIRES MASSIVE REWORK -->
            </div>
    </div>
  </div>