<h1 class="initial-msg">I'm glad to see <b class="header">you</b> here ^w^</h1>
<div class="form-wrapper shadow-container">
    <p class="apologies">We don't count with user system yet, bear with us TwT</p>
    <form action="/">
        <div class="inner-wrapper">
            <label for="user">User</label>
            <input id="user" name="user" type="email" placeholder="email@example.com">
        </div>
        <div class="inner-wrapper">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder=" • • • • • • • • • ">
        </div>
        <div class="inner-wrapper-remember">
            <input id="remember" name="remember" type="checkbox">
            <label for="remember">Remember</label>
        </div>
        <div class="button-wrapper">
            <button type="submit">Login</button>
        </div>
    </form>
    <div class="forgot-links">
        <a href="">Forgot password?</a>
    </div>
</div>
