---
  import NewPlayerGuide from '../components/NewPlayerGuide.astro';
---

<main id="Main" class="main-container" role="main">

  <div class="mb-3">
    <h2>Current progress of this guide</h2>
    <div class="progress mb-2">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Current progress of the guide" style="width: 83%;" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100">83%</div>
    </div>
    <span style="color: hsl(var(--text));">Missing:
      <ol>
        <li>New player's guide (3 sections done)</li>
      </ol>
    </span>
  </div>

  <div id="Introduction" class="mb-4">
    <h2 class="fs-5">Introduction</h2>
    <div id="Author">
      <div class="info-socials">
          <h3 class="fs-5"> Author</h3>
          <div class="social-media">
            <img src="../assets/img/illustration/smytsu.webp" alt="Myndi profile picture">
            <div class="shadow-container">
              <div class="discord">
                <span><i class="fa-brands fa-discord"></i></span>
                <a href="https://discord.com/users/124421052569878528/" target="_blank" class="link">Myndi#5041</a>
              </div>
              <div class="github">
                <span><i class="fa-brands fa-github-alt fa-lg"></i></span>
                <a href="https://github.com/Myntsu" target="_blank" class="link">Myntsu</a>
              </div>
            </div>
          </div>
          <div class="social-media-mob">
            <img src="../assets/img/illustration/smytsu.webp" alt="Myndi profile picture">
            <div class="social-media-tags">
              <p>Hey there! I'm better known as Myndi 😊</p>
              <div class="discord">
                <span><i class="fa-brands fa-discord"></i></span>
                <a href="https://discord.com/users/124421052569878528/" target="_blank" class="link">Myndi#5041</a>
              </div>
              <div class="github">
                <span><i class="fa-brands fa-github-alt fa-lg"></i></span>
                <a href="https://github.com/Myntsu" target="_blank" class="link">Myntsu</a>
              </div>
            </div>
          </div>
          <p class="gone-fullsize">Hey there! I'm better known as <span class="focus">Myndi</span> 😊</p>
          <p>I have designed this guide in two portions:
            <ul>
              <li><span class="tag">Endgame build</span> <span class="low-focus">(exactly what you're looking at right now)</span> - Showcases best in slot gear, tips & tricks and much more to fully optimize<img src="https://static.divine-pride.net/images/skill/2002.png" alt="Sonic Wave" class="item"><span class="focus">Wind Cutter</span>.</li>
              <li><span class="tag">New player guide</span> - Explains from beginning to the end, with full detail, how to start until you get to endgame. Kindly check the link if you haven't 😉 <a href="#New-Player" class="link">New Player Guide</a></li>
            </ul>
          </p>
          <p class="mb-3">My experience is vastly within this build, around 2+ years playing it in-and-out. Done a lot of content with it, even content people wouldn't expect<img src="https://static.divine-pride.net/images/skill/2002.png" alt="Sonic Wave" class="item"><span class="focus">Wind Cutter</span> to be <span class="low-focus">(like LOGH back in the days)</span>.</p>
          <p>With nothing else to add, I hope this build makes your game more enjoyable as it did to me! ✨</p>
          <p class="low-focus">Note: Although everything here is tailored to work in sync, please take everything with a grain of salt.</p>
      </div>

      <h3 class="fs-5">About this build</h3>
      <p class="mb-3">My personal vision of this build is for <span class="tag">Dungeon Farming</span> mainly, such as Einbech 3, Juperos, Thanatos, Odin 4 & many more, so in this guide I focus building around that logic. Before jumping in, take a look at the pros and cons of it.</p>
      <div class="pro-con-wrapper">
        <!-- Pros -->
        <div>
          <div><span class="header">Pros</span></div>
          <div class="pro-con-container shadow-container">
            <ul>
              <li>Newbie friendly</li>
              <li>Fast access to weeklies</li>
              <li>Cheap build</li>
              <li>100% DEF PEN</li>
            </ul>
          </div>
        </div>
        <!-- Cons -->
        <div>
          <div><span class="header">Cons</span></div>
          <div class="pro-con-container shadow-container">
            <ul>
              <li>Agi-up mobs</li>
              <li>Short range</li>
              <li>Average damage</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <section id="Data-Observations" class="mb-4">
    <div id="Data" class="mb-3 mb-lg-0">
      <h2 class="fs-5">Data</h2>
      <div class="d-flex p-3 shadow-container">
        <div class="d-flex gap-1 flex-column">
          <p class="m-0 text-default"><b class="header">ACD required</b> <i class="fa-solid fa-angles-right fa-sm"></i> <span class="number">34%</span> </p>
          <p class="m-0 text-default"><b class="header">ASPD required</b> <i class="fa-solid fa-angles-right fa-sm"></i> <span class="number">185</span></p>
          <p class="m-0 text-default"><b class="header">Max. WC/s</b> <i class="fa-solid fa-angles-right fa-sm"></i> <span class="number">3</span></p>
          <p class="m-0 text-swap">Has <span class="number">0.5</span>s Cast Delay, <span class="number">0.3</span>s CD.</p>
          <p class="m-0 text-swap">It requires <span class="number">34%</span> ACD & <span class="number">185</span> ASPD.</p>
          <p class="m-0 text-swap">Unable to cast more than <span class="number">3</span>/s.</p>
        </div>
        <button class="toggle data ms-auto" type="button" aria-label="Toggle information in and out" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Swap information"><i class="fa-solid fa-right-left"></i></button>
      </div>
    </div>

    <div id="Observations" class="m-0 p-0">
      <h2 class="fs-5">Observations</h2>
      <div class="p-3 shadow-container">
        <p><b class="header">Equipment</b> shows the best gear by default. In some cases there's alternatives to select from.</p>
        <p><b class="header">Status</b> calculations include bonuses from job levels, gear, runes and foods <span class="low-focus">(Imperfect Almighty)</span>.</p>
        <p class="m-0"><b class="header">Battle Stats</b> doesn't include RNG enchants, Pets <span class="low-focus">(Eggs)</span>, Base Weapon Attack (<span class="number">280</span>), Refine Attack (<span class="number">+15; 105</span>) or Shadow Gear Refine Attack (<span class="number">+9; 9</span>).</p>
      </div>
    </div>
  </section>

  <section id="Equipment" class="mb-4">
    <!-- Tabs Buttons -->
    <div class="d-flex flex-wrap" id="Equip-tab" role="tablist">
      <h2 class="fs-5 me-auto">Equipment</h2>
      <div class="tab-buttons">
        <button class="active" id="gear-tab" data-bs-toggle="tab" data-bs-target="#gear-display" type="button" role="tab" aria-controls="gear-display" aria-selected="true">Gear</button>
        <button id="shadow-tab" data-bs-toggle="tab" data-bs-target="#shadow-display" type="button" role="tab" aria-controls="shadow-display" aria-selected="false">Shadow</button>
        <button id="cards-tab" data-bs-toggle="tab" data-bs-target="#cards-display" type="button" role="tab" aria-controls="cards-display" aria-selected="false">Cards</button>
        <button id="enchants-tab" data-bs-toggle="tab" data-bs-target="#enchants-display" type="button" role="tab" aria-controls="enchants-display" aria-selected="false">Enchants</button>
        <button id="pets-tab" data-bs-toggle="tab" data-bs-target="#pets-display" type="button" role="tab" aria-controls="pets-display" aria-selected="false">Pets</button>
      </div>
    </div>

    <!-- Tabs content -->
    <div class="tab-content shadow-container">

      <!-- Gear -->
      <div id="gear-display" class="tab-pane fade show active" role="tabpanel" aria-labelledby="gear-tab" tabindex="0">

        <div class="gear-container m-0 p-0 py-4">
          <div class="gear-col pt-1">
            <div class="d-flex flex-column gear-slot gap-1 align-items-end justify-content-center">
              <div class="d-flex justify-content-end gap-1"><span class="number-contrast">+8</span><span>Black Ribbon</span><img src="https://www.novaragnarok.com/data/items/icons2/5899.png" alt="Black Ribbon"></div>
              <div class="d-flex justify-content-end gap-1"><span>Blood Sucker</span><img src="https://www.novaragnarok.com/data/items/icons2/18754.png" alt="Blood Sucker"></div>
              <div class="d-flex justify-content-end gap-1"><span class="number-contrast">+15</span><span>Hypocrisy Edge</span><img src="https://www.novaragnarok.com/data/items/icons2/600008.png" alt="Hypocrisy Edge"></div>
              <div class="d-flex justify-content-end gap-1"><span class="number-contrast">+12</span><span>Temporal Str Manteau</span><img src="https://www.novaragnarok.com/data/items/icons2/20963.png" alt="Temporal Str Manteau"></div>
              <div class="d-flex justify-content-end gap-1"><span>Brilliant Light Ruby Ring</span><img src="https://www.novaragnarok.com/data/items/icons2/490056.png" alt="Brilliant Light Ruby Ring"></div>
            </div>
          </div>
          <div class="m-0 p-0">
            <img src="https://i.gyazo.com/80c613b61018867fc96b478deb997543.png" class="img-equip" alt="Ragnarok Online character">
          </div>
          <div class="gear-col-2 pt-1">
            <div class="d-flex flex-column gear-slot gap-1 align-items-start justify-content-center">
              <div class="d-flex justify-content-start gap-1"><img src="https://www.novaragnarok.com/data/items/icons2/400001.png" alt="Victory Wing Ears"><span>Victory Wing Ears</span></div>
              <div class="d-flex justify-content-start gap-1"><img src="https://www.novaragnarok.com/data/items/icons2/450127.png" alt="Automatic Armor A-type"><span>Automatic Armor A-type</span><span class="number-contrast">+11</span></div>
              <div class="d-flex justify-content-start gap-1"><img src="https://www.novaragnarok.com/data/items/icons2/600008.png" alt="Hypocrisy Edge"><span>Hypocrisy Edge</span><span class="number-contrast">+15</span></div>
              <div class="d-flex justify-content-start gap-1"><img src="https://www.novaragnarok.com/data/items/icons2/470066.png" alt="Illusion Sprint Shoes"><span>Illusion Sprint Shoes</span><span class="number-contrast">+11</span></div>
              <div class="d-flex justify-content-start gap-1"><img src="https://www.novaragnarok.com/data/items/icons2/490057.png" alt="Brilliant Light Ruby Necklace"><span>Brilliant Light Ruby Necklace</span></div>
            </div>
          </div>
        </div>

      </div>

      <!-- Shadow -->
      <div id="shadow-display" class="tab-pane fade" role="tabpanel" aria-labelledby="shadow-tab" tabindex="0">

        <div class="gear-container m-0 p-0 py-4 ">
          <div class="gear-col pt-1">
            <div class="d-flex flex-column gear-slot gap-1 align-items-end justify-content-center">
              <div class="d-flex justify-content-end gap-1"><span>Melee Amber [U]</span><img src="https://www.novaragnarok.com/data/items/icons2/1000377.png"></div>
              <div class="d-flex justify-content-end gap-1"><span>Melee Amber [L]</span><img src="https://www.novaragnarok.com/data/items/icons2/1000377.png"></div>
              <div class="d-flex justify-content-end gap-1"><span class="number-contrast">+9</span><span>Perfect Size Shadow Gauntlet</span><img src="https://www.novaragnarok.com/data/items/icons2/24425.png"></div>
              <div class="d-flex justify-content-end gap-1"><span>HP Absorb Onyx [G]</span><img src="https://www.novaragnarok.com/data/items/icons2/25209.png"></div>
              <div class="d-flex justify-content-end gap-1"><span class="number-contrast">+10</span><span>Almighty Shadow Focus</span><img src="https://www.novaragnarok.com/data/items/icons2/24339.png"></div>
            </div>
          </div>
          <div class="m-0 p-0">
            <img src="https://i.gyazo.com/80c613b61018867fc96b478deb997543.png" class="img-equip" alt="Ragnarok Online character">
          </div>
          <div class="gear-col-2 pt-1">
            <div class="d-flex flex-column gear-slot gap-1 align-items-start justify-content-center">
              <div class="d-flex justify-content-start gap-1"><img src="https://www.novaragnarok.com/data/items/icons2/1000377.png"><span>Melee Amber [M]</span></div>
              <div class="d-flex justify-content-start gap-1"><img src="https://www.novaragnarok.com/data/items/icons2/24245.png"><span>Reload Shadow Armor</span><span class="number-contrast">+9</span></div>
              <div class="d-flex justify-content-start gap-1"><img src="https://www.novaragnarok.com/data/items/icons2/24244.png"><span>Reload Shadow Shield</span><span class="number-contrast">+9</span></div>
              <div class="d-flex justify-content-start gap-1"><img src="https://www.novaragnarok.com/data/items/icons2/24243.png"><span>Reload Shadow Boots</span><span class="number-contrast">+9</span></div>
              <div class="d-flex justify-content-start gap-1"><img src="https://www.novaragnarok.com/data/items/icons2/24340.png"><span>Almighty Shadow Brooch</span><span class="number-contrast">+10</span></div>
            </div>
          </div>
        </div>

      </div>

      <!-- Cards -->
      <div id="cards-display" class="tab-pane fade" role="tabpanel" aria-labelledby="cards-tab" tabindex="0">

        <div class="gear-container m-0 p-0 py-4 ">
          <div class="gear-col pt-1">
            <div class="d-flex flex-column gear-slot gap-1 align-items-end justify-content-center">
              <div class="d-flex justify-content-end gap-1"><span>Purple Ferus</span><img src="https://www.novaragnarok.com/data/items/icons2/4009.png"></div>
              <div class="d-flex justify-content-end gap-1"><span><i class="pe-2">Empty</i></span></div>
              <div class="d-flex justify-content-end gap-1"><span>Contaminated Wanderer</span><img src="https://www.novaragnarok.com/data/items/icons2/4009.png"></div>
              <div class="d-flex justify-content-end gap-1"><span>Happiness Giver</span><img src="https://www.novaragnarok.com/data/items/icons2/4009.png"></div>
              <div class="d-flex justify-content-end gap-1"><span>Revolver Buffalo Bandit</span><img src="https://www.novaragnarok.com/data/items/icons2/4009.png"></div>
            </div>
          </div>
          <div class="m-0 p-0">
            <img src="https://i.gyazo.com/80c613b61018867fc96b478deb997543.png" class="img-equip" alt="Ragnarok Online character">
          </div>
          <div class="gear-col-2 pt-1">
            <div class="d-flex flex-column gear-slot gap-1 align-items-start justify-content-center">
              <div class="d-flex justify-content-start gap-1"><img src="https://www.novaragnarok.com/data/items/icons2/4009.png">
                <select class="form-select">
                  <option selected>Purple Ferus</option>
                  <option>Furious Hero</option>
                </select>
              </div>
              <div class="d-flex justify-content-start gap-1"><img src="https://www.novaragnarok.com/data/items/icons2/4009.png"><span>Mistress of Shelter</span></div>
              <div class="d-flex justify-content-start gap-1"><img src="https://www.novaragnarok.com/data/items/icons2/4009.png">
                <select class="form-select">
                  <option selected>Rekenber Guard</option>
                  <option>Contaminated Wanderer</option>
                  <option>Greater Special Alnoldi</option>
                </select>
              </div>
              <div class="d-flex justify-content-start gap-1"><img src="https://www.novaragnarok.com/data/items/icons2/4009.png">
                <select class="form-select">
                  <option selected>Outrageous Cookie</option>
                  <option>Ifodes</option>
                </select>
              </div>
              <div class="d-flex justify-content-start gap-1"><img src="https://www.novaragnarok.com/data/items/icons2/4009.png">
                <select class="form-select">
                  <option selected>Gigantes</option>
                  <option>Shotgun Buffalo Bandit</option>
                  <option>Chaotic Acolyte</option>
                </select>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Enchants -->
      <div id="enchants-display" class="tab-pane fade position-relative" role="tabpanel" aria-labelledby="enchants-tab" tabindex="0">

        <div class="gear-container m-0 p-0 py-4">
          <div class="gear-col pt-1">
            <div class="d-flex flex-column gear-slot gap-1 align-items-end justify-content-center">
              <div class="d-flex justify-content-end gap-1">
                <span>
                  <i class="pe-2">Empty</i>
                </span>
              </div>
              <div class="d-flex justify-content-end gap-1">
                <span>
                  <i class="pe-2">Empty</i>
                </span>
              </div>
              <div class="d-flex justify-content-end gap-1">
                <select class="form-select right">
                  <option selected>Atk 3~5%, Melee 14~20%</option>
                  <option>Atk 3~5%, Undead 14~20%</option>
                  <option>Undead 14~20%, Undead 14~20%</option>
                  <option>Neutral 14~20%, Melee 10~20%</option>
                  <option>Neutral 14~20%, Formless 14~20%</option>
                  <option>Ghost 14~20%, Demon 14~20%</option>
                  <option>Ghost 14~20%, Formless 14~20%</option>
                </select>
              </div>
              <div class="d-flex justify-content-end gap-1">
                <select class="form-select right">
                  <option selected>Atk 5%</option>
                  <option>Atk 6%</option>
                </select>
              </div>
              <div class="d-flex justify-content-end gap-1">
                <select class="form-select right">
                  <option selected>Anger Lv 5, Divine Evil Lv 5</option>
                  <option>Anger Lv 5, Divine Evil Lv 4</option>
                  <option>Anger Lv 5, Divine Evil Lv 3</option>
                  <option>Anger Lv 4, Divine Evil Lv 5</option>
                  <option>Anger Lv 4, Divine Evil Lv 4</option>
                  <option>Anger Lv 4, Divine Evil Lv 3</option>
                  <option>Anger Lv 3, Divine Evil Lv 4</option>
                  <option>Anger Lv 3, Divine Evil Lv 3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="m-0 p-0">
            <img src="https://i.gyazo.com/80c613b61018867fc96b478deb997543.png" class="img-equip" alt="Ragnarok Online character">
          </div>
          <div class="gear-col-2 pt-1">
            <div class="d-flex flex-column gear-slot gap-1 align-items-start justify-content-center">
              <div class="d-flex justify-content-start gap-1">
                <select class="form-select">
                  <option selected>10 Atk, 3% Atk</option>
                  <option>3% After Cast Delay, 3% Atk</option>
                  <option>[x2] 3% After Cast Delay</option>
                </select>
              </div>
              <div class="d-flex justify-content-start gap-1"><span>[x2] Power, Attacker Force</span></div>
              <div class="d-flex justify-content-start gap-1">
                <select class="form-select">
                  <option selected>Normal 6~10%</option>
                  <option>Boss 6~10%</option>
                </select>
              </div>
              <div class="d-flex justify-content-start gap-1"><span>[x2] Powerful Nive Lv 2</span></div>
              <div class="d-flex justify-content-start gap-1">
                <select class="form-select">
                  <option selected>Anger Lv 5, Divine Evil Lv 5</option>
                  <option>Anger Lv 5, Divine Evil Lv 4</option>
                  <option>Anger Lv 5, Divine Evil Lv 3</option>
                  <option>Anger Lv 4, Divine Evil Lv 5</option>
                  <option>Anger Lv 4, Divine Evil Lv 4</option>
                  <option>Anger Lv 4, Divine Evil Lv 3</option>
                  <option>Anger Lv 3, Divine Evil Lv 4</option>
                  <option>Anger Lv 3, Divine Evil Lv 3</option>
                </select>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Pets-->
      <div id="pets-display" class="tab-pane fade position-relative" role="tabpanel" aria-labelledby="pets-tab" tabindex="0">

        <div class="gear-container m-0 p-0 py-4">
          <div class="pet-row p-3">
            <div class="pet-col">
              <img src="https://www.novaragnarok.com/w/images/6/6a/OrcHeroPetWindow.jpg" alt="Orc Hero" width="96" height="125">
              <a href="https://www.novaragnarok.com/?module=vending&action=view&id=9121" target="_blank" class="link link-contrast">Orc Hero</a>
              <p><img src="https://novaragnarok.com/data/items/icons2/9121.png" alt="Orc Hero"> Damage</p>
            </div>
            <div class="pet-col">
              <img src="https://www.novaragnarok.com/w/images/9/95/PhreeoniPetWindow.jpg" alt="Phreeoni" width="96" height="125">
              <a href="https://www.novaragnarok.com/?module=vending&action=view&id=9111" target="_blank" class="link link-contrast">Phreooni</a>
              <p><img src="https://novaragnarok.com/data/items/icons2/9111.png" alt="Phreooni Egg"> Utility</p>
            </div>
            <div class="pet-col">
              <img src="https://www.novaragnarok.com/w/images/3/3a/IncubusPetWindow.jpg" alt="Incubus" width="96" height="125">
              <a href="https://www.novaragnarok.com/?module=vending&action=view&id=9052" target="_blank" class="link link-contrast">Incubus</a>
              <p><img src="https://novaragnarok.com/data/items/icons2/9052.png" alt="Imcubus"> Farming</p>
            </div>
          </div>
        </div>

      </div>

      <!-- Damage calculations -->
      <div class="d-flex w-100 justify-content-center my-3">
        <!-- Parent giving 100% width -->
        <div id="Calculations" class="p-3">
          <div class="d-flex">
            <h2 class="fs-5 me-auto">
              Damage calculations
            </h2>
            <div class="align-self-end pe-1 pb-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Upcoming: Swapping gear alters the damage values below">
              <i class="fa-regular fa-lightbulb"></i>
            </div>
          </div>
          <div class="calc-container border-rounded shadow-container row p-0 m-0 p-3">
            <div class="header w-100 d-flex align-items-baseline m-0 p-0">
              <p class="me-auto p-0 fw-bold">Average damage against</p>
              <div class="fw-bold" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Disclaimer: This is flat damage, not damage per second."><i class="fa-solid fa-triangle-exclamation fa-sm text-white"></i></div>
            </div>
            <!-- Dummy -->
            <div class="col-12 col-md-6 m-0 p-0 p-2">
              <p class="header">Dummy</p>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Small</p>
                <p class="number">1,833,548</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Medium</p>
                <p class="number">2,114,918</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Large</p>
                <p class="number">2,437,674</p>
              </div>
              <hr>
            </div>

            <!-- Einbech 3 -->
            <div class="col-12 col-md-6 m-0 p-0 p-2">
              <p class="header">Einbech 3 <img src="https://www.novaragnarok.com/data/items/icons2/29989.png" width="22" height="22" class="d-inline" alt="Fire Elemental Converter"></p>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Porcellio <span class="low-focus">(Earth 4)</span></p>
                <p class="number">3,447,567</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Abyssman <span class="low-focus">(Neutral 4)</span></p>
                <p class="number">2,437,674</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Mineral <span class="low-focus">(Neutral 4)</span></p>
                <p class="number">2,437,674</p>
              </div>
              <hr>
            </div>

            <!-- Thanathos F12 -->
            <div class="col-12 col-md-6 m-0 p-0 p-2">
              <p class="header">Thanatos F12 <img src="https://www.novaragnarok.com/data/items/icons2/32107.png" width="22" height="22" alt="Holy Elemental Converter"></p>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Anger <span class="low-focus">(Fire 4)</span></p>
                <p class="number">2,685,556</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Horror <span class="low-focus">(Poison 4)</span></p>
                <p class="number">3,210,271</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Resentment <span class="low-focus">(Ghost 4)</span></p>
                <p class="number">2,842,091</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Regret <span class="low-focus">(Ghost 4)</span></p>
                <p class="number">3,320,425</p>
              </div>
              <hr class="d-block d-md-none">
            </div>

            <!-- Juperos -->
            <div class="col-12 col-md-6 m-0 p-0 p-2">
              <p class="header">Juperos</p>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Apocalypse <span class="low-focus">(Holy 2)</span></p>
                <p class="number">2,437,674</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Archdam <span class="low-focus">(Ghost 2)</span></p>
                <p class="number">1,234,284</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Robot <span class="low-focus">(Dark 2)</span></p>
                <p class="number">2,437,674</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Excavator <span class="low-focus">(Poison 2)</span></p>
                <p class="number">1,833,548</p>
              </div>
            </div>

          </div>
          <p class="ms-auto text-end" style="font-size: .75rem;"><a href="https://zzyx.de/ro/s/p2dkgsgvqerl" target="_blank" class="link">ATK Calculator</a></p>
        </div>
      </div>

    </div> <!-- Tabs content -->
  </section>

  <section id="Stats" class="mb-4">
    <h2 class="fs-5">Stats</h2>
    <div id="Stats-Container">
      <!-- Status -->
      <div id="Status" class="p-3 shadow-container">
        <div>
          <h3 class="fs-5 header">
            Status
          </h3>
          <p class="w-100">The core of most builds. Although they can be minmaxed, it's not a requirement.</p>
          <div class="status-wrapper shadow-container">
            <h4 class="header fs-6">
              Recommended
            </h4>
            <div class="status-toggle" aria-hidden="false">
                <div class="status-grid shadow-container">
                  <div><b>Str</b> <span>120</span></div>
                  <div><b>Agi</b> <span>100</span></div>
                  <div><b>Vit</b> <span>80</span></div>
                  <div><b>Int</b> <span>90</span></div>
                  <div><b>Dex</b> <span>120</span></div>
                  <div><b>Luk</b> <span>75</span></div>
                </div>
            </div>
            <div class="status-toggle" style="display: none;" aria-hidden="true">
              <div class="status-grid shadow-container">
                <div><b>Str</b> <span>203</span></div>
                <div><b>Agi</b> <span>139</span></div>
                <div><b>Vit</b> <span>108</span></div>
                <div><b>Int</b> <span>134</span></div>
                <div><b>Dex</b> <span>157</span></div>
                <div><b>Luk</b> <span>103</span></div>
              </div>
            </div>
            <div>
              <ul>
                <li><span class="header">Str</span> <span class="tag">Important</span> maximizes your damage and weight.</li>
                <li><span class="header">Agi</span> provides extra damage thanks to <img src="https://www.novaragnarok.com/data/items/icons2/5899.png" alt="Black Ribbon"> <a href="https://www.novaragnarok.com/?module=vending&action=view&id=5899" target="_blank" class="link">Black Ribbon</a>.</li>
                <li><span class="header">Vit</span> gives you survival & potion effifency.</li>
                <li><span class="header">Int</span> if you lack or run out of SP.</li>
                <li><span class="header">Dex</span> <span class="tag">Important</span> increases your hit rate.</li>
                <li><span class="header">Luk</span> increases your hit rate and damage slightly.</li>
              </ul>
            </div>
          </div>
        </div>


      </div>

      <!-- Battle Stats -->
      <div id="Battle-Stats" class="p-3 shadow-container">
        <div>
          <h3 class="fs-5 header">Battle Stats</h3>
          <p>
            The better the balance between them, the higher the efficiency.
          </p>
        </div>
        <div class="battle-stats-grid shadow-container">
          <div>
            <h4 class="header">Attack</h4>
            <div class="shadow-container">
              <p><span>Atk</span> <span>593</span></p>
              <p><span>Normal</span> <span>74%</span></p>
              <p><span>Boss</span> <span>74%</span></p>
            </div>
          </div>
          <div>
            <h4 class="header">Size</h4>
            <div class="shadow-container">
              <p><span>Small</span> <span>42%</span></p>
              <p><span>Medium</span> <span>72%</span></p>
              <p><span>Large</span> <span>72%</span></p>
            </div>
          </div>
          <div>
            <h4 class="header">Race</h4>
            <div class="shadow-container">
              <p><span>All</span> <span>14%</span></p>
              <p><span>Demon</span> <span>34%</span></p>
              <p><span>Angel</span> <span>34%</span></p>
            </div>
          </div>
          <div>
            <h4 class="header">Others</h4>
            <div class="shadow-container">
              <p><span>Melee</span> <span>125%</span></p>
              <p><span>WC</span> <span>85%</span></p>
              <p><span>ACD</span> <span>34%</span></p>
            </div>
          </div>
        </div>
        <a href="https://www.novaragnarok.com/wiki/Damage_Formula" target="_blank" class="link link-small ms-auto">Damage Formula</a>

      </div>

    </div>
  </section>

  <section id="Skills" class="mb-4">
    <h2 class="fs-5">Skills</h2>

    <!-- Collapse all section -->
    <div class="p-3">
      <h3 class="fs-5 header">Distribution priority</h3>
      <div class="skills-intro-wrapper">
        <div>
          <p class="m-0">This are the required skills points to perform the build accordingly. Any extra points can be allocated freely at your will.</p>
          <p class="low-focus mb-3">Click/tap on the skills to learn more about them.</p>
        </div>
        <button class="toggle skills ms-auto" type="button" aria-label="Toggle names on and off" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Toggle details"><i class="fa-solid fa-eye"></i></button>
      </div>
      <div class="skill-priority">
          <!-- 1st Job -->
          <div class="skill-priority-cont">
            <div>
              <p><img src="assets/img/icons/swordman.webp" alt="Swordman icon"> Swordman<span class="tag ms-auto">31 points</span></p>
            </div>
            <div class="shadow-container">
              <div><a href="https://www.divine-pride.net/database/skill/2/sword-mastery" target="_blank" class="skill">1 <img src="https://static.divine-pride.net/images/skill/2.png" alt="Sword Mastery"><span class="name-toggle">Sword Mastery</span></a></div>
              <div><a href="https://www.divine-pride.net/database/skill/3/two-handed-sword-mastery" target="_blank" class="skill">10 <img src="https://static.divine-pride.net/images/skill/3.png" alt="Two-Handed Sword Mastery"><span class="name-toggle">Two-Handed Sword Mastery</span></a></div>
              <div><a href="https://www.divine-pride.net/database/skill/4/increase-hp-recovery" target="_blank" class="skill">10 <img src="https://static.divine-pride.net/images/skill/4.png" alt="Increase HP Recovery"><span class="name-toggle">Increase HP Recovery</span></a></div>
              <div><a href="https://www.divine-pride.net/database/skill/7/magnum-break" target="_blank" class="skill">10 <img src="https://static.divine-pride.net/images/skill/7.png" alt="Magnum Break"><span class="name-toggle">Magnum Break</span></a></div>
            </div>
          </div>
          <!-- 2nd job -->
          <div class="skill-priority-cont">
            <div>
              <p><img src="assets/img/icons/knight.webp" alt="Knight icon"> Lord Knight<span class="tag ms-auto">37 points</span></p>
            </div>
            <div class="shadow-container">
              <div><a href="https://www.divine-pride.net/database/skill/63/peco-peco-ride" target="_blank" class="skill">1 <img src="https://static.divine-pride.net/images/skill/63.png" alt="Riding"><span class="name-toggle">Riding</span></a></div>
              <div><a href="https://www.divine-pride.net/database/skill/64/cavalier-mastery" target="_blank" class="skill">1 <img src="https://static.divine-pride.net/images/skill/64.png" alt="Cavalier Mastery"><span class="name-toggle">Cavalier Mastery</span></a></div>
              <div><a href="https://www.divine-pride.net/database/skill/60/two-hand-quicken" target="_blank" class="skill">10 <img src="https://static.divine-pride.net/images/skill/60.png" alt="Two-Hand Quicken"><span class="name-toggle">Two-Hand Quicken</span></a></div>
              <div><a href="https://www.divine-pride.net/database/skill/355/aura-blade" target="_blank" class="skill">5 <img src="https://static.divine-pride.net/images/skill/355.png" alt="Aura Blade"><span class="name-toggle">Aura Blade</span></a></div>
              <div><a href="https://www.divine-pride.net/database/skill/356/parry" target="_blank" class="skill">10 <img src="https://static.divine-pride.net/images/skill/356.png" alt="Parrying"><span class="name-toggle">Parrying</span></a></div>
              <div><a href="https://www.divine-pride.net/database/skill/357/spear-dynamo" target="_blank" class="skill">5 <img src="https://static.divine-pride.net/images/skill/357.png" alt="Concentration"><span class="name-toggle">Concentration</span></a></div>
              <div><a href="https://www.divine-pride.net/database/skill/397/clashing-spiral" target="_blank" class="skill">5 <img src="https://static.divine-pride.net/images/skill/397.png" alt="Spiral Pierce"><span class="name-toggle">Spiral Pierce</span></a></div>
            </div>
          </div>
          <!-- 3rd job -->
          <div class="skill-priority-cont">
            <div>
              <p><img src="assets/img/icons/runeknight.webp" alt="Rune Knight icon"> Rune Knight<span class="tag ms-auto">40 points</span></p>
            </div>
            <div class="shadow-container">
              <div><a href="https://www.divine-pride.net/database/skill/2007/dragon-training" target="_blank" class="skill">5 <img src="https://static.divine-pride.net/images/skill/2007.png" alt="Dragon Training"><span class="name-toggle">Dragon Training</span></a></div>
              <div><a href="https://www.divine-pride.net/database/skill/2010/rune-mastery" target="_blank" class="skill">10 <img src="https://static.divine-pride.net/images/skill/2010.png" alt="Rune Mastery"><span class="name-toggle">Rune Mastery</span></a></div>
              <div><a href="https://www.divine-pride.net/database/skill/2001/enchant-blade" target="_blank" class="skill">10 <img src="https://static.divine-pride.net/images/skill/2001.png" alt="Enchant Blade"><span class="name-toggle">Enchant Blade</span></a></div>
              <div><a href="https://www.divine-pride.net/database/skill/2005/wind-cutter" target="_blank" class="skill">5 <img src="https://static.divine-pride.net/images/skill/2005.png" alt="Wind Cutter"><span class="name-toggle">Wind Cutter</span></a></div>
              <div><a href="https://www.divine-pride.net/database/skill/2002/sonic-wave" target="_blank" class="skill">10 <img src="https://static.divine-pride.net/images/skill/2002.png" alt="Sonic Wave"><span class="name-toggle">Sonic Wave</span></a></div>
            </div>
          </div>
        </div>
    </div>
  </section>

  <!-- Consumables -->
  <section id="Consumables" class="mb-4">
    <!-- Tab Buttons -->
    <div class="d-flex flex-wrap" id="Consumables-tab" role="tablist">
      <h2 class="fs-5 me-auto">Consumables</h2>
      <div class="tab-buttons">
        <button class="active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general-display" type="button" role="tab" aria-controls="general-display" aria-selected="true">General</button>
        <button id="endeavor-tab" data-bs-toggle="tab" data-bs-target="#endeavor-display" type="button" role="tab" aria-controls="endeavor-display" aria-selected="false">Endeavor</button>
        <button id="others-tab" data-bs-toggle="tab" data-bs-target="#others-display" type="button" role="tab" aria-controls="others-display" aria-selected="false">Others</button>
        <button id="runes-tab" data-bs-toggle="tab" data-bs-target="#runes-display" type="button" role="tab" aria-controls="runes-display" aria-selected="false">Runes</button>
      </div>
    </div>
    <!-- Tabs content -->
    <div class="tab-content px-3 shadow-container">

      <!-- Header p -->
      <div class="d-flex justify-content-center pt-4">
      </div>
      <!-- General display -->
      <div id="general-display" class="tab-pane fade show active" role="tabpanel" aria-labelledby="general-tab" tabindex="0">
        <div class="consumables-container">
          <div>
            <div class="consumables-description">
              <p><span class="tag">Recommended</span><span class="tag">Survival</span><span class="tag">Utility</span></p>
              <p>This consumables should be at the top of your refill category as they serve you greatly.</p>
            </div>
            <!-- 1 -->
            <div class="consumables-wrapper">
              <button class="toggle consumables ms-auto" type="button" aria-label="Toggle information in and out" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Swap information"><i class="fa-solid fa-right-left"></i></button>
              <div class="consumable-toggle" style="display: none;">
                <div><img src="https://www.novaragnarok.com/data/items/icons2/34159.png" alt="Concentrated Golden Syrup Potion"> <span class="tag">Craft</span><span class="tag">Market</span> Genetic crafting.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/34158.png" alt="Concentrated Blue Syrup Potion"> <span class="tag">Craft</span><span class="tag">Market</span> Genetic crafting.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/12414.png" alt="Guarana Candy"> <span class="tag">Quest</span> <a href="https://irowiki.org/wiki/Guarana_Quest" target="_blank" class="important">Guarana Quest</a></div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/610.png" alt="Yggdrasil Leaf"> <span class="tag">NPC</span> Any Tool Dealer.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/607.png" alt="Yggdrasil Berry"> <span class="tag">Farm</span> <a href="https://www.novaragnarok.com/wiki/Bioresearch_Laboratory" target="_blank" class="important">EDDA - Gauntlet Mode</a></div>
              </div>

              <div class="consumable-text">
                <div><span class="number-contrast">500</span> <img src="https://www.novaragnarok.com/data/items/icons2/34159.png" alt="Concentrated Golden Syrup Potion"> Concentrated Golden Syrup Potion</div>
                <div><span class="number-contrast">100</span> <img src="https://www.novaragnarok.com/data/items/icons2/34158.png" alt="Concentrated Blue Syrup Potion"> Concentrated Blue Syrup Potion</div>
                <div><span class="number-contrast">100</span> <img src="https://www.novaragnarok.com/data/items/icons2/12414.png" alt="Guarana Candy"> Guarana Candy</div>
                <div><span class="number-contrast">10 </span> <img src="https://www.novaragnarok.com/data/items/icons2/610.png" alt="Yggdrasil Leaf"> Yggdrasil Leaf</div>
                <div><span class="number-contrast">10 </span> <img src="https://www.novaragnarok.com/data/items/icons2/607.png" alt="Yggdrasil Berry"> Yggdrasil Berry</div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Endeavor display -->
      <div id="endeavor-display" class="tab-pane fade" role="tabpanel" aria-labelledby="endeavor-tab" tabindex="0">
        <div class="consumables-container">
          <div>
            <div class="consumables-description">
              <p><span class="tag">Recommended</span><span class="tag">Offense</span><span class="tag">Defense</span><span class="tag">Utility</span></p>
              <p>This are your general instance/farming consumables. Only use them when you're in dire need of them.</p>
            </div>
            <!-- 2 -->
            <div class="consumables-wrapper">
              <button class="toggle consumables ms-auto" type="button" aria-label="Toggle information in and out" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Swap information"><i class="fa-solid fa-right-left"></i></button>
              <div class="consumable-toggle" style="display: none;">
                <div><img src="https://www.novaragnarok.com/data/items/icons2/34785.png" alt="Great Shining Gin Potion"> <span class="tag">NPC</span> Main Office - 2nd floor.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/34580.png" alt="Great Maniacal Potion"> <span class="tag">NPC</span> Main Office - 2nd floor.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/34585.png" alt="Great Sacred Draught"> <span class="tag">NPC</span> Main Office - 2nd floor.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/34911.png" alt="Imperfect Almighty"> <span class="tag">NPC</span> Main Office - 2nd floor.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/34584.png" alt="Great Elixir of Energy"> <span class="tag">NPC</span> Main Office - 2nd floor.</div>
              </div>
              <div class="consumable-text">
                <div><span class="number-contrast">20</span> <img src="https://www.novaragnarok.com/data/items/icons2/34785.png" alt="Great Shining Gin Potion"> Great Shining Gin Potion</div>
                <div><span class="number-contrast">20</span> <img src="https://www.novaragnarok.com/data/items/icons2/34580.png" alt="Great Maniacal Potion"> Great Maniacal Potion</div>
                <div><span class="number-contrast">20</span> <img src="https://www.novaragnarok.com/data/items/icons2/34585.png" alt="Great Sacred Draught"> Great Sacred Draught</div>
                <div><span class="number-contrast">20</span> <img src="https://www.novaragnarok.com/data/items/icons2/34911.png" alt="Imperfect Almighty"> Imperfect Almighty</div>
                <div><span class="number-contrast">10</span> <img src="https://www.novaragnarok.com/data/items/icons2/34584.png" alt="Great Elixir of Energy"> Great Elixir of Energy</div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Others display -->
      <div id="others-display" class="tab-pane fade" role="tabpanel" aria-labelledby="others-tab" tabindex="0">
        <div class="consumables-container">
          <div>
            <div class="consumables-description">
              <p><span class="tag">Optional</span><span class="tag">Survival</span><span class="tag">Offense</span><span class="tag">Utility</span></p>
              <p>Not core consumables, but very helpful to have around. Often used to exploit your damage potential or farming efficiency.</p>
            </div>
            <!-- 3 -->
            <div class="consumables-wrapper">
              <button class="toggle consumables ms-auto" type="button" aria-label="Toggle information in and out" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Swap information"><i class="fa-solid fa-right-left"></i></button>
              <div class="consumable-toggle" style="display: none;">
                <div><img src="https://www.novaragnarok.com/data/items/icons2/657.png" alt="Berserk Potion"> <span class="tag">NPC</span> Any Tool Dealer.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/12437.png" alt="Enrich Celermine Juice"> <span class="tag">Craft</span><span class="tag">Market</span> Genetic crafting.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/34155.png" alt="Red Herb Activator"> <span class="tag">Craft</span><span class="tag">Market</span> Genetic crafting.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/34154.png" alt="Golden X"> <span class="tag">Craft</span><span class="tag">Market</span> Genetic crafting.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/12115.png" alt="Water Elemental Converter"> <span class="tag">NPC</span> Ju, Main Office - 1st floor.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/12114.png" alt="Fire Elemental Converter"> <span class="tag">NPC</span> Ju, Main Office - 1st floor.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/12116.png" alt="Earth Elemental Converter"> <span class="tag">NPC</span> Ju, Main Office - 1st floor.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/12117.png" alt="Wind Elemental Converter"> <span class="tag">NPC</span> Ju, Main Office - 1st floor.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/12280.png" alt="Holy Elemental Converter"> <span class="tag">NPC</span> Ju, Main Office - 1st floor.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/12020.png" alt="Cursed Water"> <span class="tag">Farm</span> Dungeon - Gefenia.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/34300.png" alt="Rejuvenation Potion"> <span class="tag">NPC</span> Potion Dealer, Main Office - 2nd floor.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/34301.png" alt="Great Rejuvenation Tonic"> <span class="tag">NPC</span> Potion Dealer, Main Office - 2nd floor.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/34299.png" alt="Great Tonic of Energy"> <span class="tag">NPC</span> Potion Dealer, Main Office - 2nd floor.</div>
              </div>
              <div class="consumable-text">
                <div><span class="number-contrast">10</span> <img src="https://www.novaragnarok.com/data/items/icons2/657.png" alt="Berserk Potion"> Berserk Potion</div>
                <div><span class="number-contrast">10</span> <img src="https://www.novaragnarok.com/data/items/icons2/12437.png" alt="Enrich Celermine Juice"> Enrich Celermine Juice</div>
                <div><span class="number-contrast">30</span> <img src="https://www.novaragnarok.com/data/items/icons2/34155.png" alt="Red Herb Activator"> Red Herb Activator</div>
                <div><span class="number-contrast">5</span> <img src="https://www.novaragnarok.com/data/items/icons2/34154.png" alt="Golden X"> Golden X</div>
                <div><span class="number-contrast">10</span> <img src="https://www.novaragnarok.com/data/items/icons2/12115.png" alt="Water Elemental Converter"> Water Elemental Converter</div>
                <div><span class="number-contrast">50</span> <img src="https://www.novaragnarok.com/data/items/icons2/12114.png" alt="Fire Elemental Converter"> Fire Elemental Converter</div>
                <div><span class="number-contrast">10</span> <img src="https://www.novaragnarok.com/data/items/icons2/12116.png" alt="Earth Elemental Converter"> Earth Elemental Converter</div>
                <div><span class="number-contrast">10</span> <img src="https://www.novaragnarok.com/data/items/icons2/12117.png" alt="Wind Elemental Converter"> Wind Elemental Converter</div>
                <div><span class="number-contrast">10</span> <img src="https://www.novaragnarok.com/data/items/icons2/12280.png" alt="Holy Elemental Converter"> Holy Elemental Converter</div>
                <div><span class="number-contrast">15</span> <img src="https://www.novaragnarok.com/data/items/icons2/12020.png" alt="Cursed Water"> Cursed Water</div>
                <div><span class="number-contrast">5</span> <img src="https://www.novaragnarok.com/data/items/icons2/34300.png" alt="Rejuvenation Potion"> Rejuvenation Potion</div>
                <div><span class="number-contrast">5</span> <img src="https://www.novaragnarok.com/data/items/icons2/34301.png" alt="Great Rejuvenation Tonic"> Great Rejuvenation Tonic</div>
                <div><span class="number-contrast">5</span> <img src="https://www.novaragnarok.com/data/items/icons2/34299.png" alt="Great Tonic of Energy"> Great Tonic of Energy</div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Runes display -->
      <div id="runes-display" class="tab-pane fade" role="tabpanel" aria-labelledby="runes-tab" tabindex="0">
        <div class="consumables-container">
          <div>
            <div class="consumables-description">
              <p><span class="tag">Recommended</span><span class="tag">Survival</span><span class="tag">Offense</span><span class="tag">Defense</span><span class="tag">Utility</span></p>
              <p>Essentially what makes you a Rune Knight. This is my personal <i class="focus">must to have list</i>, but feel free to ignore the Utility ones.</p>
            </div>
            <!-- 4 -->
            <div class="consumables-wrapper">
              <button class="toggle consumables ms-auto" type="button" aria-label="Toggle information in and out" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Swap information"><i class="fa-solid fa-right-left"></i></button>
              <div class="consumable-toggle" style="display: none;">
                <div><img src="https://www.novaragnarok.com/data/items/icons2/22540.png" alt="Lux Anima Rune"> <span class="tag">Craft</span> Rune Knight crafting.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/12731.png" alt="Turisus Runestone"> <span class="tag">Craft</span> Rune Knight crafting.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/12729.png" alt="Asir Runestone"> <span class="tag">Craft</span> Rune Knight crafting.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/12733.png" alt="Hagalas Runestone"> <span class="tag">Craft</span> Rune Knight crafting.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/12727.png" alt="Verkana Runestone"> <span class="tag">Craft</span> Rune Knight crafting.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/12728.png" alt="Isia Runestone"> <span class="tag">Craft</span> Rune Knight crafting.</div>
                <div><img src="https://www.novaragnarok.com/data/items/icons2/12730.png" alt="Urj Runestone"> <span class="tag">Craft</span> Rune Knight crafting.</div>
              </div>
              <div class="consumable-text">
                <div>
                  <p>Offensive</p>
                </div>
                <div><span class="number number-contrast">30</span> <img src="https://www.novaragnarok.com/data/items/icons2/22540.png" alt="Lux Anima Rune"> Lux Anima Rune</div>
                <div><span class="number-contrast">30</span> <img src="https://www.novaragnarok.com/data/items/icons2/12731.png" alt="Turisus Runestone"> Turisus Runestone</div>
                <div><span class="number-contrast">30</span> <img src="https://www.novaragnarok.com/data/items/icons2/12729.png" alt="Asir Runestone"> Asir Runestone</div>
                <div>
                  <p>Defensive</p>
                </div>
                <div><span class="number-contrast">30</span> <img src="https://www.novaragnarok.com/data/items/icons2/12733.png" alt="Hagalas Runestone"> Hagalas Runestone</div>
                <div>
                  <p>Survival</p>
                </div>
                <div><span class="number-contrast">30</span> <img src="https://www.novaragnarok.com/data/items/icons2/12727.png" alt="Verkana Runestone"> Verkana Runestone</div>
                <div>
                  <p>Utility</p>
                </div>
                <div><span class="number-contrast">30</span> <img src="https://www.novaragnarok.com/data/items/icons2/12728.png" alt="Isia Runestone"> Isia Runestone</div>
                <div><span class="number-contrast">30</span> <img src="https://www.novaragnarok.com/data/items/icons2/12730.png" alt="Urj Runestone"> Urj Runestone</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer p -->
      <div class="d-flex justify-content-center">
        <div class="fake-div mt-1 pb-4">
          <p class="ms-auto text-end" style="font-size: .75rem;"><a href="https://www.novaragnarok.com/wiki/Creation_Database" target="_blank" class="link">Creation Database</a></p>
        </div>
      </div>
    </div>
  </section>

  <section id="Farming" class="mb-4">
    <h2 class="fs-5">Farming</h2>
    <div class="p-3 shadow-container">
      <div id="Autoloot">
        <h3 class="header fs-5">Autoloot</h3>
        <p class="mb-1">The following list is from my personal use. If you don't see an specific list <span class="low-focus">(like in example Odin 4)</span>, chances are I simply use the general autoloot.</p>
        <!-- General -->
        <div class="d-flex align-items-center flex-wrap mb-2 autoloot-selector">
          <p class="header m-0">General
            <code id="General-Autoloot" class="code contrast">@autoloot 0.9</code>
            <button class="toggle copy" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"><i class="fa-solid fa-copy"></i></button>
          </p>
          <button type="button" aria-label="Toggle autoloot code on and off" class="toggle autoloot ms-auto" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Toggle details"><i class="fa-solid fa-eye"></i></button>
        </div>
        <div class="autoloot-list position-relative">
          <!-- Einbech 3 -->
          <div class="autoloot-selector shadow-container">
            <div>
              <span>Einbech 3</span>
              <span class="tag">Farm</span>
              <button class="toggle copy ms-auto" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"><i class="fa-solid fa-copy"></i></button>
            </div>
            <div class="autoloot-text">
              <img src="https://www.novaragnarok.com/data/items/icons2/25809.png" alt="Redium">
              <img src="https://www.novaragnarok.com/data/items/icons2/25810.png" alt="Rindium">
              <img src="https://www.novaragnarok.com/data/items/icons2/25811.png" alt="Odium">
              <img src="https://www.novaragnarok.com/data/items/icons2/25812.png" alt="Purdium">
              <img src="https://www.novaragnarok.com/data/items/icons2/25813.png" alt="Whidium">
              <img src="https://www.novaragnarok.com/data/items/icons2/25814.png" alt="Dynite">
              <img src="https://www.novaragnarok.com/data/items/icons2/9517.png" alt="Unidentified Ore">
            </div>
            <p class="autoloot-text"><code id="Einbech3-Autoloot" class="code contrast">@alootid +25809|+25810|+25811|+25812|+25813|+25814|+9517</code></p>
          </div>
          <!-- Juperos -->
          <div class="autoloot-selector shadow-container">
            <div>
              <span>Juperos</span>
              <span class="tag">Farm</span>
              <button class="toggle copy ms-auto" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"><i class="fa-solid fa-copy"></i></button>
            </div>
            <div class="autoloot-text">
              <img src="https://www.novaragnarok.com/data/items/icons2/34716.png" alt="Old Gear">
              <img src="https://www.novaragnarok.com/data/items/icons2/34717.png" alt="Ancient Core">
              <img src="https://www.novaragnarok.com/data/items/icons2/34712.png" alt="Juperium Energy">
            </div>
            <p class="autoloot-text"><code id="Juperos-Autoloot" class="code contrast">@alootid +34716|+34717|+34712</code></p>
          </div>
          <!-- Luanda + Twins -->
          <div class="autoloot-selector shadow-container">
            <div>
              <span>Illusion Luanda + Twins</span>
              <span class="tag">Quest/Farm</span>
              <button class="toggle copy ms-auto" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"><i class="fa-solid fa-copy"></i></button>
            </div>
            <div class="autoloot-text">
              <img src="https://www.novaragnarok.com/data/items/icons2/25633.png" alt="Token of Wootan">
              <img src="https://www.novaragnarok.com/data/items/icons2/25638.png" alt="Token of Megalith">
              <img src="https://www.novaragnarok.com/data/items/icons2/35055.png" alt="Twilight Illusion Stone">
              <img src="https://www.novaragnarok.com/data/items/icons2/100003.png" alt="Dusk Dissonance Stone">
              <img src="https://www.novaragnarok.com/data/items/icons2/100004.png" alt="Dawn Dissonance Stone">
            </div>
            <p class="autoloot-text"><code id="Luanda-Twins-Autoloot" class="code contrast">@alootid +25633|+25638|+35055|+100003|+100004</code></p>
          </div>
          <!-- Elunium & Oridecon -->
          <div class="autoloot-selector shadow-container">
            <div>
              <span>Elunium & Oridecon</span>
              <span class="tag">Farm</span>
              <button class="toggle copy ms-auto" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"><i class="fa-solid fa-copy"></i></button>
            </div>
            <div class="autoloot-text">
              <img src="https://www.novaragnarok.com/data/items/icons2/985.png" alt="Elunium">
              <img src="https://www.novaragnarok.com/data/items/icons2/984.png" alt="Oridecon">
            </div>
            <p class="autoloot-text"><code id="Elunium-Oridecon-Autoloot" class="code contrast">@alootid +985|+984</code></p>
          </div>
          <!-- Old Glast Heim -->
          <div class="autoloot-selector shadow-container">
            <div>
              <span>Old Glast Heim</span>
              <span class="tag">Daily</span>
              <button class="toggle copy ms-auto" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"><i class="fa-solid fa-copy"></i></button>
            </div>

            <div class="autoloot-text">
              <img src="https://www.novaragnarok.com/data/items/icons2/985.png" alt="Elunium">
              <img src="https://www.novaragnarok.com/data/items/icons2/757.png" alt="Rough Elunium">
              <img src="https://www.novaragnarok.com/data/items/icons2/756.png" alt="Rough Oridecon">
              <img src="https://www.novaragnarok.com/data/items/icons2/747.png" alt="Crystal Mirror">
              <img src="https://www.novaragnarok.com/data/items/icons2/997.png" alt="Great Nature">
              <img src="https://www.novaragnarok.com/data/items/icons2/938.png" alt="Sticky Mucus">
              <img src="https://www.novaragnarok.com/data/items/icons2/727.png" alt="Opal">
            </div>
            <p class="autoloot-text"><code id="Old-Glast-Autoloot" class="code contrast">@alootid -985|-757|-756|-747|-997|-938|-727</code></p>
          </div>
          <!-- Horror Toy Factory -->
          <div class="autoloot-selector shadow-container">
            <div>
              <span>Horror Toy Factory </span>
              <span class="tag">Daily</span>
              <button class="toggle copy ms-auto" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"><i class="fa-solid fa-copy"></i></button>
            </div>
            <div class="autoloot-text">
              <img src="https://www.novaragnarok.com/data/items/icons2/969.png" alt="Gold">
              <img src="https://www.novaragnarok.com/data/items/icons2/7230.png" alt="Platinum Bullion">
              <img src="https://www.novaragnarok.com/data/items/icons2/7642.png" alt="Bloody Coin">
            </div>
            <p class="autoloot-text"><code id="Horror-Toy-Autoloot" class="code contrast">@alootid +969|+7230|+7642</code></p>
          </div>
          <!-- All Illusion -->
          <div class="shadow-container w-100">
            <div>
              <span>All Illusion Dungeons</span>
              <span class="tag">Quest/Farm</span>
              <button class="toggle copy ms-auto" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"><i class="fa-solid fa-copy"></i></button>
            </div>
            <div class="autoloot-text">
              <img src="https://www.novaragnarok.com/data/items/icons2/25266.png" alt="Dried Yggdrasil Leaf">
              <img src="https://www.novaragnarok.com/data/items/icons2/25267.png" alt="Suspicious Pentacle">
              <img src="https://www.novaragnarok.com/data/items/icons2/25265.png" alt="Shining Spore">
              <img src="https://www.novaragnarok.com/data/items/icons2/25264.png" alt="Cluster of Nightmares">
              <img src="https://www.novaragnarok.com/data/items/icons2/7564.png" alt="Rotten Meat">
              <img src="https://www.novaragnarok.com/data/items/icons2/25633.png" alt="Token of Wootan">
              <img src="https://www.novaragnarok.com/data/items/icons2/25638.png" alt="Token of Megalith">
              <img src="https://www.novaragnarok.com/data/items/icons2/25899.png" alt="Abyssal Essence">
              <img src="https://www.novaragnarok.com/data/items/icons2/35055.png" alt="Twilight Illusion Stone">
              <img src="https://www.novaragnarok.com/data/items/icons2/100003.png" alt="Dusk Dissonance Stone">
              <img src="https://www.novaragnarok.com/data/items/icons2/100004.png" alt="Dawn Dissonance Stone">
            </div>
            <p class="autoloot-text"><code id="All-Illusion-Autoloot" class="code contrast">@alootid +25266|+25267|+25265|+25264|+7564|+25633|+25638|+25899|+35055|+100003|+100004</code></p>
          </div>
        </div>
      </div>
      <h3 class="header fs-5">Gear</h3>
      <p>Farming is all about optimizing your efficiency, speed and damage. While some items here are required for a better experience, they're not a must.</p>
      <div id="Farming-Equipment" class="farming-container-grid">

        <!-- General -->
        <div>
          <p class="header">General</p>
          <div class="farming-container shadow-container">
            <ul>
              <li><img src="https://www.novaragnarok.com/data/items/icons2/25209.png" alt="HP Absorb Onyx [G]"> HP Absorb Onyx [G]</li>
              <li><img src="https://www.novaragnarok.com/data/items/icons2/25209.png" alt="SP Absorb Onyx [G]"> SP Absorb Onyx [G]</li>
              <li><img src="https://www.novaragnarok.com/data/items/icons2/4115.png" alt="Card icon"> Hunter Fly</li>
              <li><img src="https://www.novaragnarok.com/data/items/icons2/490024.png" alt="Automatic Booster R"> Automatic Booster R</li>
            </ul>
          </div>
        </div>

        <!-- Thanatos -->
        <div>
          <p class="header">Thanatos</p>
          <div class="farming-container shadow-container">
            <ul>
              <li><img src="https://www.novaragnarok.com/data/items/icons2/490056.png" alt="Brilliant Light Ruby Ring"> Brilliant Light Ruby Ring</li>
              <li><img src="https://www.novaragnarok.com/data/items/icons2/490057.png" alt="Brilliant Light Ruby Necklace"> Brilliant Light Ruby Necklace</li>
              <li><img src="https://www.novaragnarok.com/data/items/icons2/29991.png" alt="Earth Elemental Converter"> Earth Elemental Converter <span class="tag">Thanatos F11</span></li>
              <li><img src="https://www.novaragnarok.com/data/items/icons2/32107.png" alt="Holy Elemental Converter"> Holy Elemental Converter <span class="tag">Thanatos F12</span></li>
            </ul>
          </div>
        </div>

        <!-- Abyss 4 -->
        <div>
          <p class="header">Abyss Lake 4</p>
          <div class="farming-container shadow-container">
            <ul>
              <li><img src="https://www.novaragnarok.com/data/items/icons2/490044.png" alt="Sinful Ruby Ring"> Sinful Ruby Ring</li>
              <li><img src="https://www.novaragnarok.com/data/items/icons2/490045.png" alt="Sinful Ruby Necklace"> Sinful Ruby Necklace</li>
              <li><img src="https://www.novaragnarok.com/data/items/icons2/4115.png" alt="Card icon"> Bone Ferus + Bone Acidus <span class="tag">Combo</span></li>
              <li><img src="https://www.novaragnarok.com/data/items/icons2/32107.png" alt="Holy Elemental Converter"> Holy Elemental Converter</li>
            </ul>
          </div>
        </div>

        <!-- Others -->
        <div>
          <p class="header">Others</p>
          <div class="farming-container shadow-container">
            <ul>
              <li><img src="https://www.novaragnarok.com/data/items/icons2/4115.png" alt="Card icon"> Playing Ferre <span class="tag">Einbech 3</span></li>
              <li><img src="https://www.novaragnarok.com/data/items/icons2/490056.png" alt="Brilliant Light Ruby Ring"> Brilliant Light Ruby Ring <span class="tag">Odin 4</span></li>
              <li><img src="https://www.novaragnarok.com/data/items/icons2/490057.png" alt="Brilliant Light Ruby Necklace"> Brilliant Light Ruby Necklace <span class="tag">Odin 4</span></li>
              <li><img src="https://www.novaragnarok.com/data/items/icons2/12020.png" alt="Cursed Water"> Cursed Water <span class="tag">Odin 4</span></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </section>

  <NewPlayerGuide></NewPlayerGuide>

</main>