<section id="Stats" class="mb-4">
  <h2 class="fs-5">Stats</h2>
  <div id="Stats-Container">
    <!-- Status -->
    <div id="Status" class="p-3 shadow-container">
      <div>
        <h3 class="fs-5 header">
          Status
        </h3>
        <p class="w-100">The core of most builds. Although they can be minmaxed, it's not a requirement.</p>
        <div class="status-wrapper shadow-container">
          <h4 class="header fs-6">
            Recommended
          </h4>
          <div class="status-toggle" aria-hidden="false">
              <div class="status-grid shadow-container">
                <div><b>Str</b> <span>120</span></div>
                <div><b>Agi</b> <span>100</span></div>
                <div><b>Vit</b> <span>80</span></div>
                <div><b>Int</b> <span>90</span></div>
                <div><b>Dex</b> <span>120</span></div>
                <div><b>Luk</b> <span>75</span></div>
              </div>
          </div>
          <div class="status-toggle" style="display: none;" aria-hidden="true">
            <div class="status-grid shadow-container">
              <div><b>Str</b> <span>203</span></div>
              <div><b>Agi</b> <span>139</span></div>
              <div><b>Vit</b> <span>108</span></div>
              <div><b>Int</b> <span>134</span></div>
              <div><b>Dex</b> <span>157</span></div>
              <div><b>Luk</b> <span>103</span></div>
            </div>
          </div>
          <div>
            <ul>
              <li><span class="header">Str</span> <span class="tag">Important</span> maximizes your damage and weight.</li>
              <li><span class="header">Agi</span> provides extra damage thanks to <span class="item-desc custom-tooltip" data-custom-tooltip="+2 Atk for every 5 points of base Agi"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/5899.png" alt="Black Ribbon"></span></li>
              <li><span class="header">Vit</span> gives you survival & potion effifency.</li>
              <li><span class="header">Int</span> if you lack or run out of SP.</li>
              <li><span class="header">Dex</span> <span class="tag">Important</span> increases your hit rate.</li>
              <li><span class="header">Luk</span> increases your hit rate and damage slightly.</li>
            </ul>
          </div>
        </div>
      </div>


    </div>

    <!-- Battle Stats -->
    <div id="Battle-Stats" class="p-3 shadow-container">
      <div>
        <h3 class="fs-5 header">Battle Stats</h3>
        <p>
          The better the balance between them, the higher the efficiency.
        </p>
      </div>
      <div class="battle-stats-grid shadow-container">
        <div>
          <h4 class="header">Attack</h4>
          <div class="shadow-container">
            <p><span>Atk</span> <span>593</span></p>
            <p><span>Normal</span> <span>74%</span></p>
            <p><span>Boss</span> <span>74%</span></p>
          </div>
        </div>
        <div>
          <h4 class="header">Size</h4>
          <div class="shadow-container">
            <p><span>Small</span> <span>42%</span></p>
            <p><span>Medium</span> <span>72%</span></p>
            <p><span>Large</span> <span>72%</span></p>
          </div>
        </div>
        <div>
          <h4 class="header">Race</h4>
          <div class="shadow-container">
            <p><span>All</span> <span>14%</span></p>
            <p><span>Demon</span> <span>34%</span></p>
            <p><span>Angel</span> <span>34%</span></p>
          </div>
        </div>
        <div>
          <h4 class="header">Others</h4>
          <div class="shadow-container">
            <p><span>Melee</span> <span>125%</span></p>
            <p><span>WC</span> <span>85%</span></p>
            <p><span>ACD</span> <span>34%</span></p>
          </div>
        </div>
      </div>
      <a href="https://www.novaragnarok.com/wiki/Damage_Formula" target="_blank" class="link link-small ms-auto">Damage Formula</a>

    </div>

  </div>
</section>

<section id="Skills" class="mb-4">
  <h2 class="fs-5">Skills</h2>

  <!-- Collapse all section -->
  <div class="p-3">
    <h3 class="fs-5 header">Distribution priority</h3>
    <div class="skills-intro-wrapper">
      <div>
        <p class="m-0">This are the required skills points to perform the build accordingly. Any extra points can be allocated freely at your will.</p>
        <p class="low-focus mb-3">Click/tap on the skills to learn more about them.</p>
      </div>
      <button class="toggle skills ms-auto" type="button" aria-label="Toggle names on and off" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Toggle details"><i class="fa-solid fa-eye"></i></button>
    </div>
    <div class="skill-priority shadow-container">
        <!-- 1st Job -->
        <div class="skill-priority-cont">
          <div>
            <p><img loading="lazy" src="/assets/img/icons/swordman.webp" alt="Swordman icon"> Swordman<span class="tag ms-auto">31 points</span></p>
          </div>
          <div class="shadow-container">
            <div><a href="https://www.divine-pride.net/database/skill/2/sword-mastery" target="_blank" class="skill">1 <img loading="lazy" src="https://static.divine-pride.net/images/skill/2.png" alt="Sword Mastery"><span class="name-toggle">Sword Mastery</span></a></div>
            <div><a href="https://www.divine-pride.net/database/skill/3/two-handed-sword-mastery" target="_blank" class="skill">10 <img loading="lazy" src="https://static.divine-pride.net/images/skill/3.png" alt="Two-Handed Sword Mastery"><span class="name-toggle">Two-Handed Sword Mastery</span></a></div>
            <div><a href="https://www.divine-pride.net/database/skill/4/increase-hp-recovery" target="_blank" class="skill">10 <img loading="lazy" src="https://static.divine-pride.net/images/skill/4.png" alt="Increase HP Recovery"><span class="name-toggle">Increase HP Recovery</span></a></div>
            <div><a href="https://www.divine-pride.net/database/skill/7/magnum-break" target="_blank" class="skill">10 <img loading="lazy" src="https://static.divine-pride.net/images/skill/7.png" alt="Magnum Break"><span class="name-toggle">Magnum Break</span></a></div>
          </div>
        </div>
        <!-- 2nd job -->
        <div class="skill-priority-cont">
          <div>
            <p><img loading="lazy" src="/assets/img/icons/knight.webp" alt="Knight icon"> Lord Knight<span class="tag ms-auto">37 points</span></p>
          </div>
          <div class="shadow-container">
            <div><a href="https://www.divine-pride.net/database/skill/63/peco-peco-ride" target="_blank" class="skill">1 <img loading="lazy" src="https://static.divine-pride.net/images/skill/63.png" alt="Riding"><span class="name-toggle">Riding</span></a></div>
            <div><a href="https://www.divine-pride.net/database/skill/64/cavalier-mastery" target="_blank" class="skill">1 <img loading="lazy" src="https://static.divine-pride.net/images/skill/64.png" alt="Cavalier Mastery"><span class="name-toggle">Cavalier Mastery</span></a></div>
            <div><a href="https://www.divine-pride.net/database/skill/60/two-hand-quicken" target="_blank" class="skill">10 <img loading="lazy" src="https://static.divine-pride.net/images/skill/60.png" alt="Two-Hand Quicken"><span class="name-toggle">Two-Hand Quicken</span></a></div>
            <div><a href="https://www.divine-pride.net/database/skill/355/aura-blade" target="_blank" class="skill">5 <img loading="lazy" src="https://static.divine-pride.net/images/skill/355.png" alt="Aura Blade"><span class="name-toggle">Aura Blade</span></a></div>
            <div><a href="https://www.divine-pride.net/database/skill/356/parry" target="_blank" class="skill">10 <img loading="lazy" src="https://static.divine-pride.net/images/skill/356.png" alt="Parrying"><span class="name-toggle">Parrying</span></a></div>
            <div><a href="https://www.divine-pride.net/database/skill/357/spear-dynamo" target="_blank" class="skill">5 <img loading="lazy" src="https://static.divine-pride.net/images/skill/357.png" alt="Concentration"><span class="name-toggle">Concentration</span></a></div>
            <div><a href="https://www.divine-pride.net/database/skill/397/clashing-spiral" target="_blank" class="skill">5 <img loading="lazy" src="https://static.divine-pride.net/images/skill/397.png" alt="Spiral Pierce"><span class="name-toggle">Spiral Pierce</span></a></div>
          </div>
        </div>
        <!-- 3rd job -->
        <div class="skill-priority-cont">
          <div>
            <p><img loading="lazy" src="/assets/img/icons/runeknight.webp" alt="Rune Knight icon"> Rune Knight<span class="tag ms-auto">40 points</span></p>
          </div>
          <div class="shadow-container">
            <div><a href="https://www.divine-pride.net/database/skill/2007/dragon-training" target="_blank" class="skill">5 <img loading="lazy" src="https://static.divine-pride.net/images/skill/2007.png" alt="Dragon Training"><span class="name-toggle">Dragon Training</span></a></div>
            <div><a href="https://www.divine-pride.net/database/skill/2010/rune-mastery" target="_blank" class="skill">10 <img loading="lazy" src="https://static.divine-pride.net/images/skill/2010.png" alt="Rune Mastery"><span class="name-toggle">Rune Mastery</span></a></div>
            <div><a href="https://www.divine-pride.net/database/skill/2001/enchant-blade" target="_blank" class="skill">10 <img loading="lazy" src="https://static.divine-pride.net/images/skill/2001.png" alt="Enchant Blade"><span class="name-toggle">Enchant Blade</span></a></div>
            <div><a href="https://www.divine-pride.net/database/skill/2005/wind-cutter" target="_blank" class="skill">5 <img loading="lazy" src="https://static.divine-pride.net/images/skill/2005.png" alt="Wind Cutter"><span class="name-toggle">Wind Cutter</span></a></div>
            <div><a href="https://www.divine-pride.net/database/skill/2002/sonic-wave" target="_blank" class="skill">10 <img loading="lazy" src="https://static.divine-pride.net/images/skill/2002.png" alt="Sonic Wave"><span class="name-toggle">Sonic Wave</span></a></div>
          </div>
        </div>
      </div>
  </div>
</section>

<section id="Farming" class="mb-4">
  <h2 class="fs-5">Farming</h2>
  <div class="p-3 shadow-container">
    <div id="Autoloot">
      <h3 class="header fs-5">Autoloot</h3>
      <p class="mb-1">The following list is from my personal use. If you don't see an <span class="item-desc custom-tooltip" data-custom-tooltip="Like Odin 4, Thanatos, Abyss 4, etc.">specific list</span>, chances are I simply use the general autoloot.</p>
      <!-- General -->
      <div class="d-flex align-items-center flex-wrap mb-2 autoloot-selector">
        <p class="header m-0">General
          <code id="General-Autoloot" class="code contrast">@autoloot 0.9</code>
          <button class="toggle copy" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"><i class="fa-solid fa-copy"></i></button>
        </p>
        <button type="button" aria-label="Toggle autoloot code on and off" class="toggle autoloot ms-auto" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Toggle details"><i class="fa-solid fa-eye"></i></button>
      </div>
      <div class="autoloot-list position-relative">
        <!-- Einbech 3 -->
        <div class="autoloot-selector shadow-container">
          <div>
            <span>Einbech 3</span>
            <span class="tag">Farm</span>
            <button class="toggle copy ms-auto" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"><i class="fa-solid fa-copy"></i></button>
          </div>
          <div class="autoloot-text">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25809.png" alt="Redium">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25810.png" alt="Rindium">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25811.png" alt="Odium">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25812.png" alt="Purdium">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25813.png" alt="Whidium">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25814.png" alt="Dynite">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/9517.png" alt="Unidentified Ore">
          </div>
          <p class="autoloot-text"><code id="Einbech3-Autoloot" class="code contrast">@alootid +25809|+25810|+25811|+25812|+25813|+25814|+9517</code></p>
        </div>
        <!-- Juperos -->
        <div class="autoloot-selector shadow-container">
          <div>
            <span>Juperos</span>
            <span class="tag">Farm</span>
            <button class="toggle copy ms-auto" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"><i class="fa-solid fa-copy"></i></button>
          </div>
          <div class="autoloot-text">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34716.png" alt="Old Gear">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34717.png" alt="Ancient Core">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34712.png" alt="Juperium Energy">
          </div>
          <p class="autoloot-text"><code id="Juperos-Autoloot" class="code contrast">@alootid +34716|+34717|+34712</code></p>
        </div>
        <!-- Luanda + Twins -->
        <div class="autoloot-selector shadow-container">
          <div>
            <span>Illusion Luanda + Twins</span>
            <span class="tag">Quest/Farm</span>
            <button class="toggle copy ms-auto" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"><i class="fa-solid fa-copy"></i></button>
          </div>
          <div class="autoloot-text">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25633.png" alt="Token of Wootan">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25638.png" alt="Token of Megalith">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/35055.png" alt="Twilight Illusion Stone">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/100003.png" alt="Dusk Dissonance Stone">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/100004.png" alt="Dawn Dissonance Stone">
          </div>
          <p class="autoloot-text"><code id="Luanda-Twins-Autoloot" class="code contrast">@alootid +25633|+25638|+35055|+100003|+100004</code></p>
        </div>
        <!-- Elunium & Oridecon -->
        <div class="autoloot-selector shadow-container">
          <div>
            <span>Elunium & Oridecon</span>
            <span class="tag">Farm</span>
            <button class="toggle copy ms-auto" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"><i class="fa-solid fa-copy"></i></button>
          </div>
          <div class="autoloot-text">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/985.png" alt="Elunium">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/984.png" alt="Oridecon">
          </div>
          <p class="autoloot-text"><code id="Elunium-Oridecon-Autoloot" class="code contrast">@alootid +985|+984</code></p>
        </div>
        <!-- Old Glast Heim -->
        <div class="autoloot-selector shadow-container">
          <div>
            <span>Old Glast Heim</span>
            <span class="tag">Daily</span>
            <button class="toggle copy ms-auto" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"><i class="fa-solid fa-copy"></i></button>
          </div>

          <div class="autoloot-text">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/985.png" alt="Elunium">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/757.png" alt="Rough Elunium">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/756.png" alt="Rough Oridecon">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/747.png" alt="Crystal Mirror">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/997.png" alt="Great Nature">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/938.png" alt="Sticky Mucus">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/727.png" alt="Opal">
          </div>
          <p class="autoloot-text"><code id="Old-Glast-Autoloot" class="code contrast">@alootid -985|-757|-756|-747|-997|-938|-727</code></p>
        </div>
        <!-- Horror Toy Factory -->
        <div class="autoloot-selector shadow-container">
          <div>
            <span>Horror Toy Factory </span>
            <span class="tag">Daily</span>
            <button class="toggle copy ms-auto" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"><i class="fa-solid fa-copy"></i></button>
          </div>
          <div class="autoloot-text">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/969.png" alt="Gold">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/7230.png" alt="Platinum Bullion">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/7642.png" alt="Bloody Coin">
          </div>
          <p class="autoloot-text"><code id="Horror-Toy-Autoloot" class="code contrast">@alootid +969|+7230|+7642</code></p>
        </div>
        <!-- All Illusion -->
        <div class="shadow-container w-100">
          <div>
            <span>All Illusion Dungeons</span>
            <span class="tag">Quest/Farm</span>
            <button class="toggle copy ms-auto" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"><i class="fa-solid fa-copy"></i></button>
          </div>
          <div class="autoloot-text">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25266.png" alt="Dried Yggdrasil Leaf">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25267.png" alt="Suspicious Pentacle">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25265.png" alt="Shining Spore">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25264.png" alt="Cluster of Nightmares">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/7564.png" alt="Rotten Meat">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25633.png" alt="Token of Wootan">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25638.png" alt="Token of Megalith">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25899.png" alt="Abyssal Essence">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/35055.png" alt="Twilight Illusion Stone">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/100003.png" alt="Dusk Dissonance Stone">
            <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/100004.png" alt="Dawn Dissonance Stone">
          </div>
          <p class="autoloot-text"><code id="All-Illusion-Autoloot" class="code contrast">@alootid +25266|+25267|+25265|+25264|+7564|+25633|+25638|+25899|+35055|+100003|+100004</code></p>
        </div>
      </div>
    </div>
    <h3 class="header fs-5">Gear</h3>
    <p class="m-0">Farming is all about optimizing your efficiency, speed and damage. While some items here are required for a better experience, they're not a must.</p>
    <p class="low-focus">Mouse over/tap on the images/names to see the applicable bonus.</p>
    <div id="Farming-Equipment" class="farming-container-grid">

      <!-- General -->
      <div>
        <p class="header">General</p>
        <div class="farming-container shadow-container">
          <ul>
            <li><span class="item-desc text custom-tooltip" data-custom-tooltip="+3% HP leech"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25209.png" alt="HP Absorb Onyx [G]"> HP Absorb Onyx [G]</span></li>
            <li><span class="item-desc text custom-tooltip" data-custom-tooltip="+1% SP leech"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25209.png" alt="SP Absorb Onyx [G]"> SP Absorb Onyx [G]</span> </li>
            <li><span class="item-desc text custom-tooltip" data-custom-tooltip="+15% HP leech"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/4115.png" alt="Card icon"> Hunter Fly</span> </li>
            <li><span class="item-desc text custom-tooltip" data-custom-tooltip="+3% HP leech (enchant)"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/490024.png" alt="Automatic Booster R"> Automatic Booster R</span> </li>
          </ul>
        </div>
      </div>

      <!-- Thanatos -->
      <div>
        <p class="header">Thanatos</p>
        <div class="farming-container shadow-container">
          <ul>
            <li><span class="item-desc text custom-tooltip" data-custom-tooltip="Combo +15% vs Angel/Demon"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/490056.png" alt="Brilliant Light Ruby Ring"> Brilliant Light Ruby Ring</span> </li>
            <li><span class="item-desc text custom-tooltip" data-custom-tooltip="Combo +15% vs Angel/Demon"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/490057.png" alt="Brilliant Light Ruby Necklace"> Brilliant Light Ruby Necklace</span> </li>
            <li><span class="item-desc text custom-tooltip" data-custom-tooltip="Earth property"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/29991.png" alt="Earth Elemental Converter"> Earth Elemental Converter</span>  <span class="tag">Thanatos F11</span></li>
            <li><span class="item-desc text custom-tooltip" data-custom-tooltip="Holy property"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/32107.png" alt="Holy Elemental Converter"> Holy Elemental Converter</span>  <span class="tag">Thanatos F12</span></li>
          </ul>
        </div>
      </div>

      <!-- Abyss 4 -->
      <div>
        <p class="header">Abyss Lake 4</p>
        <div class="farming-container shadow-container">
          <ul>
            <li><span class="item-desc text custom-tooltip" data-custom-tooltip="Combo +15% vs Dragon"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/490044.png" alt="Sinful Ruby Ring"> Sinful Ruby Ring</span> </li>
            <li><span class="item-desc text custom-tooltip" data-custom-tooltip="Combo +15% vs Dragon"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/490045.png" alt="Sinful Ruby Necklace"> Sinful Ruby Necklace</span> </li>
            <li><span class="item-desc text custom-tooltip" data-custom-tooltip="+10% vs Dragon"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/4115.png" alt="Card icon"> Bone Ferus + Bone Acidus</span>  <span class="tag">Combo</span></li>
            <li><span class="item-desc text custom-tooltip" data-custom-tooltip="Holy property"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/32107.png" alt="Holy Elemental Converter"> Holy Elemental Converter</span> </li>
          </ul>
        </div>
      </div>

      <!-- Others -->
      <div>
        <p class="header">Others</p>
        <div class="farming-container shadow-container">
          <ul>
            <li><span class="item-desc text custom-tooltip" data-custom-tooltip="+20% vs Neutral"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/4115.png" alt="Card icon"> Playing Ferre</span>  <span class="tag">Einbech 3</span></li>
            <li><span class="item-desc text custom-tooltip" data-custom-tooltip="Combo +15% vs Angel"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/490056.png" alt="Brilliant Light Ruby Ring"> Brilliant Light Ruby Ring</span>  <span class="tag">Odin 4</span></li>
            <li><span class="item-desc text custom-tooltip" data-custom-tooltip="Combo +15% vs Angel"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/490057.png" alt="Brilliant Light Ruby Necklace"> Brilliant Light Ruby Necklace</span>  <span class="tag">Odin 4</span></li>
            <li><span class="item-desc text custom-tooltip" data-custom-tooltip="Shadow/Dark Property"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12020.png" alt="Cursed Water"> Cursed Water</span>  <span class="tag">Odin 4</span></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>