<div id="Introduction" class="mb-4">
    <h2 class="fs-5">Introduction</h2>
    <div id="Author">
      <div class="info-socials">
          <h3 class="fs-5"> Author</h3>
          <div class="social-media">
            <img loading="lazy" src="../assets/img/illustration/smytsu.webp" alt="Myndi profile picture">
            <div class="shadow-container">
              <div class="discord">
                <span><i class="fa-brands fa-discord"></i></span>
                <a href="https://discord.com/users/124421052569878528/" target="_blank" class="link">Myndi#5041</a>
              </div>
              <div class="github">
                <span><i class="fa-brands fa-twitter fa-lg"></i></span>
                <a href="https://twitter.com/myntsu" target="_blank" class="link">@myntsu</a>
              </div>
              <div class="github">
                <span><i class="fa-brands fa-github-alt fa-lg"></i></span>
                <a href="https://github.com/Myntsu" target="_blank" class="link">Myntsu</a>
              </div>
            </div>
          </div>
          <div class="social-media-mob">
            <img loading="lazy" src="../assets/img/illustration/smytsu.webp" alt="Myndi profile picture">
            <div class="social-media-tags">
              <p>Hey there! I'm better known as Myndi 😊</p>
              <div class="discord">
                <span><i class="fa-brands fa-discord"></i></span>
                <a href="https://discord.com/users/124421052569878528/" target="_blank" class="link">Myndi#5041</a>
              </div>
              <div class="github">
                <span><i class="fa-brands fa-twitter fa-lg"></i></span>
                <a href="https://twitter.com/myntsu" target="_blank" class="link">@myntsu</a>
              </div>
              <div class="github">
                <span><i class="fa-brands fa-github-alt fa-lg"></i></span>
                <a href="https://github.com/Myntsu" target="_blank" class="link">Myntsu</a>
              </div>
            </div>
          </div>
          <p class="gone-fullsize">Hey there! I'm better known as Myndi 😊</p>
          <p>I have designed this guide in two portions:
            <ul>
              <li><span class="header">Endgame showcase</span> -  A pure <img loading="lazy" src="https://static.divine-pride.net/images/skill/2005.png" alt="Wind Cutter" class="item"> <span class="focus">Wind Cutter</span> build. Listing the best in slot items, damage calculations, skill priorities, farming gear and much more.</li>
              <li><span class="header">New/returning player walkthrough</span> - Explaining from the beginning to the end, with full detail, how to start until you get to endgame. Kindly check it if you haven't 😉 <a href="#New-Player" class="link within">New Player Guide</a> We also consider the transition to other builds like <img loading="lazy" src="https://static.divine-pride.net/images/skill/2006.png" alt="Ignition Break" class="item"><span class="focus"> Ignition Break</span> or <img loading="lazy" src="https://static.divine-pride.net/images/skill/2002.png" alt="Sonic wave" class="item"><span class="focus"> Sonic wave</span> in case you won't stick with it.</li>
            </ul>
          </p>
          <p class="mb-3">My experience with <img loading="lazy" src="https://static.divine-pride.net/images/skill/2005.png" alt="Sonic Wave" class="item"> <span class="focus">Wind Cutter</span> is vastly, around 2+ years playing it in-and-out. Have done a lot of content with it, even content people wouldn't expect to be.</p>
          <p>With nothing else to add, I hope this build makes your game more enjoyable as it did to me! ✨</p>
          <p class="low-focus">Although everything here is tailored to work in sync, please take everything with a grain of salt.</p>
      </div>
  
      <h3 class="fs-5">About this build</h3>
      <p class="mb-3">My personal vision of this build relies on <span class="item-desc text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="Consists of farming a dungeon in <b>hourly sessions</b> to profit from the loot">Dungeon Farming</span> mainly, such as <a href="https://www.novaragnarok.com/wiki/Einbech_Dungeon_3" target="_blank" class="link">Einbech 3</a>, <a href="https://www.novaragnarok.com/wiki/Ancient_Juperos" target="_blank" class="link">Juperos</a>, <a href="https://www.novaragnarok.com/wiki/Thanatos_Tower" target="_blank" class="link">Thanatos</a> & many others. In this guide we will focus building around that concept, but before jumping in take a look at the pros and cons of it.</p>
      <div class="pro-con-wrapper">
        <!-- Pros -->
        <div>
          <div><span class="header">Pros</span></div>
          <div class="pro-con-container shadow-container">
            <ul>
              <li>Newbie friendly</li>
              <li>Fast access to weeklies</li>
              <li>Cheap build</li>
              <li>100% DEF PEN</li>
            </ul>
          </div>
        </div>
        <!-- Cons -->
        <div>
          <div><span class="header">Cons</span></div>
          <div class="pro-con-container shadow-container">
            <ul>
              <li>Agi-up mobs</li>
              <li>Short range</li>
              <li><span class="item-desc text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="When compared to other builds like <b>Ignition Break</b>">Average damage</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>

<style>
  #Author {
    padding: 1em;
    color: hsl(var(--text));
    background-color: hsl(var(--main-light-2));
    border-radius: 0.5em;
    box-shadow: 0 1px 2px #0000003d, 0 1px 3px #0000001f;
  }
  #Author .info-socials {
    margin-bottom: 1.25em;
  }
  #Author .social-media {
    float: right;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-inline-start: 1em;
  }
  #Author .social-media img {
    width: 200px;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
  }
  .social-media > div {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 0.5em 0.25em;
    color: hsl(var(--white));
    background-color: hsl(var(--main-dark));
    border-radius: 0.5em;
    overflow: auto;
  }
  .social-media > div span {
    flex: 1 0 10px;
    text-align: center;
  }
  .social-media .discord,
  .social-media .github {
    display: flex;
    justify-content: flex-start;
  }
  .social-media a {
    flex: 3 0 0;
    text-align: start;
  }
  #Author .social-media-mob {
    display: none;
  }
  #Author p {
    margin: 0;
  }
  .pro-con-wrapper {
    display: flex;
    gap: 1em;
  }
  .pro-con-wrapper > div {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .pro-con-wrapper > div > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    gap: 0.25em;
    margin-block-end: 0.25em;
  }
  .pro-con-container {
    flex: 1;
    display: flex;
    padding: 0.5em;
    background-color: hsl(var(--main-light-3));
    border-radius: 0.5em;
  }
  .pro-con-container ul {
    flex: 1;
    margin: 0;
    padding-block-start: 0.5em;
    padding-block-end: 0.5em;
    border-radius: 0.5em;
  }
  @media only screen and (max-width: 766px) {
    .pro-con-wrapper {
      flex-wrap: wrap;
      gap: 1em;
    }
    .pro-con-wrapper > div {
      min-width: 100%;
    }
  }
  @media only screen and (max-width: 570px) {
    .gone-fullsize,
    #Author .social-media {
      display: none;
    }
    #Author .social-media-mob {
      display: flex;
      align-items: flex-start;
      margin-block-end: 0.5em;
    }
    #Author .social-media-tags {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0.5em 1em;
      color: hsl(var(--white));
      background-color: hsl(var(--main-dark));
      border-radius: 0.5em;
      overflow: auto;
    }
    #Author .social-media-tags p {
      margin-block-end: auto;
    }
    #Author .social-media-tags > div {
      display: flex;
      justify-content: flex-start;
      gap: 0.5em;
    }
    #Author .social-media-tags .github {
      margin-block-end: auto;
    }
    #Author .social-media-mob img {
      width: 125px;
      height: auto;
      margin-inline-end: 1em;
      border-radius: 50%;
    }
  }
</style>