<section id="Consumables" class="mb-4">
    <!-- Tab Buttons -->
    <div class="d-flex flex-wrap" id="Consumables-tab" role="tablist">
      <h2 class="fs-5 me-auto">Consumables</h2>
      <div class="tab-buttons">
        <button class="active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general-display" type="button" role="tab" aria-controls="general-display" aria-selected="true">General</button>
        <button id="endeavor-tab" data-bs-toggle="tab" data-bs-target="#endeavor-display" type="button" role="tab" aria-controls="endeavor-display" aria-selected="false">Endeavor</button>
        <button id="others-tab" data-bs-toggle="tab" data-bs-target="#others-display" type="button" role="tab" aria-controls="others-display" aria-selected="false">Others</button>
        <button id="runes-tab" data-bs-toggle="tab" data-bs-target="#runes-display" type="button" role="tab" aria-controls="runes-display" aria-selected="false">Runes</button>
      </div>
    </div>
    <!-- Tabs content -->
    <div class="tab-content px-3 shadow-container">
  
      <!-- Header p -->
      <div class="d-flex justify-content-center pt-4">
        <i>The amounts shown in here are simply my personal use, feel free to swap them around to fit your need.</i>
      </div>
      <!-- General display -->
      <div id="general-display" class="tab-pane fade show active" role="tabpanel" aria-labelledby="general-tab" tabindex="0">
        <div class="consumables-container">
          <div>
            <div class="consumables-description">
              <p><span class="tag">Recommended</span><span class="tag">Survival</span><span class="tag">Utility</span></p>
              <p>This consumables should be at the top of your refill category as they serve you greatly.</p>
            </div>
            <!-- 1 -->
            <div class="consumables-wrapper">
              <button class="toggle consumables ms-auto" type="button" aria-label="Toggle information in and out" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Swap information"><i class="fa-solid fa-right-left"></i></button>
              <div class="consumable-toggle" style="display: none;">
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34159.png" alt="Concentrated Golden Syrup Potion"> <span class="tag">Craft</span><span class="tag">Market</span> Genetic crafting.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34158.png" alt="Concentrated Blue Syrup Potion"> <span class="tag">Craft</span><span class="tag">Market</span> Genetic crafting.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12414.png" alt="Guarana Candy"> <span class="tag">Quest</span> <a href="https://irowiki.org/wiki/Guarana_Quest" target="_blank" class="important">Guarana Quest</a></div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/610.png" alt="Yggdrasil Leaf"> <span class="tag">NPC</span> Any Tool Dealer.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/607.png" alt="Yggdrasil Berry"> <span class="tag">Farm</span> <a href="https://www.novaragnarok.com/wiki/Bioresearch_Laboratory" target="_blank" class="important">EDDA - Gauntlet Mode</a></div>
              </div>
  
              <div class="consumable-text">
                <div><span class="number-contrast">500</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34159.png" alt="Concentrated Golden Syrup Potion"> Concentrated Golden Syrup Potion</div>
                <div><span class="number-contrast">100</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34158.png" alt="Concentrated Blue Syrup Potion"> Concentrated Blue Syrup Potion</div>
                <div><span class="number-contrast">100</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12414.png" alt="Guarana Candy"> Guarana Candy</div>
                <div><span class="number-contrast">10 </span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/610.png" alt="Yggdrasil Leaf"> Yggdrasil Leaf</div>
                <div><span class="number-contrast">10 </span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/607.png" alt="Yggdrasil Berry"> Yggdrasil Berry</div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
      <!-- Endeavor display -->
      <div id="endeavor-display" class="tab-pane fade" role="tabpanel" aria-labelledby="endeavor-tab" tabindex="0">
        <div class="consumables-container">
          <div>
            <div class="consumables-description">
              <p><span class="tag">Recommended</span><span class="tag">Offense</span><span class="tag">Defense</span><span class="tag">Utility</span></p>
              <p>This are your general instance/farming consumables. Only use them when you're in dire need of them.</p>
            </div>
            <!-- 2 -->
            <div class="consumables-wrapper">
              <button class="toggle consumables ms-auto" type="button" aria-label="Toggle information in and out" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Swap information"><i class="fa-solid fa-right-left"></i></button>
              <div class="consumable-toggle" style="display: none;">
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34785.png" alt="Great Shining Gin Potion"> <span class="tag">NPC</span> Main Office - 2nd floor.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34580.png" alt="Great Maniacal Potion"> <span class="tag">NPC</span> Main Office - 2nd floor.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34585.png" alt="Great Sacred Draught"> <span class="tag">NPC</span> Main Office - 2nd floor.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34911.png" alt="Imperfect Almighty"> <span class="tag">NPC</span> Main Office - 2nd floor.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34584.png" alt="Great Elixir of Energy"> <span class="tag">NPC</span> Main Office - 2nd floor.</div>
              </div>
              <div class="consumable-text">
                <div><span class="number-contrast">20</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34785.png" alt="Great Shining Gin Potion"> Great Shining Gin Potion</div>
                <div><span class="number-contrast">20</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34580.png" alt="Great Maniacal Potion"> Great Maniacal Potion</div>
                <div><span class="number-contrast">20</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34585.png" alt="Great Sacred Draught"> Great Sacred Draught</div>
                <div><span class="number-contrast">20</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34911.png" alt="Imperfect Almighty"> Imperfect Almighty</div>
                <div><span class="number-contrast">10</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34584.png" alt="Great Elixir of Energy"> Great Elixir of Energy</div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
      <!-- Others display -->
      <div id="others-display" class="tab-pane fade" role="tabpanel" aria-labelledby="others-tab" tabindex="0">
        <div class="consumables-container">
          <div>
            <div class="consumables-description">
              <p><span class="tag">Optional</span><span class="tag">Survival</span><span class="tag">Offense</span><span class="tag">Utility</span></p>
              <p>Not core consumables, but very helpful to have around. Often used to exploit your damage potential or farming efficiency.</p>
            </div>
            <!-- 3 -->
            <div class="consumables-wrapper">
              <button class="toggle consumables ms-auto" type="button" aria-label="Toggle information in and out" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Swap information"><i class="fa-solid fa-right-left"></i></button>
              <div class="consumable-toggle" style="display: none;">
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/657.png" alt="Berserk Potion"> <span class="tag">NPC</span> Any Tool Dealer.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12437.png" alt="Enrich Celermine Juice"> <span class="tag">Craft</span><span class="tag">Market</span> Genetic crafting.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34155.png" alt="Red Herb Activator"> <span class="tag">Craft</span><span class="tag">Market</span> Genetic crafting.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34154.png" alt="Golden X"> <span class="tag">Craft</span><span class="tag">Market</span> Genetic crafting.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12115.png" alt="Water Elemental Converter"> <span class="tag">NPC</span> Ju, Main Office - 1st floor.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12114.png" alt="Fire Elemental Converter"> <span class="tag">NPC</span> Ju, Main Office - 1st floor.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12116.png" alt="Earth Elemental Converter"> <span class="tag">NPC</span> Ju, Main Office - 1st floor.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12117.png" alt="Wind Elemental Converter"> <span class="tag">NPC</span> Ju, Main Office - 1st floor.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12280.png" alt="Holy Elemental Converter"> <span class="tag">NPC</span> Ju, Main Office - 1st floor.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12020.png" alt="Cursed Water"> <span class="tag">Farm</span> Dungeon - Gefenia.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34300.png" alt="Rejuvenation Potion"> <span class="tag">NPC</span> Potion Dealer, Main Office - 2nd floor.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34301.png" alt="Great Rejuvenation Tonic"> <span class="tag">NPC</span> Potion Dealer, Main Office - 2nd floor.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34299.png" alt="Great Tonic of Energy"> <span class="tag">NPC</span> Potion Dealer, Main Office - 2nd floor.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/32244.png" alt="Great Guyak Pudding"> <span class="tag">NPC</span> Speedy Gonzales, Main Office - 1st floor.</div>
              </div>
              <div class="consumable-text">
                <div><span class="number-contrast">10</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/657.png" alt="Berserk Potion"> Berserk Potion</div>
                <div><span class="number-contrast">10</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12437.png" alt="Enrich Celermine Juice"> Enrich Celermine Juice</div>
                <div><span class="number-contrast">30</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34155.png" alt="Red Herb Activator"> Red Herb Activator</div>
                <div><span class="number-contrast">5</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34154.png" alt="Golden X"> Golden X</div>
                <div><span class="number-contrast">10</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12115.png" alt="Water Elemental Converter"> Water Elemental Converter</div>
                <div><span class="number-contrast">50</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12114.png" alt="Fire Elemental Converter"> Fire Elemental Converter</div>
                <div><span class="number-contrast">10</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12116.png" alt="Earth Elemental Converter"> Earth Elemental Converter</div>
                <div><span class="number-contrast">10</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12117.png" alt="Wind Elemental Converter"> Wind Elemental Converter</div>
                <div><span class="number-contrast">10</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12280.png" alt="Holy Elemental Converter"> Holy Elemental Converter</div>
                <div><span class="number-contrast">15</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12020.png" alt="Cursed Water"> Cursed Water</div>
                <div><span class="number-contrast">5</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34300.png" alt="Rejuvenation Potion"> Rejuvenation Potion</div>
                <div><span class="number-contrast">5</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34301.png" alt="Great Rejuvenation Tonic"> Great Rejuvenation Tonic</div>
                <div><span class="number-contrast">5</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34299.png" alt="Great Tonic of Energy"> Great Tonic of Energy</div>
                <div><span class="number-contrast">10</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/32244.png" alt="Great Guyak Pudding"> Great Guyak Pudding</div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
      <!-- Runes display -->
      <div id="runes-display" class="tab-pane fade" role="tabpanel" aria-labelledby="runes-tab" tabindex="0">
        <div class="consumables-container">
          <div>
            <div class="consumables-description">
              <p><span class="tag">Recommended</span><span class="tag">Survival</span><span class="tag">Offense</span><span class="tag">Defense</span><span class="tag">Utility</span></p>
              <p>Essentially what makes you a Rune Knight. This is my personal <i class="focus">must to have list</i>, but feel free to ignore the Utility ones.</p>
            </div>
            <!-- 4 -->
            <div class="consumables-wrapper">
              <button class="toggle consumables ms-auto" type="button" aria-label="Toggle information in and out" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Swap information"><i class="fa-solid fa-right-left"></i></button>
              <div class="consumable-toggle" style="display: none;">
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/22540.png" alt="Lux Anima Rune"> <span class="tag">Craft</span> Rune Knight crafting.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12731.png" alt="Turisus Runestone"> <span class="tag">Craft</span> Rune Knight crafting.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12729.png" alt="Asir Runestone"> <span class="tag">Craft</span> Rune Knight crafting.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12733.png" alt="Hagalas Runestone"> <span class="tag">Craft</span> Rune Knight crafting.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12727.png" alt="Verkana Runestone"> <span class="tag">Craft</span> Rune Knight crafting.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12728.png" alt="Isia Runestone"> <span class="tag">Craft</span> Rune Knight crafting.</div>
                <div><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12730.png" alt="Urj Runestone"> <span class="tag">Craft</span> Rune Knight crafting.</div>
              </div>
              <div class="consumable-text">
                <div>
                  <p>Offensive</p>
                </div>
                <div><span class="number number-contrast">30</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/22540.png" alt="Lux Anima Rune"> Lux Anima Rune</div>
                <div><span class="number-contrast">30</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12731.png" alt="Turisus Runestone"> Turisus Runestone</div>
                <div><span class="number-contrast">30</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12729.png" alt="Asir Runestone"> Asir Runestone</div>
                <div>
                  <p>Defensive</p>
                </div>
                <div><span class="number-contrast">30</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12733.png" alt="Hagalas Runestone"> Hagalas Runestone</div>
                <div>
                  <p>Survival</p>
                </div>
                <div><span class="number-contrast">30</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12727.png" alt="Verkana Runestone"> Verkana Runestone</div>
                <div>
                  <p>Utility</p>
                </div>
                <div><span class="number-contrast">30</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12728.png" alt="Isia Runestone"> Isia Runestone</div>
                <div><span class="number-contrast">30</span> <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12730.png" alt="Urj Runestone"> Urj Runestone</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer p -->
      <div class="d-flex justify-content-center">
        <div class="fake-div mt-1 pb-4">
          <p class="ms-auto text-end" style="font-size: .75rem;"><a href="https://www.novaragnarok.com/wiki/Creation_Database" target="_blank" class="link">Creation Database</a></p>
        </div>
      </div>
    </div>
</section>

<style>
  /* Consumables */
  #Consumables .tab-buttons button {
    text-decoration: none;
    border: none;

    color: hsl(var(--white));
    background-color: hsl(var(--main-dark));

    padding: 0.25em 1em;
  }

  .tab-content {
    color: hsl(var(--text));
    background-color: hsl(var(--main-light-2));
    border-radius: 0.5em 0 0.5em 0.5em;
  }

  .tab-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 570px) {
    .tab-buttons {
      width: 100%;
    }
  }

  #Consumables .tab-buttons button:is(:hover, :focus) {
    background-color: hsl(var(--important));
  }

  #Consumables .tab-buttons button:is(:active) {
    background-color: hsl(var(--important), 80%);
  }

  .consumables-container {
    display: flex;
    justify-content: center;
  }

  .consumables-container .tag {
    margin-inline-end: 0.15em;
  }

  .consumables-container > div {
    display: flex;
    justify-content: center;

    width: 800px;
  }

  .consumables-description {
    padding: 1em;
    background-color: hsl(var(--main-light-3));
    border-inline-start: 3px solid hsl(var(--important));
    height: fit-content;
  }

  .consumables-description p {
    margin: 0;
  }

  .consumables-container > div > * {
    flex: 1 0 0;
  }

  .consumables-wrapper {
    width: 400px;
    height: 200px;

    padding: 1em;

    background-color: white;
    border-radius: 0 0.5em 0.5em 0.5em;

    overflow-y: scroll;
    overscroll-behavior: auto;
  }

  .consumable-text,
  .consumable-toggle {
    display: block;
    width: 100%;

    color: black;
  }

  .consumable-text.toggle {
    color: hsl(var(--white));
    width: 100%;
  }

  .consumable-text img,
  .consumable-toggle img {
    width: 24px;
    height: 24px;
  }

  .consumable-text p {
    margin: 0;
    color: hsl(var(--important));
    font-weight: 700;
    font-size: 0.75rem;
  }

  .consumable-text span:nth-child(1) {
    display: inline-block;
    width: 2em;
    text-align: center;
  }

  .fake-div {
    width: 800px;
    display: flex;
    flex-direction: column;
  }

  .fake-div p {
    margin: 0;
  }

  .autoloot-text img {
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  @media only screen and (max-width: 880px) {
    .consumables-container > div {
      display: block;
    }

    .consumables-description {
      padding: 1em 0;
      background-color: transparent;
      border-inline-start: none;
      height: auto;
    }

    .consumables-wrapper {
      width: 100%;
      overflow-y: hidden;
      overflow: auto;
      border-radius: 0.5em;
    }
  }

  @media only screen and (max-width: 570px) {
    .gear-container,
    .consumables-container {
      border-radius: 0 0;
    }

    #general-tab,
    #endeavor-tab,
    #others-tab,
    #runes-tab {
      width: 50%;
      outline: 0.1ex solid hsl(var(--white), 5%);
      outline-offset: -0.1ex;
    }
  }
</style>
