<section id="Data-Observations" class="mb-4">
    <div id="Data" class="mb-3 mb-lg-0">
        <h2 class="fs-5">Data</h2>
        <div class="d-flex p-3 shadow-container">
        <div class="d-flex gap-1 flex-column">
            <p class="m-0 text-default"><b class="header">ACD required</b> <i class="fa-solid fa-angles-right fa-sm"></i> <span class="number">34%</span> </p>
            <p class="m-0 text-default"><b class="header">ASPD required</b> <i class="fa-solid fa-angles-right fa-sm"></i> <span class="number">185</span></p>
            <p class="m-0 text-default"><b class="header">Max. WC/s</b> <i class="fa-solid fa-angles-right fa-sm"></i> <span class="number">3</span></p>
            <p class="m-0 text-swap">Has <span class="number">0.5</span>s Cast Delay, <span class="number">0.3</span>s CD.</p>
            <p class="m-0 text-swap">It requires <span class="number">34%</span> ACD & <span class="number">185</span> ASPD.</p>
            <p class="m-0 text-swap"><span class="item-desc text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="The game doesn't physically allow the player to cast more than 3 Wind Cutter per second, hence it only requires 34% ACD and not 40% based on the standard calculations">Unable</span> to cast more than <span class="number">3</span>/s.</p>
        </div>
        <button class="toggle data ms-auto" type="button" aria-label="Toggle information in and out" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Swap information"><i class="fa-solid fa-right-left"></i></button>
        </div>
    </div>

    <div id="Observations" class="m-0 p-0">
        <h2 class="fs-5">Observations</h2>
        <div class="p-3 shadow-container">
        <div class="d-flex"><p class="pe-1"><span class="header">Equipment</span> shows the best in slot gear by default. In some cases there's budget alternatives to select from.</p>
          <button class="toggle observations ms-auto" type="button" aria-label="Toggle names on and off" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Toggle details"><i class="fa-solid fa-eye"></i></button>
        </div>
        <p><span class="header">Battle Stats</span> doesn't include <span class="item-desc text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="From the <b>weapon</b> and both <b>accessories</b>">RNG enchants</span>, Pet Attack (<span class="number">7%</span>), Base Weapon Attack (<span class="number">240</span>), Refine Attack (<span class="number">+12; 96</span>), Refine P.ATK (<span class="number">+12; 24</span>), <span class="item-desc text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="<b>Grade D</b>: 10% <br> <b>Grade C</b>: 30% <br> <b>Grade B</b>: 50% <br> <b>Grade A</b>: 100% <br> Applied to the Refine Attack">Grading Bonuses</span> or Shadow Gear Refine Attack (<span class="number">+9; 9</span>).</p>
        <div class="m-0">
            <span class="header">Calculations</span>
            <span>uses the default <a href="#Equipment" class="link within">Equipment</a> also includes <a href="#Status" class="link within">Status</a> & <a href="#Battle-Stats" class="link within">Battle Stats</a> values additionally to the following items: </span>
            <div class="items-obs">
              <div><span class="item-desc img text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="+30% All Size, +30% Melee <br> <b>Added through the calculator</b>"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/22540.png" alt="Lux Anima Runestone"><span class="obs-swap">Lux Anima Runestone</span></span></div>
              <div><span class="item-desc img text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="+15% Melee, +30 Str <br> <b>Added through the calculator</b>"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12731.png" alt="Turisus Runestone"><span class="obs-swap">Turisus Runestone</span></span></div>
              <div><span class="item-desc img text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="+70 Atk <br> <b>Added through the calculator</b>"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12729.png" alt="Asir Runestone"><span class="obs-swap">Asir Runestone</span></span></div>
              <div><span class="item-desc img text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="+8 to All Stats"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34911.png" alt="Imperfect Almighty"><span class="obs-swap">Imperfect Almighty</span></span></div>
              <div><span class="item-desc img text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="+15% Melee <br> <b>Added through the calculator</b>"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34155.png" alt="Red Herb Activator"><span class="obs-swap">Red Herb Activator</span></span></div>
              <div><span class="item-desc img text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="+7% Atk"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/9121.png" alt="Orc Hero Egg"><span class="obs-swap">Orc Hero Egg</span></span></div>
              <div><span class="item-desc img text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="+3% Atk <br> <b>Added through the calculator</b>"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34585.png" alt="Sacred Draught"><span class="obs-swap">Sacred Draught</span></span></div>
              <div><span class="item-desc img text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="+10% Atk"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/490056.png" alt="Brilliant Light Ruby Ring"><span class="obs-swap">Brilliant Light Ruby Ring</span></span></div>
              <div><span class="item-desc img text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="+10% Atk"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/490057.png" alt="Brilliant Light Ruby Necklace"><span class="obs-swap">Brilliant Light Ruby Necklace</span></span></div>
              <div><span class="item-desc img text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="+9 Atk <br> <b>Added through the calculator</b>"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/24425.png" alt="Perfect Size Shadow Gauntlet"><span class="obs-swap">Perfect Size Shadow Gauntlet</span></span></div>
              <div><span class="item-desc img text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="+24 P.ATK (from refine)"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/600016.png" alt="Thanatos Great Sword-AD"><span class="obs-swap">Thanatos Great Sword-AD</span></span></div>
              <div class="d-none"><span class="item-desc img text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Placeholder/undefined"><div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M160 80c0-26.5 21.5-48 48-48h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V80zM0 272c0-26.5 21.5-48 48-48H80c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V272zM368 96h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H368c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48z"/></svg>
              </div> <span class="obs-swap">Status Atk</span></span></div>
            </div>
        </div>
        </div>
    </div>
</section>

<style>
  /* Data, observations */
  #Data-Observations {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
  }

  #Data-Observations > div {
    color: hsl(var(--text));
  }

  #Data-Observations h3 {
    color: hsl(var(--white));
  }

  #Data {
    min-width: 350px;
    margin-inline-end: 0.25em;
  }

  #Observations {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: 990px) {
    #Data,
    #Observations {
      flex: auto;
      width: 100%;
    }

    #Data {
      min-width: 100%;
      margin-inline-end: 0;
    }
  }

  #Data > div,
  #Observations > div {
    flex: 1;
    background-color: hsl(var(--main-light-2));
    border-radius: 0.5em;
  }

  .items-obs {
    display: flex;
    flex-wrap: wrap;
    gap: .25em;
  }

  .decorator {
    margin-block-start: .5em;
    padding: .5em 1em;
    background-color: hsl(var(--main-light-3));
    border-radius: .5em;

    box-shadow: 
      0 1px 2px hsl(var(--main-dark), 30%),
      0 1px 3px hsl(var(--main-dark), 30%);
  }

  .decorator .item-desc {
    display: flex;
    gap: .5em;
    width: fit-content;
    white-space: nowrap;
  }

  .items-obs:is(.decorator) > div {
    flex: 1 0 33%;
  }

  @media only screen and (max-width: 570px) {
    .items-obs:is(.decorator) > div {
    flex: 1 0 100%;
  }
  }

  .obs-swap {
    display: none;
  }
</style>
