<section id="Equipment" class="mb-4">
    <!-- Tabs Buttons -->
    <div class="d-flex flex-wrap" id="Equip-tab" role="tablist">
      <h2 class="fs-5 me-auto">Equipment</h2>
      <div class="tab-buttons">
        <button class="active" id="gear-tab" data-bs-toggle="tab" data-bs-target="#gear-display" type="button" role="tab" aria-controls="gear-display" aria-selected="true">Gear</button>
        <button id="shadow-tab" data-bs-toggle="tab" data-bs-target="#shadow-display" type="button" role="tab" aria-controls="shadow-display" aria-selected="false">Shadow</button>
        <button id="cards-tab" data-bs-toggle="tab" data-bs-target="#cards-display" type="button" role="tab" aria-controls="cards-display" aria-selected="false">Cards</button>
        <button id="enchants-tab" data-bs-toggle="tab" data-bs-target="#enchants-display" type="button" role="tab" aria-controls="enchants-display" aria-selected="false">Enchants</button>
        <button id="pets-tab" data-bs-toggle="tab" data-bs-target="#pets-display" type="button" role="tab" aria-controls="pets-display" aria-selected="false">Pets</button>
      </div>
    </div>
  
    <!-- Tabs content -->
    <div class="tab-content shadow-container">
  
      <!-- Gear -->
      <div id="gear-display" class="tab-pane fade show active" role="tabpanel" aria-labelledby="gear-tab" tabindex="0">
  
        <div class="gear-container m-0 p-0 py-4">
          <div class="gear-col pt-1">
            <div class="d-flex flex-column gear-slot gap-1 align-items-end justify-content-center">
              <div class="d-flex justify-content-end gap-1"><span class="number-contrast">+8</span><span class="item-desc text img" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="+50% Wind Cutter, +40 Atk">Black Ribbon</span><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/5899.png" alt="Black Ribbon"></div>
              <div class="d-flex justify-content-end gap-1"><span class="item-desc text img" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="+5% HP Leech">Blood Sucker</span><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/18754.png" alt="Blood Sucker"></div>
              <div class="d-flex justify-content-end gap-1"><span class="number-contrast">+12</span><span class="item-desc text img" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="+60 Atk, +70% Wind Cutter, +5% Atk, +15% All Size, +15% Melee">Thanatos Great Sword-AD</span><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/600016.png" alt="Thanatos Great Sword-AD"></div>
              <div class="d-flex justify-content-end gap-1"><span class="number-contrast">+12</span><span class="item-desc text img" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="+60 Atk, +13% Atk, +15% All Size">Temporal Str Manteau</span><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/20963.png" alt="Temporal Str Manteau"></div>
              <div class="d-flex justify-content-end gap-1"><span class="item-desc text img" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="+10% Atk <br> <b><u>Combo</u></b>: +5% ACD, 20% vs Angel/Demon">Brilliant Light Ruby Ring</span><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/490056.png" alt="Brilliant Light Ruby Ring"></div>
            </div>
          </div>
          <div class="m-0 p-0">
            <img loading="lazy" src="/assets/img/illustration/smytsu_ingame.webp" class="img-equip" alt="Ragnarok Online character">
          </div>
          <div class="gear-col-2 pt-1">
            <div class="d-flex flex-column gear-slot gap-1 align-items-start justify-content-center">
              <div class="d-flex justify-content-start gap-1"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/400001.png" alt="Victory Wing Ears"><span class="item-desc text img" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="+5 Atk, +4% ACD">Victory Wing Ears</span></div>
              <div class="d-flex justify-content-start gap-1"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/450127.png" alt="Automatic Armor A-type"><span class="item-desc text img" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="+175 Atk">Automatic Armor A-type</span><span class="number-contrast">+11</span></div>
              <div class="d-flex justify-content-start gap-1"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/600016.png" alt="Thanatos Great Sword-AD"><span class="item-desc text img" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="+60 Atk, +70% Wind Cutter, +5% Atk, +15% All Size, +15% Melee">Thanatos Great Sword-AD</span><span class="number-contrast">+12</span></div>
              <div class="d-flex justify-content-start gap-1"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/470066.png" alt="Illusion Sprint Shoes"><span class="item-desc text img" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="+15% All Size">Illusion Sprint Shoes</span><span class="number-contrast">+11</span></div>
              <div class="d-flex justify-content-start gap-1"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/490057.png" alt="Brilliant Light Ruby Necklace"><span class="item-desc text img" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="+10% Atk <br> <b><u>Combo</u></b>: +5% ACD, 20% vs Angel/Demon">Brilliant Light Ruby Necklace</span></div>
            </div>
          </div>
        </div>
  
      </div>
  
      <!-- Shadow -->
      <div id="shadow-display" class="tab-pane fade" role="tabpanel" aria-labelledby="shadow-tab" tabindex="0">
  
        <div class="gear-container m-0 p-0 py-4 ">
          <div class="gear-col pt-1">
            <div class="d-flex flex-column gear-slot gap-1 align-items-end justify-content-center">
              <div class="d-flex justify-content-end gap-1"><span>Melee Amber [U]</span><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/1000377.png"></div>
              <div class="d-flex justify-content-end gap-1"><span>Melee Amber [L]</span><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/1000377.png"></div>
              <div class="d-flex justify-content-end gap-1"><span class="number-contrast">+9</span><span>Perfect Size Shadow Gauntlet</span><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/24425.png"></div>
              <div class="d-flex justify-content-end gap-1"><span>HP Absorb Onyx [G]</span><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/25209.png"></div>
              <div class="d-flex justify-content-end gap-1"><span class="number-contrast">+10</span><span>Almighty Shadow Focus</span><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/24339.png"></div>
            </div>
          </div>
          <div class="m-0 p-0">
            <img loading="lazy" src="/assets/img/illustration/smytsu_ingame.webp" class="img-equip" alt="Ragnarok Online character">
          </div>
          <div class="gear-col-2 pt-1">
            <div class="d-flex flex-column gear-slot gap-1 align-items-start justify-content-center">
              <div class="d-flex justify-content-start gap-1"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/1000377.png"><span>Melee Amber [M]</span></div>
              <div class="d-flex justify-content-start gap-1"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/24245.png"><span>Reload Shadow Armor</span><span class="number-contrast">+9</span></div>
              <div class="d-flex justify-content-start gap-1"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/24244.png"><span>Reload Shadow Shield</span><span class="number-contrast">+9</span></div>
              <div class="d-flex justify-content-start gap-1"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/24243.png"><span>Reload Shadow Boots</span><span class="number-contrast">+9</span></div>
              <div class="d-flex justify-content-start gap-1"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/24340.png"><span>Almighty Shadow Brooch</span><span class="number-contrast">+10</span></div>
            </div>
          </div>
        </div>
  
      </div>
  
      <!-- Cards -->
      <div id="cards-display" class="tab-pane fade" role="tabpanel" aria-labelledby="cards-tab" tabindex="0">
  
        <div class="gear-container m-0 p-0 py-4 ">
          <div class="gear-col pt-1">
            <div class="d-flex flex-column gear-slot gap-1 align-items-end justify-content-center">
              <div class="d-flex justify-content-end gap-1"><span>Purple Ferus</span><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/4009.png"></div>
              <div class="d-flex justify-content-end gap-1"><span><i class="pe-2">Empty</i></span></div>
              <div class="d-flex justify-content-end gap-1"><span>Contaminated Wanderer</span><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/4009.png"></div>
              <div class="d-flex justify-content-end gap-1"><span>Happiness Giver</span><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/4009.png"></div>
              <div class="d-flex justify-content-end gap-1"><span>Revolver Buffalo Bandit</span><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/4009.png"></div>
            </div>
          </div>
          <div class="m-0 p-0">
            <img loading="lazy" src="/assets/img/illustration/smytsu_ingame.webp" class="img-equip" alt="Ragnarok Online character">
          </div>
          <div class="gear-col-2 pt-1">
            <div class="d-flex flex-column gear-slot gap-1 align-items-start justify-content-center">
              <div class="d-flex justify-content-start gap-1"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/4009.png">
                <select class="form-select">
                  <option selected>Purple Ferus</option>
                  <option>Furious Hero</option>
                </select>
              </div>
              <div class="d-flex justify-content-start gap-1"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/4009.png"><span>Mistress of Shelter</span></div>
              <div class="d-flex justify-content-start gap-1"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/4009.png">
                <select class="form-select">
                  <option selected>Rekenber Guard</option>
                  <option>Contaminated Wanderer</option>
                  <option>Greater Special Alnoldi</option>
                </select>
              </div>
              <div class="d-flex justify-content-start gap-1"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/4009.png">
                <select class="form-select">
                  <option selected>Outrageous Cookie</option>
                  <option>Ifodes</option>
                </select>
              </div>
              <div class="d-flex justify-content-start gap-1"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/4009.png">
                <span>Chaotic Acolyte</span>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
      <!-- Enchants -->
      <div id="enchants-display" class="tab-pane fade position-relative" role="tabpanel" aria-labelledby="enchants-tab" tabindex="0">
  
        <div class="gear-container m-0 p-0 py-4">
          <div class="gear-col pt-1">
            <div class="d-flex flex-column gear-slot gap-1 align-items-end justify-content-center">
              <div class="d-flex justify-content-end gap-1">
                <span>
                  <i class="pe-2">Empty</i>
                </span>
              </div>
              <div class="d-flex justify-content-end gap-1">
                <span>
                  <i class="pe-2">Empty</i>
                </span>
              </div>
              <div class="d-flex justify-content-end gap-1">
                <span>No Weapon Penalty</span>
              </div>
              <div class="d-flex justify-content-end gap-1">
                <select class="form-select right">
                  <option selected>Atk 5%</option>
                  <option>Atk 6%</option>
                </select>
              </div>
              <div class="d-flex justify-content-end gap-1">
                <select class="form-select right">
                  <option selected>Anger Lv 5, Divine Evil Lv 5</option>
                  <option>Anger Lv 5, Divine Evil Lv 4</option>
                  <option>Anger Lv 5, Divine Evil Lv 3</option>
                  <option>Anger Lv 4, Divine Evil Lv 5</option>
                  <option>Anger Lv 4, Divine Evil Lv 4</option>
                  <option>Anger Lv 4, Divine Evil Lv 3</option>
                  <option>Anger Lv 3, Divine Evil Lv 4</option>
                  <option>Anger Lv 3, Divine Evil Lv 3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="m-0 p-0">
            <img loading="lazy" src="/assets/img/illustration/smytsu_ingame.webp" class="img-equip" alt="Ragnarok Online character">
          </div>
          <div class="gear-col-2 pt-1">
            <div class="d-flex flex-column gear-slot gap-1 align-items-start justify-content-center">
              <div class="d-flex justify-content-start gap-1">
                <span>[x2] 3% After Cast Delay</span>
              </div>
              <div class="d-flex justify-content-start gap-1"><span>[x2] Power, Attacker Force</span></div>
              <div class="d-flex justify-content-start gap-1">
                <select class="form-select">
                  <option selected>Attack 3~7%</option>
                  <option>Normal 5~10%</option>
                  <option>Boss 5~10%</option>
                  <option>Undead 14~20%</option>
                </select>
              </div>
              <div class="d-flex justify-content-start gap-1"><span>[x2] Powerful Nive Lv 2</span></div>
              <div class="d-flex justify-content-start gap-1">
                <select class="form-select">
                  <option selected>Anger Lv 5, Divine Evil Lv 5</option>
                  <option>Anger Lv 5, Divine Evil Lv 4</option>
                  <option>Anger Lv 5, Divine Evil Lv 3</option>
                  <option>Anger Lv 4, Divine Evil Lv 5</option>
                  <option>Anger Lv 4, Divine Evil Lv 4</option>
                  <option>Anger Lv 4, Divine Evil Lv 3</option>
                  <option>Anger Lv 3, Divine Evil Lv 4</option>
                  <option>Anger Lv 3, Divine Evil Lv 3</option>
                </select>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
      <!-- Pets-->
      <div id="pets-display" class="tab-pane fade position-relative" role="tabpanel" aria-labelledby="pets-tab" tabindex="0">
  
        <div class="gear-container m-0 p-0 py-4">
          <div class="pet-row p-3">
            <div class="pet-col">
              <img loading="lazy" src="https://www.novaragnarok.com/w/images/6/6a/OrcHeroPetWindow.jpg" alt="Orc Hero" width="96" height="125">
              <a href="https://www.novaragnarok.com/?module=vending&action=view&id=9121" target="_blank" class="link link-contrast">Orc Hero</a>
              <p><img loading="lazy" src="https://novaragnarok.com/data/items/icons2/9121.png" alt="Orc Hero"> Damage</p>
            </div>
            <div class="pet-col">
              <img loading="lazy" src="https://www.novaragnarok.com/w/images/9/95/PhreeoniPetWindow.jpg" alt="Phreeoni" width="96" height="125">
              <a href="https://www.novaragnarok.com/?module=vending&action=view&id=9111" target="_blank" class="link link-contrast">Phreooni</a>
              <p><img loading="lazy" src="https://novaragnarok.com/data/items/icons2/9111.png" alt="Phreooni Egg"> Utility</p>
            </div>
            <div class="pet-col">
              <img loading="lazy" src="https://www.novaragnarok.com/w/images/3/3a/IncubusPetWindow.jpg" alt="Incubus" width="96" height="125">
              <a href="https://www.novaragnarok.com/?module=vending&action=view&id=9052" target="_blank" class="link link-contrast">Incubus</a>
              <p><img loading="lazy" src="https://novaragnarok.com/data/items/icons2/9052.png" alt="Imcubus"> Farming</p>
            </div>
          </div>
        </div>
  
      </div>
  
      <!-- Damage calculations -->
      <div class="d-flex w-100 justify-content-center my-3">
        <!-- Parent giving 100% width -->
        <div id="Calculations" class="p-3">
          <div class="d-flex">
            <h2 class="fs-5 me-auto">
              Damage calculations
            </h2>
            <div class="align-self-end pe-1 pb-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Future idea: Swapping gear alters the damage values below">
              <i class="fa-regular fa-lightbulb"></i>
            </div>
          </div>
          <div class="calc-container border-rounded shadow-container row p-0 m-0 p-3">
            <div class="header w-100 d-flex align-items-baseline m-0 p-0">
              <p class="me-auto p-0 fw-bold">Average damage against</p>
              <div class="fw-bold" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Disclaimer: This is flat damage, not damage per second."><i class="fa-solid fa-triangle-exclamation fa-sm text-white"></i></div>
            </div>
            <!-- Dummy -->
            <div class="col-12 col-md-6 m-0 p-0 p-2">
              <p class="header">Dummy</p>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Small</p>
                <p class="number">1,833,548</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Medium</p>
                <p class="number">2,114,918</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Large</p>
                <p class="number">2,437,674</p>
              </div>
              <hr>
            </div>
  
            <!-- Einbech 3 -->
            <div class="col-12 col-md-6 m-0 p-0 p-2">
              <p class="header">Einbech 3 <span class="item-desc img position-absolute ms-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="<b><u>Using</u></b>:<br> Fire Elemental Converter <br> <b>Fire Property</b>"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/29989.png" alt="Fire Elemental Converter"></span></p>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Porcellio <span class="low-focus">(Earth 4)</span></p>
                <p class="number">3,447,567</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Abyssman <span class="low-focus">(Neutral 4)</span></p>
                <p class="number">2,437,674</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Mineral <span class="low-focus">(Neutral 4)</span></p>
                <p class="number">2,437,674</p>
              </div>
              <hr>
            </div>
  
            <!-- Thanathos F12 -->
            <div class="col-12 col-md-6 m-0 p-0 p-2">
              <p class="header">Thanatos F12 <span class="item-desc img position-absolute ms-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="<b><u>Using</u></b>:<br> Holy Elemental Converter <br> <b>Holy Property</b>"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/32107.png" alt="Holy Elemental Converter"></span></p>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Anger <span class="low-focus">(Fire 4)</span></p>
                <p class="number">2,685,556</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Horror <span class="low-focus">(Poison 4)</span></p>
                <p class="number">3,210,271</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Resentment <span class="low-focus">(Ghost 4)</span></p>
                <p class="number">2,842,091</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Regret <span class="low-focus">(Ghost 4)</span></p>
                <p class="number">3,320,425</p>
              </div>
              <hr class="d-block d-md-none">
            </div>
  
            <!-- Juperos -->
            <div class="col-12 col-md-6 m-0 p-0 p-2">
              <p class="header">Juperos</p>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Apocalypse <span class="low-focus">(Holy 2)</span></p>
                <p class="number">2,437,674</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Archdam <span class="low-focus">(Ghost 2)</span></p>
                <p class="number">1,234,284</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Robot <span class="low-focus">(Dark 2)</span></p>
                <p class="number">2,437,674</p>
              </div>
              <div class="d-flex flex-wrap gap-1">
                <p class="me-auto">Excavator <span class="low-focus">(Poison 2)</span></p>
                <p class="number">1,833,548</p>
              </div>
            </div>
  
          </div>
          <p class="ms-auto text-end" style="font-size: .75rem;"><a href="https://zzyx.de/ro/s/dhh7obzoqdzm" target="_blank" class="link link-small">ATK Calculator</a></p>
        </div>
      </div>
  
    </div> <!-- Tabs content -->
</section>

<style>
  /* Equipment & tabs */
  #Equipment p {
    margin: 0;
    padding: 0;
  }

  .tab-content {
    color: hsl(var(--text));
    background-color: hsl(var(--main-light-2));
    border-radius: 0.5em 0 0.5em 0.5em;
  }

  #Equip-tab button {
    text-decoration: none;
    border: none;

    color: hsl(var(--white));
    background-color: hsl(var(--main-dark));

    padding: 0.25em 1em;
  }

  #Equip-tab button:is(:hover, :focus) {
    background-color: hsl(var(--important));
  }

  #Equip-tab button:is(:active) {
    background-color: hsl(var(--important), 80%);
  }

  .tab-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 570px) {
    .tab-buttons {
      width: 100%;
    }

    #gear-tab,
    #shadow-tab,
    #cards-tab,
    #enchants-tab {
      width: 50%;
      outline: 0.1ex solid hsl(var(--white), 5%);
      outline-offset: -0.1ex;
    }

    #pets-tab {
      width: 100%;
      outline: 0.1ex solid hsl(var(--white), 5%);
      outline-offset: -0.1ex;
    }

    .pick-a-theme {
      border-radius: 0.5em 0.5em 0 0;
      padding: 0.25em 0.75em 0.25em 0.75em;
    }
  }

  .gear-container {
    display: flex;
    justify-content: center;

    border-radius: 0.5em 0 0.5em 0.5em;
  }

  @media only screen and (max-width: 1130px) {
    .gear-container {
      overflow-x: scroll;
      justify-content: start;
    }
  }

  .gear-container span {
    user-select: none;
  }

  .gear-slot {
    width: 300px;
  }

  .gear-slot img {
    width: 24px;
    height: 24px;
  }

  .gear-slot > div {
    width: 90%;
  }

  .img-equip {
    text-align: center;
    width: 200px;
    height: 200px;
    object-fit: none;
    object-position: 53% 50%;
  }

  .gear-col {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 300px;
    border-radius: 0.5em 0 0 0.5em;

    color: black;
    background-color: white;
  }

  .gear-col-2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 300px;
    border-radius: 0 0.5em 0.5em 0;

    color: black;
    background-color: white;
  }

  .gear-col > div > div,
  .gear-col-2 > div > div {
    border-bottom: 1px solid hsl(var(--text));
  }

  .form-select {
    padding: 0 2em 0 0;
    border: none;
  }

  .right {
    text-align: right;
    margin: 0;
    z-index: 3;
  }

  .pet-row {
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.25em;

    background-color: white;
    border-radius: 0.5em;
  }

  .pet-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    padding: 1em;
  }

  .pet-col img {
    object-fit: none;
  }

  .pet-col p {
    color: hsl(var(--important));
    font-size: 0.85rem;
    font-weight: 700;
  }

  /* Calculations + math */
  #Calculations {
    display: flex;
    flex-direction: column;
    color: hsl(var(--text));
    width: 100%;
    max-width: 800px;
  }

  #Calculations p {
    margin: 0;
    padding: 0;
  }

  #Calculations .number {
    letter-spacing: 0.1ex;
  }

  @media only screen and (max-width: 400px) {
    #Calculations span:last-child {
      display: none;
    }
  }

  .calc-container {
    background-color: hsl(var(--main-light-3));
  }
</style>
