<div id="New-Player">
  <h2 class="fs-5">New Player</h2>

  <!-- Introduction -->
  <div class="shadow-container intro-new-player mb-4 p-3">

    <h3 class="fs-5 header">Introduction</h3>
    <p>First and foremost, this section is made both for new and returning players with a more in depth explanations on what you have seen above, to answer common questions, teach you new things and much more. <span class="focus">If you like learning, this is your place.</span></p>
    <p><span class="focus-tag">Skip</span> If you don't care about the basics jump directly to <a href="#Section-Skip" class="link within">Earlygame</a></p> 

    <div>
      <section class="selection">
        <!-- Basics -->
        <article class="article">
          <a href="#Basics-Section" class="icon" aria-label="Links directly to the main section of Basics"> <i class="fa-solid fa-1"></i></a>
          <div class="content">
            <h4 class="fs-5 header">Basics</h4>
            <p>Starting point if you have <span class="focus">no experience with the game</span> at all. You will also learn some useful tricks.</p>
            <div class="content-table">
              <a class="content-link" href="#Tutorial">Tutorial</a>
              <a class="content-link" href="#Eden-Academy">Eden Academy</a>
              <a class="content-link" href="#Basics-Leveling">Leveling</a>
              <a class="content-link" href="#Basics-Farming">Farming</a>
              <a class="content-link" href="#Useful-Basics">Useful links</a>
              <a class="content-link" href="#Useful-Basics">Useful commands</a>
              <a class="content-link" href="#Useful-Basics">Useful NPCs</a>
              <a class="content-link" href="#Learning-Wiki">Learning the Wiki</a>
              <a class="content-link" href="#Learning-DP">Learning Divine Pride</a>
            </div>
          </div>
        </article>
        <!-- Fundamentals -->
        <article class="article">
          <a href="#Fundamentals-Section" class="icon" aria-label="Links directly to the main section of Fundamentals"> <i class="fa-solid fa-2"></i></a>
          <div class="content">
            <h4 class="fs-5 header">Fundamentals</h4>
            <p>Ideal place if you already know something but you're looking to <span class="focus">learn some of the basics</span>, like how to get by, what to look out for, what are your goals, etc.</p>
            <div class="content-table">
              <a href="#Teleport" class="content-link">Teleport</a>
              <a href="#Nagivation" class="content-link">Nagivation</a>
              <a href="#Dailies" class="content-link">Dailies</a>
              <a href="#Weeklies" class="content-link">Weeklies</a>
              <a href="#Dungeons" class="content-link">Dungeons</a>
              <a href="#Instances" class="content-link">Instances</a>
              <a href="#Guilds" class="content-link">Guilds</a>
            </div>
          </div>
        </article>
        <!-- Advanced -->
        <article class="article">
          <a href="#Advanced-Section" class="icon" aria-label="Links directly to the main section of Advanced"> <i class="fa-solid fa-3"></i></a>
          <div class="content">
            <h4 class="fs-5 header">Advanced</h4>
            <p>In depth explanation about more <span class="focus">technical details</span> about the game, to polish your knowledge.</p>
            <div class="content-table">
              <a href="#Damage-Formula" class="content-link">Crafting</a>
              <a href="#Damage-Formula" class="content-link">Damage Formula</a>
              <a href="#Calculator" class="content-link">Calculator</a>
              <a href="#Multi-account" class="content-link">Multi-account</a>
            </div>
          </div>
        </article>
        <!-- Earlygame -->
        <article id="Section-Skip" class="article">
          <a href="#Earlygame-Section" class="icon" aria-label="Links directly to the main section of Earlygame"> <i class="fa-solid fa-4"></i></a>
          <div class="content">
            <h4 class="fs-5 header">Earlygame</h4>
            <p class="m-0">From <span class="focus">level 0 to 100</span>.</p>
            <p>
              From <img loading="lazy" src="/assets/img/icons/swordman.webp" alt="Swordman icon" class="class-icon"> <span class="header">Swordman</span> to <img loading="lazy" src="/assets/img/icons/knight.webp" alt="Knight icon" class="class-icon"> <span class="header">Lord Knight</span>.
            </p>
            <div class="content-table">
              <a href="#Earlygame-Stats" class="content-link">Stats</a>
              <a href="#Earlygame-Leveling" class="content-link">Leveling</a>
              <a href="#Earlygame-Gear" class="content-link">Gear</a>
              <a href="#Earlygame-Content" class="content-link">Instances</a>
              <a href="#Earlygame-Content" class="content-link">Farming</a>
            </div>
          </div>
        </article>
        <!-- Midgame -->
        <article class="article">
          <a href="#Midgame-Section" class="icon" aria-label="Links directly to the main section of Midgame"> <i class="fa-solid fa-5"></i></a>
          <div class="content">
            <h4 class="fs-5 header">Midgame</h4>
            <p class="m-0">From <span class="focus">level 100 to 175</span>.</p>
            <p>Amidst your <img loading="lazy" src="/assets/img/icons/runeknight.webp" alt="Rune Knight icon" class="class-icon"> <span class="header">Rune Knight</span> journey.</p>
            <div class="content-table">
              <a href="#Midgame-Stats" class="content-link">Stats</a>
              <a href="#Midgame-Leveling" class="content-link">Leveling</a>
              <a href="#Midgame-Gear" class="content-link">Gear</a>
              <a href="#Midgame-Content" class="content-link">Instances</a>
              <a href="#Midgame-Content" class="content-link">Farming</a>
            </div>
          </div>
        </article>
        <!-- Lategame -->
        <article class="article">
          <a href="#Lategame-Section" class="icon" aria-label="Links directly to the main section of Lategame"> <i class="fa-solid fa-6"></i></a>
          <div class="content">
            <h4 class="fs-5 header">Lategame</h4>
            <p class="m-0">From <span class="focus">level 175 to 250</span>.</p>
            <p>Starting as a <img loading="lazy" src="/assets/img/icons/dragonknight.webp" alt="Dragon Knight icon" class="class-icon"><span class="header">Dragon Knight</span> at the gates of endgame.</p>
            <div class="content-table">
              <a href="#Lategame-Stats" class="content-link">Stats</a>
              <a href="#Lategame-Leveling" class="content-link">Leveling</a>
              <a href="#Lategame-Gear" class="content-link">Gear</a>
              <a href="#Lategame-Content" class="content-link">Instances</a>
              <a href="#Lategame-Content" class="content-link">Farming</a>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>

    <section id="Basics-Section">
      <h2 class="fs-5">Introduction</h2>
      <div class="mb-4">
        
        <div>
          <!-- Tutorial -->
          <div id="Tutorial" class="mb-4">
            <div>
              <h3 class="header fs-5">Tutorial</h3>
              <span class="tag mb-2">Don't skip</span>
              <button class="toggle tutorial ms-auto" type="button" aria-label="Toggle information in and out" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Swap information"><i class="fa-solid fa-right-left"></i></button>
            </div>
            <div>
              <p>The tutorial is your introduction to Nova Ragnarok. It starts with <span class="item-desc text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="To reach her use the Warper, select Special Areas, then Home">Mom</span> entering your room and it unfolds a small series of events where she teaches you the basics of the game, gives you some gear walks you through the starter classes and finishes it off by sending you to the <span class="item-desc text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="@go eden <br> @go 39">Eden Group</span>.</p>
              <p class="m-0"><span class="article-link">Article:</span> <a href="https://www.novaragnarok.com/wiki/Mom" target="_blank" class="link">Tutorial / Mom</a></p>
              <div class="basics-container tutorial-swappable">
                <h4 class="fs-6 header">Useful for</h4>
                <ul>
                  <li>New players</li>
                  <li>Understanding the basics</li>
                  <li>Introducing you to Eden Group</li>
                </ul>
              </div>
            </div>
            <div class="basics-container tutorial-rewards">
              <h4 class="fs-6 header">Rewards</h4>
              <ul>
                <li>
                  <span class="header">Potions</span>
                  <span class="list-item-container
                  "><span class="item-desc text img" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="It's just a potion"><img src="https://www.novaragnarok.com/data/items/icons2/569.png" alt="Novice Potion"> <span> Novice Potion</span></span></span>
                </li>
                <li>
                  <span class="header">Equipment chest</span>
                  <span class="list-item-container
                  "><span class="item-desc text img" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Weapon, Headgear, Armor, Garment & Shoes"><img src="https://www.novaragnarok.com/data/items/icons2/34806.png" alt="Ragnarok Online item"> Physical Gear</span></span>
                  <div class="expand-div">
                    <hr>
                    <p>Paradise Sword</p>
                    <p>Paradise Knight Two-Handed Sword</p>
                    <p>Paradise Hat</p>
                    <p>Paradise Suit</p>
                    <p>Paradise Boots</p>
                    <p>Paradise Manteau</p>
                    <p>Paradise Ring</p>
                  </div>
                  <input class="expand-btn" type="checkbox">
                </li>
                <li>
                  <span class="header">Teleport item</span>
                  <span class="list-item-container
                  "><span class="item-desc text img" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Alternative item to leave Instances"><img src="https://www.novaragnarok.com/data/items/icons2/6219.png" alt="Eden Group Mark"><span> Eden Group Mark</span></span></span>
                </li>
              </ul>
            </div>
          </div>
          <!-- Eden Academy -->
          <div id="Eden-Academy">
            <div>
              <h3 class="header fs-5">Eden Academy</h3>
              <span class="tag mb-2">Don't skip</span>
              <button class="toggle eden-academy ms-auto" type="button" aria-label="Toggle information in and out" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Swap information"><i class="fa-solid fa-right-left"></i></button>
            </div>
            <div>
              <p>Eden Academy effectively counts as the next step of the tutorial. We will dive into this later, as this goes all the way up to level 150.</p>
              <p class="m-0"><span class="article-link">Article:</span> <a href="https://www.novaragnarok.com/wiki/Eden_Academy" target="_blank" class="link">Eden Academy</a></p>
              <div class="basics-container eden-academy-swappable">
                <h4 class="fs-6 header">Useful for</h4>
                <ul>
                  <li>New and returning players</li>
                  <li>Acquiring mid to late-game gear</li>
                  <li>In-depth learning</li>
                </ul>
              </div>
            </div>
            <div class="basics-container eden-academy-rewards">
              <h4 class="fs-6 header">Rewards</h4>
              <ul>
                <li>
                  <span class="header">Equipment chest</span>
                  <span class="list-item-container
                  "><span class="item-desc text img" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Weapon, Headgear, Armor, Garment & Shoes"><img src="https://www.novaragnarok.com/data/items/icons2/34806.png" alt="Ragnarok Online item"> Physical Gear</span></span>
                  <div class="expand-div">
                    <hr>
                    <p>Paradise Rune Knight Two-Handed Sword</p>
                    <p>Advanced Paradise Hat</p>
                    <p>Advanced Paradise Suit</p>
                    <p>Advanced Paradise Boots</p>
                    <p>Advanced Paradise Manteau</p>
                    <p>Advanced Paradise Ring</p>
                  </div>
                  <input class="expand-btn" type="checkbox">
                </li>
                <li>
                  <span class="header">Class sets</span>
                  <span class="list-item-container
                  "><span class="item-desc text img" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Armor, Garment, Shoes & an Accessory"><img src="https://www.novaragnarok.com/data/items/icons2/450087.png" alt="Ragnarok Online item"> Imperial, Noblesse & Grace</span></span>
                  <div class="expand-div">
                    <hr>
                    <p>Imperial Knight Armor</p>
                    <p>Imperial Attack Manteau</p>
                    <p>Imperial Attack Boots</p>
                    <p>Imperial Attack Ring</p>
                    <p>Noblesse Knight Armor</p>
                    <p>Noblesse Attack Manteau</p>
                    <p>Noblesse Attack Boots</p>
                    <p>Noblesse Attack Ring</p>
                    <p>Grace Knight Armor</p>
                    <p>Grace Attack Manteau</p>
                    <p>Grace Attack Boots</p>
                    <p>Grace Attack Ring</p>
                  </div>
                  <input class="expand-btn" type="checkbox">
                </li>
                <li>
                  <span class="header">Shadow Gear</span>
                  <span class="list-item-container
                  "><span class="item-desc text img" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Weapon, Armor, Shield, Shoes, Right & Left Accessory"><img src="https://www.novaragnarok.com/data/items/icons2/24006.png" alt="Ragnarok Online item"> Academy Set</span></span>
                  <div class="expand-div">
                    <hr>
                    <p>Academy Shadow Armor</p>
                    <p>Academy Shadow Weapon</p>
                    <p>Academy Shadow Shield</p>
                    <p>Academy Shadow Shoes</p>
                    <p>Academy Shadow Earring</p>
                    <p>Academy Shadow Pendant</p>
                  </div>
                  <input class="expand-btn" type="checkbox">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-4">
        <h2 class="fs-5">Methodologies</h2>
        <div>
          <!-- Leveling -->
          <div id="Basics-Leveling" class="mb-4">
            <div>
              <h3 class="header fs-5">Leveling</h3>
              <p class="mb-1">Leveling becomes quite hectic as you progress. This section focuses entirely on <span class="focus">farming methods</span> & <span class="focus">locations</span>.</p>
              <p><span class="focus-tag me-1">Consider</span> <img src="https://www.novaragnarok.com/data/items/icons2/12411.png" alt="Battle Manual"> <a href="https://www.novaragnarok.com/?module=item&action=index&type=&name=battle+manual" target="_blank" class="link">Battle Manual</a> - Not a must, but to keep in mind for your journey.</p>
              <div class="leveling-methods">
                <div>
                  <h4 class="fs-6 header"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/12806.png" alt="Decorative icon" class="item-holder"> Scaraba Scrolls <span class="low-focus">Level 1-99</span></h4>
                  <div class="basics-leveling-info">
                    <div class="leveling-info shadow-container">
                      <p>An ancient technique using a Scaraba to kill for you. Commonly used at <span class="item-desc text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="@go roc (short) <br> @go rock ridge <br> @go 43">Rock Ridge</span>. You're able to rebirth and get back to 99 with it. Refer to the <a href="https://www.novaragnarok.com/?module=vending&action=view&id=12806" target="_blank" class="link">Market</a> to buy one.</p>
                      <img loading="lazy" src="../assets/img/portraits/scaraba.webp" alt="Scaraba Summon">
                    </div>
                  </div>
                </div>
          
                <div>
                  <h4 class="fs-6 header"><img loading="lazy" src="../assets/img/icons/emblem.webp" alt="Decorative icon" class="item item-fix"> Eden Group <span class="low-focus">Level 10-100</span></h4>
                  <div class="basics-leveling-info">
                    <div class="leveling-info shadow-container">
                      <p>The <a href="https://www.novaragnarok.com/wiki/Eden_Group" target="_blank" class="link">Eden Group</a> article covers most of it. The only problem might be that some of them might be <span class="focus">slightly outdated</span>.</p>
                      <img loading="lazy" src="../assets/img/portraits/npcs.webp" alt="Eden Group NPCs" data-fix-portrait="npcs">
                    </div>
                  </div>
                </div>
          
                <div>
                  <h4 class="fs-6 header"><img loading="lazy" src="../assets/img/icons/user.webp" alt="Decorative icon" class="item item-fix"> Gramps <span class="low-focus">Level 85-200</span></h4>
                  <div class="basics-leveling-info">
                    <div class="leveling-info shadow-container">
                      <p>One of the best and <span class="focus">most commonlu</span> used sources is located at <span class="item-desc text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="@go eden <br> @go 39">Eden Group</span>. The difficulty mostly relies on finding a party and surviving groups of mobs.</p>
                      <img loading="lazy" src="../assets/img/portraits/gramps.webp" alt="Gramps NPC">
                    </div>
                  </div>
                </div>
                <div>
                  <h4 class="fs-6 header"><img loading="lazy" src="../assets/img/icons/open_book.webp" alt="Decorative icon" class="item item-fix"> Eden Billboards <span class="low-focus">Level 1-175</span></h4>
                  <div class="basics-leveling-info">
                    <div class="leveling-info shadow-container">
                      <p>Generally a good alternative for <span class="focus">solo players</span>. Located on the first & second floor of <span class="item-desc text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="@go eden <br> @go 39">Eden Group</span>.</p>
                      <img loading="lazy" src="../assets/img/portraits/billboard.webp" alt="Eden Billboard">
                    </div>
                  </div>
                </div>
                <div>
                  <h4 class="fs-6 header"><img loading="lazy" src="../assets/img/icons/quest.webp" alt="Decorative icon" class="item item-fix"> Quests <span class="low-focus">Level 100-180</span></h4>
                  <div class="basics-leveling-info">
                    <div class="leveling-info shadow-container">
                      <p>Could be considered a <span class="item-desc text focus" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="They tend to be tedious, long, for certain levels only">dark territory</span>. As curating a list might not be worthy it, the best I could recommend is checking the <a href="https://www.novaragnarok.com/wiki/Main_Page" target="_blank" class="link">Wikipedia Quests</a>  category.</p>
                      <img loading="lazy" src="../assets/img/portraits/quests.webp" alt="Ragnarok Quests zoomed">
                    </div>
                  </div>
                </div>
                <div>
                  <h4 class="fs-6 header"><img loading="lazy" src="../assets/img/icons/backpack.webp" alt="Decorative icon" class="item item-fix"> Dungeons <span class="low-focus">Level 1-250</span></h4>
                  <div class="basics-leveling-info">
                    <div class="leveling-info shadow-container">
                      <p>Mainly through the Warper NPC. You can either select Dungeons or <a href="https://www.novaragnarok.com/wiki/Illusion_Dungeons" target="_blank" class="link">Illusion Dungeons</a>. If you're looking for <span class="focus">recommendations</span> scroll down.</p>
                      <img loading="lazy" src="../assets/img/portraits/warper.webp" alt="Ragnarok Warper NPC" data-fix-portrait="npcs">
                    </div>
                  </div>
                </div>
                <div>
                  <h4 class="fs-6 header"><img loading="lazy" src="../assets/img/icons/bank.webp" alt="Decorative icon" class="item item-fix"> Leech Services <span class="low-focus">Level 1-250</span></h4>
                  <div class="basics-leveling-info">
                    <div class="leveling-info shadow-container">
                      <p>Any leeching service is often more efficient at higher levels, but they range from all levels. A good place to look out for them is at <span class="item-desc text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="@go eden market <br> @go 52">Eden Market</span> or <span class="item-desc text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="A reminder to not spam the official server soliciting leeches">Discord</span>.</p>
                      <img loading="lazy" src="../assets/img/portraits/eden_market.webp" alt="Eden Market" data-fix-portrait="npcs">
                    </div>
                  </div>
                </div>
                <div>
                  <h4 class="fs-6 header"><img loading="lazy" src="../assets/img/icons/map.webp" alt="Decorative icon" class="item item-fix"> Old Fashion Way <span class="low-focus">Level 1-250</span></h4>
                  <div class="basics-leveling-info">
                    <div class="leveling-info shadow-container">
                      <p>As simple as clicking on the <span class="item-desc text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="ctrl + `">map</span> and checking the levels of each area scouting your way through. You could also go by your pre-renewal <span class="item-desc text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Such as going to Payon Dungeon">old experiences</span>.</p>
                      <img loading="lazy" src="../assets/img/portraits/map.webp" alt="Ragnarok Map zoomed">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Farming -->
          <div id="Basics-Farming">
            <div>
              <h3 class="header fs-5">Farming</h3>
              <p class="m-0">Farming is essentially what this game is mostly about. This section focuses in <span class="focus">farming methods</span> directly tied or correlated to <span class="focus">zeny acquisition</span> and / or <span class="focus">gear progression</span>.</p>
              <p class="m-0"><span class="focus-tag me-1">Consider</span> <img src="https://www.novaragnarok.com/data/items/icons2/12710.png" alt="Guyak Pudding"> <a href="https://www.novaragnarok.com/?module=vending&action=view&id=12710" target="_blank" class="link">Guyak Pudding</a> - Only at higher level and to optimize your runs.</p>
              <p><span class="focus-tag me-1">Consider</span> <img src="https://www.novaragnarok.com/data/items/icons2/12210.png" alt="Bubble Gum"> <a href="https://www.novaragnarok.com/?module=vending&action=view&id=12210" target="_blank" class="link">Bubble Gum</a> - Pretty niche, but it usually outweights the cost.</p>

              <div class="leveling-methods">
                <!-- Cards -->
                <div>
                  <h4 class="fs-6 header"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/4002.png" alt="Decorative icon" class="item-holder"> Cards</h4>
                  <div class="basics-leveling-info">
                    <div class="leveling-info shadow-container">
                        <p>Purely based on luck. You could either spend few minutes, or few hours farming one of these. An example of this would be farming <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/4002.png" alt="Decorative icon" class="item"> <a href="https://www.novaragnarok.com/wiki/Abyss_Dungeon_4" target="_blank" class="link">Purple Ferus Card</a>.</p>
                        <div class="ranking-tier">
                          <div>
                            <p class="header">Income method</p>
                            <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="2.5/5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
                          </div>
                          <div>
                            <p class="header">Time spent</p>
                            <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="5/5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                          </div>
                          <div>
                            <p class="header">Difficulty</p>
                            <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="1/5"><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
          
                <!-- Trash Loot -->
                <div>
                  <h4 class="fs-6 header"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/732.png" alt="Decorative icon" class="item-holder"> Trash Loot</h4>
                  <div class="basics-leveling-info">
                    <div class="leveling-info shadow-container">
                      <p>Practice commonly known for selling your loot to an NPC to profit some zeny. An example of this would be farming at <a href="https://www.novaragnarok.com/wiki/Thanatos_Tower" target="_blank" class="link">Thanatos Tower F12</a>.</p>
                      <div class="ranking-tier">
                        <div>
                          <p class="header">Income method</p>
                          <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="4/5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></p>
                        </div>
                        <div>
                          <p class="header">Time spent</p>
                          <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="3/5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
                        </div>
                        <div>
                          <p class="header">Difficulty</p>
                          <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="1/5"><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Crafting Components -->
                <div>
                  <h4 class="fs-6 header"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/29983.png" alt="Decorative icon" class="item-holder"> Crafting Components</h4>
                  <div class="basics-leveling-info">
                    <div class="leveling-info shadow-container">
                      <p>Specific items oriented. Using an <a href="#Autoloot" class="link within">Autoloot list</a> is often recommended to avoid trash loot. An example of this would be farming <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/34716.png" alt="Old Gear" class="item"> <a href="https://www.novaragnarok.com/wiki/Ancient_Juperos" target="_blank" class="link">Old Gear</a>.</p>
                      <div class="ranking-tier">
                        <div>
                          <p class="header">Income method</p>
                          <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="5/5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                        </div>
                        <div>
                          <p class="header">Time spent</p>
                          <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="2.5/5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star-half-stroke"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
                        </div>
                        <div>
                          <p class="header">Difficulty</p>
                          <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="3.5/5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i><i class="fa-regular fa-star"></i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Equipment -->
                <div>
                  <h4 class="fs-6 header"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/24648.png" alt="Decorative icon" class="item-holder"> Equipment</h4>
                  <div class="basics-leveling-info">
                    <div class="leveling-info shadow-container">
                        <p>Mostly reliant on time or zeny. Acquiring them is the easiest part, refining tends to be the issue. An example of this would be farming <img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/470066.png" alt="Illusion Sprint Shoes" class="item"> <a href="https://www.novaragnarok.com/wiki/Illusion_of_Twins" target="_blank" class="link">Illusion Sprint Shoes</a>.</p>
                        <div class="ranking-tier">
                          <div>
                            <p class="header">Income method</p>
                            <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="3.5/5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i><i class="fa-regular fa-star"></i></p>
                          </div>
                          <div>
                            <p class="header">Time spent</p>
                            <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="3.5/5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star-half-stroke"></i><i class="fa-regular fa-star"></i></p>
                          </div>
                          <div>
                            <p class="header">Difficulty</p>
                            <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="4/5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></p>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <!-- Weeklies -->
                <div>
                  <h4 class="fs-6 header"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/32109.png" alt="Decorative icon" class="item-holder"> Weeklies</h4>
                  <div class="basics-leveling-info">
                    <div class="leveling-info shadow-container">
                        <p>There is an old, outdated article, I made back then that it could help you understand a bit better how they work. Kindly look at the <a href="https://docs.google.com/spreadsheets/d/15FnZm-00ItH0bYYE3Olwwn4IxDxAOu3yaXi0Unf6Px8/edit#gid=0" target="_blank" class="link">Weeklies Spreadsheet</a>.</p>
                        <div class="ranking-tier">
                          <div>
                            <p class="header">Income method</p>
                            <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="4.5/5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i></p>
                          </div>
                          <div>
                            <p class="header">Time spent</p>
                            <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="4/5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></p>
                          </div>
                          <div>
                            <p class="header">Difficulty</p>
                            <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="3/5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <!-- Seasonal Events -->
                <div>
                  <h4 class="fs-6 header"><img loading="lazy" src="https://www.novaragnarok.com/data/items/icons2/530.png" alt="Decorative icon" class="item-holder"> Seasonal Events</h4>
                  <div class="basics-leveling-info">
                    <div class="leveling-info shadow-container">
                        <p>Arguably the <span class="focus item-desc text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="If you happen to be playing at the time an event launches, that becomes the perfect opportunity to cash on">best and worst</span>, due to how sporadic it is. Refer to the full list <a href="https://www.novaragnarok.com/wiki/Summer_Festival" target="_blank" class="link">Summer Festival</a>, <a href="https://www.novaragnarok.com/wiki/Trickster_King%27s_Invasion" target="_blank" class="link">Trickster King's Invasion</a>, <a href="https://www.novaragnarok.com/wiki/Helping_Santa" target="_blank" class="link">Helping Santa</a> & <a href="https://www.novaragnarok.com/wiki/Valentine%27s_Day" target="_blank" class="link">Valentine's Day</a>. An honorable mention to <a href="https://www.novaragnarok.com/wiki/Event_Tickets" target="_blank" class="link">Scheduled Events</a>.</p>
                        <div class="ranking-tier">
                          <div>
                            <p class="header">Income method</p>
                            <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="2/5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
                          </div>
                          <div>
                            <p class="header">Time spent</p>
                            <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="1.5/5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
                          </div>
                          <div>
                            <p class="header">Difficulty</p>
                            <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="1/5"><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 
      <div>
        <!-- Useful stuff -->
        <div class="d-flex flex-wrap mb-0" id="Useful-Basics" role="tablist">
          <h2 class="fs-5 me-auto">Useful</h2>
          <div class="tab-buttons">
            <button class="active" id="useful-links-tab" data-bs-toggle="tab" data-bs-target="#Useful-Links" type="button" role="tab" aria-controls="Useful-Links" aria-selected="true">Links</button>
            <button id="useful-commands-tab" data-bs-toggle="tab" data-bs-target="#Useful-Commands" type="button" role="tab" aria-controls="Useful-Commands" aria-selected="false">Commands</button>
            <button id="useful-npcs-tab" data-bs-toggle="tab" data-bs-target="#Useful-NPCs" type="button" role="tab" aria-controls="Useful-NPCs" aria-selected="false">NPCs</button>
          </div>
        </div>
        <div class="tab-content shadow-container p-0">
          <!-- Useful links -->
          <div id="Useful-Links" class="tab-pane fade show active" role="tabpanel" aria-labelledby="useful-links-tab" tabindex="0">
            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th class="text-center header">Link</th>
                  <th class="text-center header">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="https://www.novaragnarok.com/?module=main" target="_blank" class="link">NovaRO Main Site</a></td>
                  <td>Useful to check news, your character, the market & spending your well earned real life money.</td>
                </tr>
                <tr>
                  <td><a href="https://www.novaragnarok.com/wiki/Main_Page" target="_blank" class="link">NovaRO Wikipedia</a></td>
                  <td class="p-0">
                    <table class="table table-responsive table-striped">
                      <tbody>
                        <tr>
                          <td style="min-width: 5rem;"><a href="https://www.novaragnarok.com/wiki/Troubleshooting" target="_blank" class="link">Troubleshooting</a></td>
                          <td style="min-width: 15rem;">Make sure you check this in case you have any technical issue.</td>
                        </tr>
                        <tr>
                          <td><a href="https://www.novaragnarok.com/wiki/Instances" target="_blank" class="link">Instances</a></td>
                          <td>Useful when doing research about loot or mobs.</td>
                        </tr>
                        <tr>
                          <td><a href="https://www.novaragnarok.com/wiki/Costume_Enchants" target="_blank" class="link">Costume Stones</a></td>
                          <td>All the available costume stones in the server.</td>
                        </tr>
                        <tr>
                          <td><a href="https://www.novaragnarok.com/wiki/Shadow_Gear" target="_blank" class="link">Shadow Gear</a></td>
                          <td>All the available shadow gear in the server.</td>
                        </tr>
                        <tr>
                          <td><a href="https://www.novaragnarok.com/wiki/Leinarth%27s_Rune_Knight_Class_Guide" target="_blank" class="link">Leinarth's DK Guide</a></td>
                          <td>The all-in-one guide for DK.</td>
                        </tr>
                        <tr>
                          <td><a href="https://www.novaragnarok.com/wiki/Refinement_System" target="_blank" class="link">Refinement System</a></td>
                          <td>Frankly the best place to understand how refinement works.</td>
                        </tr>
                        <tr>
                          <td><a href="https://www.novaragnarok.com/wiki/Creation_Database" target="_blank" class="link">Creation Database</a></td>
                          <td>We all make potions or runes, and this place has it all.</td>
                        </tr>
                        <tr>
                          <td><a href="https://www.novaragnarok.com/wiki/Pet_System" target="_blank" class="link">Pet System</a></td>
                          <td>Always a good thing to have all the available pets.</td>
                        </tr>
                        <tr>
                          <td class="border-bottom-0"><a href="https://www.novaragnarok.com/wiki/Palette_Colors" target="_blank" class="link">Outfit Colors</a></td>
                          <td class="border-bottom-0">Fashion is part of the game, so might as well have it recommended.</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td><a href="https://www.novaragnarok.com/?module=main" target="_blank" class="link">NovaRO Main Site</a></td>
                  <td>Useful to check news, your character, the market & spending your well earned real life money.</td>
                </tr>
                <tr>
                  <td><a href="https://novarocalc.com/" target="_blank" class="link">NovaRO Calculator</a></td>
                  <td>Homemade, probably still in progress.</td>
                </tr>
                <tr>
                  <td><a href="https://www.novaragnarok.com/forum/" target="_blank" class="link">NovaRO Forum</a></td>
                  <td>Perfect to report a bug, write a suggestion or complain, besides that, ignore it.</td>
                </tr>
                <tr>
                  <td><a href="https://discord.com/invite/eqHzVK9" target="_blank" class="link">NovaRO Discord</a></td>
                  <td>Specially useful if you join a class specific channel.</td>
                </tr>
                <tr>
                  <td><a href="https://irowiki.org/wiki/Quests" target="_blank" class="link">IronRO Wiki Quest List</a></td>
                  <td>This is only useful if you're all about nostalgia and want to do old forgotten quests.</td>
                </tr>
                <tr>
                  <td><a href="https://www.divine-pride.net/" target="_blank" class="link">Divine Pride</a></td>
                  <td>Amazing database. You can check almost anything and most importnatly, future content.</td>
                </tr>
                <tr>
                  <td><a href="https://_miel.gitlab.io/ncs/#/" target="_blank" class="link">Various Tools</a></td>
                  <td>A bit outdated, but still present useful tools for you to use.</td>
                </tr>
                <tr>
                  <td><a href="https://zzyx.de/ro/atk" target="_blank" class="link">Muh Calculator</a></td>
                  <td>Significant calculator both for ATK and MATK. Let's you plan ahead.</td>
                </tr>
                <tr>
                  <td><a href="https://ratemyserver.net/" target="_blank" class="link">RateMyServer</a></td>
                  <td>Honestly, with all the above, useless, but might as well throw it out there.</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Useful Commands -->
          <div id="Useful-Commands" class="tab-pane fade" role="tabpanel" aria-labelledby="useful-commands-tab" tabindex="0">
            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th class="text-center header" style="min-width: 10rem;">Category</th>
                  <th class="text-center header" style="min-width: 10rem;">Command</th>
                  <th class="text-center header" style="min-width: 15rem;">Description</th>
                  <th class="text-center header" style="min-width: 10rem;">Usage</th>
                </tr>
              </thead>
              <tbody>
                <!-- Navigation -->
                <tr>
                  <td class="text-center" rowspan="3">Navigation</td>
                  <td>@go</td>
                  <td>Gives you the ability to teleport to any town. If you don't type any city, you will get a full list of the available locations.</td>
                  <td class="text-center align-middle"><code class="code contrast">@go prontera</code></td>
                </tr>
                <tr>
                  <td>@navi</td>
                  <td>Pinpoints the location of a coordinate.</td>
                  <td class="text-center align-middle">
                    <div><code class="code contrast mb-1">@navi prontera 100,100</code></div>
                    <div><code class="code contrast">/navi prontera 100/100</code></div>
                  </td>
                </tr>
                <tr>
                  <td>@return</td>
                  <td>Teleports you back to your save point. Specially useful to leave instances.</td>
                  <td class="text-center align-middle"><code class="code contrast">@return</code></td>
                </tr>
                <!-- Information -->
                <tr>
                  <td class="text-center" rowspan="6">Information</td>
                  <td>
                    <div><span>@bs</span></div>
                    <div><span>@battlestats</span></div>
                  </td>
                  <td>Gives you detailed information about your all your stats. Pretty helpful to understand formulas and behaviors.</td>
                  <td class="text-center align-middle"><code class="code contrast">@bs</code></td>
                </tr>
                <tr>
                  <td>
                    <div><span>@ii</span></div>
                    <div><span>@iteminfo</span></div>
                  </td>
                  <td>Resourceful command to check every single item in the game. You can even preview outfit this way, to avoid misunderstandings.</td>
                  <td class="text-center align-middle">
                    <div><code class="code contrast mb-1">@ii enriched elunium</code></div>
                    <div><code class="code contrast">@ii 12345</code></div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div><span>@wn</span></div>
                    <div><span>@whatnpc</span></div>
                  </td>
                  <td>My go-to option to verify if an NPC is selling an specific item that I'm looking for. Always good to use this command before @ws.</td>
                  <td class="text-center align-middle">
                    <div><code class="code contrast mb-1" style="min-width: 10rem;">@wn enriched oridecon</code></div>
                    <div><code class="code contrast">@wn 54321</code></div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div><span>@ws</span></div>
                    <div><span>@whosells</span></div>
                  </td>
                  <td>Directly aimed towards players selling specific items. The UI is compelling enough for you to understand it form the get go.</td>
                  <td class="text-center align-middle">
                    <div><code class="code contrast mb-1">@ws new wave sunglasses</code></div>
                    <div><code class="code contrast">@ws 55555</code></div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div><span>@wi</span></div>
                    <div><span>@whereis</span></div>
                  </td>
                  <td>A mob finder. Quite useful when doing weeklies.</td>
                  <td class="text-center align-middle">
                    <div><code class="code contrast mb-1">@wi poring</code></div>
                    <div><code class="code contrast">@wi 123</code></div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div><span>@mi</span></div>
                    <div><span>@mobinfo</span></div>
                  </td>
                  <td>To validate stats from a specific mob. Could be used to verify the LUK required to crit, or the DEX needed to hit, even the PEN or MPEN.</td>
                  <td class="text-center align-middle">
                    <div><code class="code contrast mb-1">@mi valkyrie</code></div>
                    <div><code class="code contrast">@mi 9999</code></div>
                  </td>
                </tr>
                <!-- Farming -->
                <tr>
                  <td class="text-center" rowspan="6">Farming</td>
                  <td>
                    <div><span>@autoloot</span></div>
                  </td>
                  <td>The shorten version works, but sometimes the values don't work properly, so stick to the longhand name.</td>
                  <td class="text-center align-middle"><code class="code contrast">@autoloot 85.5</code></td>
                </tr>
                <tr>
                  <td>
                    <div><span>@alootid</span></div>
                  </td>
                  <td>This is quite essential when farming for specific loots. You can either whitelist or blacklist up to 20 of them in any combination. It's quite finnicky to reset, so the best way is simply going to character selection and coming back.</td>
                  <td class="text-center align-middle">
                    <div><code class="code contrast mb-1">@alootid +123</code></div>
                    <div><code class="code contrast">@alootid -123|-143|+1465</code></div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div><span>@nopickup</span></div>
                  </td>
                  <td>You would be surprised how handy could this be specially when you're clicking a lot. The name references to what it does, really.</td>
                  <td class="text-center align-middle">
                    <div><code class="code contrast mb-1">@nopickup</code></div>
                  </td>
                </tr>
                <!-- Party play -->
                <tr>
                  <td class="text-center" rowspan="6">Party</td>
                  <td>
                    <div><span>@autoloot</span></div>
                  </td>
                  <td>The shorten version works, but sometimes the values don't work properly, so stick to the longhand name.</td>
                  <td class="text-center align-middle"><code class="code contrast">@autoloot 85.5</code></td>
                </tr>
                <tr>
                  <td>
                    <div><span>@alootid</span></div>
                  </td>
                  <td>This is quite essential when farming for specific loots. You can either whitelist or blacklist up to 20 of them in any combination. It's quite finnicky to reset, so the best way is simply going to character selection and coming back.</td>
                  <td class="text-center align-middle">
                    <div><code class="code contrast mb-1">@alootid +123</code></div>
                    <div><code class="code contrast">@alootid -123|-143|+1465</code></div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div><span>@nopickup</span></div>
                  </td>
                  <td>You would be surprised how handy could this be specially when you're clicking a lot. The name references to what it does, really.</td>
                  <td class="text-center align-middle">
                    <div><code class="code contrast mb-1">@nopickup</code></div>
                  </td>
                </tr>

                  <!-- Extras -->

              </tbody>
            </table>

            <div class="d-flex w-100">
              <a href="https://www.novaragnarok.com/wiki/Player_Commands" target="_blank" class="link ms-auto" style="font-size: .75rem;">Commands</a>
            </div>
          </div>
          <!-- Useful NPCs -->
          <div id="Useful-NPCs" class="tab-pane fade" role="tabpanel" aria-labelledby="useful-npcs-tab" tabindex="0">
            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th class="text-center header">NPC</th>
                  <th class="text-center header">Description</th>
                  <th class="text-center header">Image</th>
                </tr>
              </thead>
              <tbody>
                <tr>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    

            <!-- THIS REQUIRES MASSIVE REWORK -->
    <div class="skills-usage d-none">
      <div>
        <h3 class="fs-5 header">Buffs</h3>
        <div>
          <div>
            <p class="w-100 m-0">This is use order.</p>
            <div class="d-flex align-items-center gap-1 flex-wrap"><img src="https://static.divine-pride.net/images/skill/7.png" alt="Magnum Break"><i class="fa-solid fa-caret-right"></i><img src="https://static.divine-pride.net/images/skill/357.png" alt="Concentration"><i class="fa-solid fa-caret-right"></i><img src="https://static.divine-pride.net/images/skill/355.png" alt="Aura Blade"><i class="fa-solid fa-caret-right"></i><img src="https://static.divine-pride.net/images/skill/356.png" alt="Parrying"><i class="fa-solid fa-caret-right"></i><img src="https://static.divine-pride.net/images/skill/60.png" alt="Two-Hand Quicken"><i class="fa-solid fa-caret-right"></i><img src="https://static.divine-pride.net/images/skill/2001.png" alt="Enchant Blade"></div>
          </div>
        </div>
      </div>
      <div>
        <h3 class="fs-5 header">Refresh time</h3>
        <div>
          <p class="fw-bold"><span class="number">10</span> seconds</p>
          <img src="https://static.divine-pride.net/images/skill/7.png" alt="Magnum Break" class="ms-3 mb-2">
          <p class="fw-bold"><span class="number">1</span> minute</p>
          <div class="d-flex align-items-center gap-1 ms-3 mb-2"><img src="https://static.divine-pride.net/images/skill/357.png" alt="Concentration"><img src="https://static.divine-pride.net/images/skill/355.png" alt="Aura Blade"><img src="https://static.divine-pride.net/images/skill/356.png" alt="Parrying"></div>
          <p class="fw-bold"><span class="number">5</span> minutes</p>
          <div class="d-flex align-items-center gap-1 ms-3 mb-2"><img src="https://static.divine-pride.net/images/skill/60.png" alt="Two-Hand Quicken"><img src="https://static.divine-pride.net/images/skill/2001.png" alt="Enchant Blade"></div>
        </div>
      </div>
      <div>
        <h3 class="fs-5 header">Offensive skills</h3>
        <div>idk what to do with this 3 sections, maybe i will remove it, but for now, just a WIP</div>
      </div>
    </div>
    
</div>

<style>
  /* Guide */
  #New-Player > div {
    color: hsl(var(--text));
    background-color: hsl(var(--main-dark));
    border-radius: 0.5em;
  }

  ul li p {
    margin: 0;
  }

  .item-desc:is(.img) {
    display: inline-flex;
    gap: .5em;
  }

  .intro-new-player {
    position: relative;
    isolation: isolate;

    background-image: 
      linear-gradient(
        0deg, 
        hsl(var(--main-dark)) 70%, 
        transparent
        ),
      url("../assets/img/bg/tinywow_wallpaperflare.com_wallpaper_8458767.webp");
    background-repeat: repeat-y;
    background-position: top center;
    background-size: contain;

    border-radius: .5em .5em 0 0;
  }

  .intro-new-player::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: hsl(var(--main-dark));
    opacity: 0.75;
    border-radius: .5em .5em 0 0;
  }

  .intro-new-player > div {
    color: hsl(var(--white));
  }

  .intro-new-player > p:nth-child(+n+2) {
    color: hsl(var(--white));
  }

  .selection {
    display: flex;
    flex-direction: column;

    width: 100%;
    position: relative;
  }

  .selection::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 5px;
    height: 101%;
    background-color: hsl(var(--main-light-1));
    z-index: 2;
  }

  .selection .article {
    display: block;
    margin: 0;
    width: 100%;
    position: relative;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 1em;

    color: hsl(var(--text));
    background-color: hsl(var(--main-light-1));
    border-radius: 0.5em;
    position: relative;

    box-shadow: 0 1px 2px hsl(var(--main-dark), 30%),
      0 1px 3px hsl(var(--main-dark), 30%);
    z-index: 10;
  }

  .content::before {
    content: "";
    position: absolute;
    background-color: hsl(var(--main-light-1));
    width: 10px;
    height: 10px;
    rotate: 45deg;
  }

  .content .content-table {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    background-color: hsl(var(--main-dark));
  }

  .content .content-link {
    width: 50%;
    padding: .5em;
    color: hsl(var(--nav-link));
    outline: .1ex solid hsl(var(--white), 5%);
    outline-offset: -.2ex;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
  }

  .content-table .content-link:is(:hover, :focus, :focus-within) {
    background-color: hsl(var(--important));
  }

  .content .content-link:nth-of-type(odd):last-child {
    width: 100%;
  }

  .icon {
    position: absolute;
    top: 0;
    left: calc(50% - 13.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(var(--white));
    background-color: hsl(var(--important));
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    z-index: 3;
    text-decoration: none;
  }

  .icon:is(:hover, :focus, :focus-within) {
    color: inherit;
    scale: 1.1;
    opacity: .9;
  }

  .icon:is(:active) {
    scale: 0.95;
  }

  .selection > :not(:first-child) {
    margin-block-start: clamp(-50px, 1vh + 1rem, -150px);
  }

  .selection > :nth-of-type(odd) .content::before {
    top: 10px;
    right: -5px;
  }

  .selection > :nth-of-type(odd) .content {
    margin-inline-end: auto;
    width: calc(50% - 2rem);
  }

  .selection > :nth-of-type(even) .content::before {
    top: 10px;
    left: -5px;
  }

  .selection > :nth-of-type(even) .content {
    margin-inline-start: auto;
    width: calc(50% - 2.5rem);
  }

  @media only screen and (max-width: 880px) {
    .selection {
      gap: 1.5rem;
      padding-inline-start: 3rem;
    }

    .selection::after {
      left: 0.5rem;
    }

    .icon {
      left: -54px;
    }

    .selection > :nth-of-type(odd) .content::before {
      top: 10px;
      left: -5px;
    }

    .selection > :not(:first-child) {
      margin-block-start: 0;
    }

    .selection > :nth-of-type(odd) .content {
      width: 100%;
      margin-inline-start: 0;
    }

    .selection > :nth-of-type(even) .content {
      width: 100%;
      margin-inline-start: 0;
    }
  }

  @media only screen and (max-width: 570px) {
    .content .content-link {
      width: 100%;
    }
  }

  .new-player-image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 0 0 0.5em 0.5em;
  }

  /* Basics */
  #Basics-Section > div > div:not(#Useful-Basics) {
    margin-block-end: .5em;
    padding: 1em;
    color: hsl(var(--text));
    background-color: hsl(var(--main-light-2));
    border-radius: 0.5em;
    box-shadow: 
      0 1px 2px hsl(var(--main-dark), 30%),
      0 1px 3px hsl(var(--main-dark), 30%);
  }

  .basics-container {
    padding: 1em;
    background-color: hsl(var(--main-light-3));
    border-radius: .5em;
    box-shadow: 
      0 1px 2px hsl(var(--main-dark), 30%),
      0 1px 3px hsl(var(--main-dark), 30%);
  }

  .list-item-container
   {
    flex: 1 0 100%;
    padding-inline-start: 2em;
  }

  .list-item-container .item-desc {
    margin-block-end: auto;
  }

  #Tutorial .tutorial-swappable li,
  #Eden-Academy .eden-academy-swappable li{
    flex-wrap: nowrap;
  }

  #Tutorial,
  #Eden-Academy {
    width: 100%;
  }

  #Tutorial > div:nth-of-type(1),
  #Eden-Academy > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  #Tutorial ul,
  #Eden-Academy ul {
    display: grid;
    gap: .5em;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  #Tutorial li,
  #Eden-Academy li {
    display: flex;
    flex-wrap: wrap;
    place-content: flex-start;
    padding: .5em;
    background-color: hsl(var(--main-light));
    border-radius: 0.25em;
    box-shadow: 0 1px 2px hsl(var(--main-dark), 30%),
      0 1px 3px hsl(var(--main-dark), 30%);
  }

  #Tutorial li::before,
  #Eden-Academy li::before {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    padding: 0 0.5em;
    color: hsl(var(--header));
  }

  #Tutorial .tutorial-rewards li::before,
  #Eden-Academy .eden-academy-rewards li::before {
    content: '\f06b';
  }

  .tutorial-rewards,
  .eden-academy-rewards {
    display: none;
  }

  #Tutorial .tutorial-rewards ul,
  #Eden-Academy .eden-academy-rewards ul {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  }

  /* Leveling */
  .basics-leveling-info {
    height: 100%;
  }

  .leveling-methods {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  @media only screen and (max-width: 768px) {
    .leveling-methods {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .leveling-methods > div {
    display: flex;
    flex-direction: column;
  }

  .leveling-info  {
    min-height: 100%;

    display: flex;
    gap: 1em;

    padding: .75em;
    background-color: hsl(var(--main-light-3));
    border-radius: .5em;
  }

  .leveling-methods h4 img {
    width: 28px;
    height: 28px;
  }

  .leveling-methods p {
    margin: 0;
  }

  .leveling-methods img:not(.item, .item-holder) {
    align-self: flex-start;

    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    border-radius: .25em;
    box-shadow: 
      0 1px 2px hsl(var(--main-dark), 30%),
      0 1px 3px hsl(var(--main-dark), 30%);

    object-fit: none;
  }

  img[data-fix-portrait="npcs"] {
    object-fit: initial !important;
  }

  /* Basics Farming */  
  .item-holder {
    width: 28px;
    height: 28px;

    background-color: #435785;
    border: 1px solid hsl(var(--text), 30%);
    border-radius: .25em;

    box-shadow: 
      0 1px 2px #141624,
      0 1px 3px #141624;
    
    object-fit: none;
  }

  #Basics-Farming .leveling-info {
    flex-direction: column;
    gap: .25em;
  }

  #Basics-Farming .leveling-methods h4 {
    display: flex;
    align-items: center;
    gap: .5em;
  }

  .ranking-tier {
    display: flex;
    justify-content: space-around;
    width: 100%;

    margin-block-start: auto;
    padding: .5em;

    background-color: hsl(var(--main-light));
    border-radius: .5em;
    
    text-align: center;
    font-size: .875rem;

    box-shadow: 
      0 1px 2px hsl(var(--main-dark), 30%),
      0 1px 3px hsl(var(--main-dark), 30%);
  }

  .ranking-tier p {
    margin: 0;
  }

  /* Useful stuff */
  #Useful-Basics {
    display: flex;
    gap: 0;
  }

  .tab-content {
    color: hsl(var(--text));
    background-color: hsl(var(--main-light-3));
    width: 100%;
    border-radius: .5em 0 0.5em 0.5em !important;

    overflow-x: auto;
  }

  .tab-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .tab-buttons button {
    text-decoration: none;
    border: none;

    color: hsl(var(--white));
    background-color: hsl(var(--main-dark));

    padding: 0.25em 1em;
  }

  .tab-buttons button:is(:hover, :focus) {
    background-color: hsl(var(--important));
  }

  @media only screen and (max-width: 570px) {
    .tab-content {
      border-radius: 0 0 0.5em 0.5em !important;
    }

    .tab-buttons {
      width: 100%;
    }

    .tab-buttons button {
      flex: 1;
      outline: 0.1ex solid hsl(var(--white), 5%);
      outline-offset: -0.1ex;
    }
  }

  .table {
    --bs-table-color: hsl(var(--white));
    --bs-table-border-color: hsl(var(--text), 10%);
    --bs-table-striped-color: hsl(var(--white));
    margin-bottom: 0;
  }

  .table thead tr {
    background-color: hsl(var(--main-dark));
  }

  .table .code {
    white-space: nowrap;
  }

</style>