<section id="Skills" class="mb-4">
    <h2 class="fs-5">Skills</h2>
  
    <!-- Collapse all section -->
    <div class="p-3">
      <h3 class="fs-5 header">Distribution priority</h3>
      <div class="skills-intro-wrapper">
        <div>
          <p class="m-0 pe-1">These are the minimum required skills points to perform the build accordingly. Any extra points can be allocated freely at your will.</p>
          <p class="low-focus mb-3">Click/tap on the skills to learn more about them.</p>
        </div>
        <button class="toggle skills ms-auto" type="button" aria-label="Toggle names on and off" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Toggle names"><i class="fa-solid fa-eye"></i></button>
      </div>
      <div class="skill-priority-grid">
          <!-- 1st Job -->
          <div class="skill-priority-wrapper">
            <div class="job-name-title">
              <img loading="lazy" src="/assets/img/icons/swordman.webp" alt="Swordman icon">
              <h4>Swordman</h4>
              <span class="tag ms-auto">42 points</span>
            </div>
            <div class="skill-icons-wrapper shadow-container">
              <div class="skill-icons">
                  <a href="https://www.divine-pride.net/database/skill/2/sword-mastery" target="_blank" class="skill not-required"><span>1</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/2.png" alt="Sword Mastery"><span class="name-toggle">Sword Mastery</span></a>
                  <a href="https://www.divine-pride.net/database/skill/4/increase-hp-recovery" target="_blank" class="skill"><span>10</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/4.png" alt="Increase HP Recovery"><span class="name-toggle">Increase HP Recovery</span></a>
                  <a href="https://www.divine-pride.net/database/skill/8201/bash" target="_blank" class="skill"><span>5</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/8201.png" alt="Bash"><span class="name-toggle">Bash</span></a>
                  <a href="https://www.divine-pride.net/database/skill/8232/provoke" target="_blank" class="skill"><span>5</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/8232.png" alt="Provoke"><span class="name-toggle">Provoke</span></a>
                  <a href="https://www.divine-pride.net/database/skill/3/two-handed-sword-mastery" target="_blank" class="skill"><span>10</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/3.png" alt="Two-Handed Sword Mastery"><span class="name-toggle">Two-Handed Sword Mastery</span></a>
                  <a href="https://www.divine-pride.net/database/skill/7/magnum-break" target="_blank" class="skill"><span>10</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/7.png" alt="Magnum Break"><span class="name-toggle">Magnum Break</span></a>
                  <a href="https://www.divine-pride.net/database/skill/8/endure" target="_blank" class="skill"><span>1</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/8.png" alt="Endure"><span class="name-toggle">Endure</span></a>
                  <a class="skill opacity-75"></a>
                  <a class="skill opacity-75"></a>
                  <a class="skill opacity-75"></a>
                  <a class="skill opacity-75"></a>
                  <a class="skill opacity-75"></a>
                </div>
            </div>
          </div>
          <!-- 2nd job -->
          <div class="skill-priority-wrapper">
            <div class="job-name-title">
              <img loading="lazy" src="/assets/img/icons/knight.webp" alt="Knight icon">
              <h4>Lord Knight</h4>
              <span class="tag ms-auto">48 points</span>
            </div>
            <div class="skill-icons-wrapper shadow-container">
              <div class="skill-icons">
                  <a href="https://www.divine-pride.net/database/skill/60/two-hand-quicken" target="_blank" class="skill"><span>10</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/60.png" alt="Two-Hand Quicken"><span class="name-toggle">Two-Hand Quicken</span></a>
                  <a href="https://www.divine-pride.net/database/skill/63/peco-peco-ride" target="_blank" class="skill"><span>1</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/63.png" alt="Riding"><span class="name-toggle">Riding</span></a>
                  <a href="https://www.divine-pride.net/database/skill/55/spear-mastery" target="_blank" class="skill"><span>5</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/55.png" alt="Spear Mastery"><span class="name-toggle">Spear Mastery</span></a>
                  <a href="https://www.divine-pride.net/database/skill/356/parry" target="_blank" class="skill"><span>10</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/356.png" alt="Parrying"><span class="name-toggle">Parrying</span></a>
                  <a href="https://www.divine-pride.net/database/skill/64/cavalier-mastery" target="_blank" class="skill"><span>1</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/64.png" alt="Cavalier Mastery"><span class="name-toggle">Cavalier Mastery</span></a>
                  <a href="https://www.divine-pride.net/database/skill/8216/pierce" target="_blank" class="skill"><span>5</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/8216.png" alt="Pierce"><span class="name-toggle">Pierce</span></a>
                  <a href="https://www.divine-pride.net/database/skill/355/aura-blade" target="_blank" class="skill"><span>5</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/355.png" alt="Aura Blade"><span class="name-toggle">Aura Blade</span></a>
                  <a href="https://www.divine-pride.net/database/skill/357/spear-dynamo" target="_blank" class="skill"><span>5</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/357.png" alt="Concentration"><span class="name-toggle">Concentration</span></a>
                  <a href="https://www.divine-pride.net/database/skill/58/spear-stab" target="_blank" class="skill"><span>5</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/58.png" alt="Spear Stab"><span class="name-toggle">Spear Stab</span></a>
                  <a href="https://www.divine-pride.net/database/skill/397/clashing-spiral" target="_blank" class="skill"><span>1</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/397.png" alt="Spiral Pierce"><span class="name-toggle">Spiral Pierce</span></a>
                  <a class="skill opacity-75"></a>
                  <a class="skill opacity-75"></a>
              </div>
            </div>
          </div>
          <!-- 3rd job -->
          <div class="skill-priority-wrapper">
            <div class="job-name-title">
              <img loading="lazy" src="/assets/img/icons/runeknight.webp" alt="Rune Knight icon">
              <h4>Rune Knight</h4>
              <span class="tag ms-auto">30 points</span>
            </div>
            <div class="skill-icons-wrapper shadow-container">
              <div class="skill-icons">
                  <a href="https://www.divine-pride.net/database/skill/2010/rune-mastery" target="_blank" class="skill"><span>10</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/2010.png" alt="Rune Mastery"><span class="name-toggle">Rune Mastery</span></a>
                  <a href="https://www.divine-pride.net/database/skill/2007/dragon-training" target="_blank" class="skill"><span>5</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/2007.png" alt="Dragon Training"><span class="name-toggle">Dragon Training</span></a>
                  <a href="https://www.divine-pride.net/database/skill/2001/enchant-blade" target="_blank" class="skill"><span>10</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/2001.png" alt="Enchant Blade"><span class="name-toggle">Enchant Blade</span></a>
                  <a href="https://www.divine-pride.net/database/skill/2005/wind-cutter" target="_blank" class="skill"><span>5</span> <img loading="lazy" src="https://static.divine-pride.net/images/skill/2005.png" alt="Wind Cutter"><span class="name-toggle">Wind Cutter</span></a>
                  <a class="skill opacity-75"></a>
                  <a class="skill opacity-75"></a>
                  <a class="skill opacity-75"></a>
                  <a class="skill opacity-75"></a>
              </div>
            </div>
          </div>
          <!-- 4th job -->
          <div class="skill-priority-wrapper">
            <div class="job-name-title">
              <img loading="lazy" src="/assets/img/icons/dragonknight.webp" alt="Dragon Knight icon">
              <h4>Dragon Knight</h4>
              <span class="tag ms-auto">48 points</span>
            </div>
            <div class="skill-icons-wrapper shadow-container">
              <div class="skill-icons">
                  <a href="https://www.divine-pride.net/database/skill/5201/servant-weapon" target="_blank" class="skill"><span>5</span><img loading="lazy" src="https://static.divine-pride.net/images/skill/5201.png" alt="Servant Weapon"><span class="name-toggle">Servant Weapon</span></a>
                  <a href="https://www.divine-pride.net/database/skill/5207/two-hand-defending" target="_blank" class="skill"><span>10</span><img loading="lazy" src="https://static.divine-pride.net/images/skill/5207.png" alt="Two Hand Defending"><span class="name-toggle">Two Hand Defending</span></a>
                  <a href="https://www.divine-pride.net/database/skill/5203/servant-weapon-sign" target="_blank" class="skill"><span>5</span><img loading="lazy" src="https://static.divine-pride.net/images/skill/5203.png" alt="Servant Weapon - Sign"><span class="name-toggle">Servant Weapon - Sign</span></a>
                  <a href="https://www.divine-pride.net/database/skill/5208/hack-and-slasher" target="_blank" class="skill"><span>5</span><img loading="lazy" src="https://static.divine-pride.net/images/skill/5208.png" alt="Hack And Slasher"><span class="name-toggle">Hack And Slasher</span></a>
                  <a href="https://www.divine-pride.net/database/skill/5204/servant-weapon-phantom" target="_blank" class="skill"><span>5</span><img loading="lazy" src="https://static.divine-pride.net/images/skill/5204.png" alt="Servant Weapon - Phantom"><span class="name-toggle">Servant Weapon - Phantom</span></a>
                  <a href="https://www.divine-pride.net/database/skill/5213/storm-slash" target="_blank" class="skill"><span>5</span><img loading="lazy" src="https://static.divine-pride.net/images/skill/5213.png" alt="Storm Slash"><span class="name-toggle">Storm Slash</span></a>
                  <a href="https://www.divine-pride.net/database/skill/5205/servant-weapon-demolition" target="_blank" class="skill"><span>3</span><img loading="lazy" src="https://static.divine-pride.net/images/skill/5205.png" alt="Servant Weapon - Demolition"><span class="name-toggle">Servant Weapon - Demolition</span></a>
                  <a href="https://www.divine-pride.net/database/skill/5212/vigor" target="_blank" class="skill"><span>10</span><img loading="lazy" src="https://static.divine-pride.net/images/skill/5212.png" alt="Vigor"><span class="name-toggle">Vigor</span></a>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

<style>
  /* Skills */
  #Skills > div {
    border-radius: 0.5em;
    color: hsl(var(--text));
    background-color: hsl(var(--main-light-2));
  }

  .skills-intro-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skill-priority-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  .skill-priority-wrapper {
    display: flex;
    flex-direction: column;
  }

  .skill-icons-wrapper {
    flex: 1;

    padding: .5em;
    background-color: hsl(var(--main-light-3));
    border-radius: .5em;
  }

  .job-name-title {
    display: flex;
    align-items: center;
    gap: .25em;

    margin-block-end: .25em;
  }

  .job-name-title img {
    display: inline-block;
    width: 33px;
    height: 33px;
    object-fit: none;
  }

  .job-name-title h4 {
    color: hsl(var(--header));
    font-size: 1.1rem;
    margin: 0;
  }

  .job-name-title .tag {
    align-self: flex-end;
  }

  .skill-icons {
    display: flex;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    /* grid-auto-rows: 1fr; */
    gap: .25em;
  }

  /* remove this to go back */
  .skill-icons a {
    flex: 1 0 100px;
    height: 2.5em;
  }

  .grid-expanded {
    width: 100%;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  }

  /* remove this to go back */
  .grid-expanded > a {
    flex: 1 0 150px;
    height: 3.5em;
  }

  .name-toggle {
    flex: 1 0 100%;
    display: none;
  }

  @media only screen and (max-width: 770px) {
    .skill-priority-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .skill:is(.opacity-75) {
      display: none;
    }
  }
</style>
