<button
    type="button"
    id="btn-back-to-top"
    aria-label="Button that returns to the top of the page visually">
    <i class="fas fa-arrow-up"></i>
</button>

<script>
    import "/src/js/utility/gotopbutton.js";
</script>